{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm">				
				{# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont il a la responsabilité #}
				{% if is_granted('ROLE_SCENARISTE', app.user) %}
					{% include 'homepage/fragment/scenariste.twig' with {'user': user} %}
				{% endif %}
												
				{# gestion administrative #}
				{% include 'homepage/fragment/administration.twig' with {'user': user} %}
			</div>
		</div>
		<div class="col-md-9">		
			{# affichage des événements passé et futur #}
			<div class="well well-sm">
				<div class="header">
					<h5>Vos jeux</h5>
				</div>
				
				{% if not user.participants %}
					<p>Vous ne participez à aucun jeu. Nous vous proposons de parcourir la liste des jeux proposés par Eve-Oniris et d'en sélectionner un.</p>
				{% endif %}

				<ul class="list-group">
					<li class="list-group-item">
						<a href="{{ path('gn.list') }}">Voir la liste des jeux</a>
					</li>
				{% for participant in user.participants %}
					<li class="list-group-item">
    					<a href="{{ path('gn.detail', {'gn': participant.gn.id}) }}">
    						{{ participant.gn.label }}
    					</a>
						&nbsp;//&nbsp;
    					{% if not participant.gn.isPast %}
	    					{% if participant.billet %}
	    						<span class="text-success">{{ participant.billet.label }}</span>
	    					{% else %}
	    						<span class="text-danger">Un billet est obligatoire pour l'accès au jeu : 
	    						<a href="{{ path('gn.billetterie', {'gn': participant.gn.id}) }}">Billetterie</a>
	    						</span>
	    					{% endif %}
	    				{% else %}
	    					<span class="text-notice">Le jeu est terminé</span>
	    				{% endif %}
						{% if participant.personnage  %}
							// <a href="{{ path('gn.personnage',{'gn': participant.gn.id}) }}">{{ participant.personnage.nom }} ({{ participant.personnage.surnom }})</a> 
						{% else %}
							// Vous n'avez pas de personnage actif pour ce jeu.
						{% endif %}
						{% if participant.groupeGn %}
							- <a href="{{ path('groupeGn.groupe',{'groupeGn': participant.groupeGn.id}) }}">{{ participant.groupeGn.groupe.nom }}</a>
						{% else %}
							- <a href="{{ path('participant.groupe.join', {'participant': participant.id}) }}"><i class="fa fa-users"></i> Rejoindre un groupe</a>
						{% endif %}
    				</li>
    			{% endfor %}
				</ul>
			</div>
			
						
			{% if is_granted('ROLE_SCENARISTE', app.user) %}
				<div class="well well-sm">
					<div class="header">
						<h5>Intrigues liées à vos groupes</h5>
					</div>
					<a href="{{ path('intrigue.list') }}">Liste de toutes les intrigues actives</a>
					<div class="list-group">
						{% for groupe in app.user.groupeScenariste %}
							{% for intrigueHasGroupe in groupe.intrigueHasGroupes %}
								{% if intrigueHasGroupe.intrigue.state ==  "ACTIF" %}
									<a class="list-group-item text-success" href="{{ path('intrigue.detail', {'intrigue': intrigueHasGroupe.intrigue.id}) }}">{{groupe.nom}} -- {{ intrigueHasGroupe.intrigue.titre }}</a>
								{% endif %}
							{% else %}
								<a class="list-group-item text-danger" href="{{ path('intrigue.add') }}">Attention, aucune intrigue active ne concerne votre groupe {{ groupe.nom }}. Vous devriez peut-être en définir une.</a>
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
						
			{# affichage des annonces #}
			{% include 'homepage/fragment/annonces.twig' with {'annonces': annonces} %}
			
		</div>		
	</div>	
{% endblock content %}