{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}
	   		
	<div class="row">
	
		<div class="col-xs-12 col-md-6">
		
			<div class="well well-sm">
				<h4>
					Bienvenue {{ app.user.name }}
				</h4>
			</div>
						
			{% if not app.user.etatCivil  
				or app.user.groupes|length == 0 
				or app.user.personnages|length == 0 %}
				<div class="well well-sm">
					<h6>Liste des choses importantes à faire :</h6>
					<ol>
					{% if not app.user.etatCivil %}
						<li>Enregistrer mon état-civil</li>
					{% endif %}
									
					{% if app.user.groupes|length == 0 %}
						<li>S'inscrire dans un groupe</li>
					{% endif %}
					
					{% if app.user.personnages|length == 0 %}
						<li>Créer mon personnage</li>
					{% endif %}
					</ol>
				</div>
			{% endif %}
		
			{# enregistrement de l'état-civil #}
			{% if not app.user.etatCivil %}
				<div class="panel panel-success">
					<div class="panel-heading">{% trans %}record_player_title{% endtrans %}</div>
					<div class="panel-body">
						<p>{% trans %}record_player_explain{% endtrans %}</p>
						<a class="btn btn-default" href="{{ path('user.information.add', {'id': app.user.id}) }}">{% trans %}record_player_link{% endtrans %}</a>
					</div>
				</div>
			{% else %}
			
				{% if app.user.groupes|length == 0 %}
					{# inscription dans un groupe #}
					<div class="panel panel-success">
						<div class="panel-heading">{% trans %}subscribe_group_title{% endtrans %}</div>
						<div class="panel-body">
							<p>{% trans %}subscribe_group_explain{% endtrans %}</p>
							{{ include("homepage/fragment/form_groupe.twig",{'form': form_groupe,'action': path('homepage.inscription')}) }}
						</div>
					</div>
				{% else %}
					{# detail du personnage #}
					{% if app.user.personnage %}
						{{ include("homepage/fragment/personnage.twig",{'personnage':app.user.personnage}) }}
						<div class="panel panel-info">
							<div class="panel-heading">Personnage secondaire</div>
							<div class="panel-body">
								<p>Le personnage secondaire est un archétype que vous pouvez utiliser dans le cas ou votre personnage principale venait à trépasser (ce que nous ne souhaitons pas, mais l'hyborée est un monde violent dans lequel les pires choses sont possibles)</p>
							</div>
						</div>
					{% endif %}
						
					{# Détail des groupes#}
					{% for groupe in app.user.groupes %}
						{{ include("homepage/fragment/groupe.twig",{'groupe':groupe}) }}
					{% endfor %}
						
				{% endif %}
			{% endif %}
		</div>
		
		<div class="col-xs-12 col-md-6">
		
			{# affichage de l'annonce la plus récente et du lien vers les archives des annonces #}
			{% for annonce in annonces %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{ annonce.title }}
					</div>
					<div class="panel-body">
						{{ annonce.text|markdown }}
					</div>
				</div>
			{% endfor %}
		
			{# afficher la liste des gns dans lequel le joueur est inscrit #}
			{% if app.user.gns|length > 0 %}
				<div class="panel panel-default">
					<div class="panel-heading">{% trans %}gn_list_title{% endtrans %}</div>
					<div class="panel-body">
						<div class="list-group">
						{% for gn in app.user.gns %}
							<a class="list-group-item" href="{{ path('gn.detail', {'index': gn.id}) }}">{{ gn.label }}</a>
						{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>		
	
{% endblock content %}
