{% extends "layout.twig" %}

{% block content %}

	{# si l'utilisateur est connecté, lui afficher un message de bienvenu
	   sinon lui afficher des liens vers les pages de création de compte ou de login #}
	   
	{% if app.user %}	
		<div class="well well-sm">
			<h4>
				Bienvenue {{ app.user.name }}
			</h4>
		</div>
	{%  else %}
		<div class="panel panel-warning">
			<div class="panel-heading">
				Vous n'êtes pas connecté
			</div>
		  	<div class="panel-body">
		  		<p>Si vous disposez d'un compte, <a href="{{ path('user.login') }}">connectez-vous</a>.</p>
		  		<p>Sinon <a href="{{ path('user.register') }}">créez un compte</a>.</p>
		  	</div>
	  	</div>
	{%  endif %}
	
	
	{# affichage de l'annonce la plus récente et du lien vers les archives des annonces #}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			Une annonce publique
		</div>
		<div class="panel-body">
			La page d'acceuil présentera des annonces publiques
		</div>
	</div>
	
	
	{# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont
	   il a la responsabilité #}
	
	{% if is_granted('ROLE_SCENARISTE', app.user) %}
		{% if app.user.groupeScenariste|length > 0 %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Scénariste : groupes dont vous avez la charge
			</div>
			<div class="panel-body">
				<div class="col-xs-6 col-md-3">
					{% for groupe in app.user.groupeScenariste %}
					<div class="thumbnail">
						<div class="caption">
							<h3>{{ groupe.nom }}</h3>
							<p><a class="btn btn-primary" role="button" href="{{ path('groupe.detail',{'index':groupe.id}) }}">Détail</a></p>
						</div>
					</div>			
					{% endfor %}
				</div>	
			</div>
		</div>
		{%  endif %}
	{% else %}
	
		{# si l'utilisateur n'a *que* le role USER, lui afficher les liens
		   soit vers la création des informations joueurs
		   soit vers l'inscription dans un gn
		   soit vers l'inscription dans un groupe #}
		   
		{% if is_granted('ROLE_USER', app.user) %}
		
			{# si l'utilisateur n'a pas de joueur #}
			{% if not app.user.joueur %}
				<div class="panel panel-default">
					<div class="panel-heading">{% trans %}record_player_title{% endtrans %}</div>
					<div class="panel-body">
						<p>{% trans %}record_player_explain{% endtrans %}</p>
						<a class="btn btn-default" href="{{ path('joueur.add') }}">{% trans %}record_player_link{% endtrans %}</a>
					</div>
				</div>
			{% else %}
			
				{# afficher la liste des gns dans lequel le joueur est inscrit #}
				{% if app.user.joueur.gns|length > 0 %}
					<div class="panel panel-default">
						<div class="panel-heading">{% trans %}gn_list_title{% endtrans %}</div>
						<div class="panel-body">
							{% for gn in gns %}
								{{ gn.label }}
							{% endfor %}
						</div>
					</div>
				{% endif %}
				
				{# si le joueur est inscrit dans au moins 1 gn, proposer une inscription dans un groupe #}
				{%  if app.user.gns|length >= 1 %}
					<div class="panel panel-default">
						<div class="panel-heading">{% trans %}subscribe_group_title{% endtrans %}</div>
						<div class="panel-body">
							<p>{% trans %}subscribe_group_explain{% endtrans %}</p>
							{{ include("homepage/fragment/form_groupe.twig",{'form': form_groupe,'action': path('homepage.inscription')}) }}
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}	
	
{% endblock content %}