{% extends "layout.twig" %}

{% block content %}
	<div class="page-header">
	<h1>LarpManager
		{% if app.user %}
			<small>Bienvenue {{ app.user.name }}</small>
		{% endif %}
	</h1>
	</div>
	
	{% if not app.user %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			Vous n'êtes pas connecté
		</div>
	  	<div class="panel-body">
	  		<p>Si vous disposez d'un compte, <a href="{{ path('user.login') }}">connectez-vous</a>.</p>
	  		<p>Sinon <a href="{{ path('user.register') }}">créez un compte</a>.</p>
	  	</div>
  	</div>
	{%  endif %}
	
	<div class="panel panel-info">
		<div class="panel-heading">
			Une annonce publique
		</div>
		<div class="panel-body">
			La page d'acceuil présentera des annonces publiques
		</div>
	</div>
	
	{% if is_granted('ROLE_SCENARISTE', app.user) %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Liste des groupes dont vous avez la charge :
			</div>
			<div class="panel-body">
				<ul>
				{% for groupe in app.user.groupeScenariste %}
					<li><a href="{{ path('groupe.detail',{'index':groupe.id}) }}">{{ groupe.nom }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
	
{% endblock %}