{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm">				
				{# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont il a la responsabilité #}
				{% if is_granted('ROLE_SCENARISTE', app.user) %}
					{% include 'homepage/fragment/scenariste.twig' with {'user': user} %}
				{% endif %}
				
				{# liste des personnages de l'utilisateur #}
				{% include 'homepage/fragment/personnages.twig' with {'personnages': user.personnages} %}
				
				{# gestion du personnage secondaire #}
				{% include 'homepage/fragment/personnageSecondaire.twig' with {'personnageSecondaire': user.personnageSecondaire} %}
												
				{# gestion administrative #}
				{% include 'homepage/fragment/administration.twig' with {'user': user} %}
			</div>
		</div>
		<div class="col-md-9">
			<div class="well well-sm">
				<div class="header">
					<h5>Rappels</h5>
				</div>
				
				{% if not user.personnageSecondaire %}
					<div class="alert alert-danger" role="alert">
						<p>
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
							Vous <strong>devez</strong>&nbsp;<a href="{{ path('user.personnageSecondaire') }}">choisir un personnage secondaire</a>.
						</p>
					</div>
				{% endif %}
				
				{% if not user.etatCivil %}
					<div class="alert alert-danger" role="alert">
						<p>
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
							Vous <strong>devez</strong> remplir votre état civil.
						</p>
					</div>
				{% endif %}
				
				{% if user.personnages|length == 0 %}
					<div class="alert alert-danger" role="alert">
						<p>
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
							Vous <strong>devez</strong> créer un personnage.
						</p>
					</div>
				{% endif %}
				
				{% for personnage in user.personnages %}
					{% if not personnage.trombineUrl %}
						<div class="alert alert-danger" role="alert">
							<p>
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
								Votre personnage {{ personnage.nom }} {{ personnage.surnom }} n'a pas photo. Cette photo est utilisé pour les trombinoscopes afin que les autres joueurs en intéraction avec vous puissent vous reconnaitre.
								<a href="{{ path('personnage.trombine.update', {'personnage': personnage.id}) }}">Choisir une photo</a>
							</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{% for  annonce in annonces%}
				<div class="well well-sm">
					<div class="header">
						<h5>{{ annonce.title }}</h5>
					</div>
					{{ annonce.text|markdown }}
				</div>
			{% endfor %}
		</div>		
	</div>	
{% endblock content %}