{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}
	   		
	<div class="row">
	
		<div class="col-xs-12 col-md-6">
		
			<div class="well well-sm">
				<h4>
					Bienvenue {{ app.user.name }}
				</h4>
				{# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont
				   il a la responsabilité #}
	
				{% if is_granted('ROLE_SCENARISTE', app.user) %}
					{% if app.user.groupeScenariste|length > 0 %}				
						<div class="dropdown">
						  <a class="btn btn-default" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						    Scénariste : Groupes dont vous avez la charge
						    <span class="caret"></span>
						  </a>
						
						  <ul class="dropdown-menu" aria-labelledby="dLabel">
						    {% for groupe in app.user.groupeScenariste %}
								<a class="list-group-item" href="{{ path('groupe.detail', {'index': groupe.id}) }}">{{ groupe.nom }}</a>
							{% endfor %}
						  </ul>
						</div>
					{%  endif %}
				{% endif %}
			</div>
						
			{% if is_granted('ROLE_MODERATOR', app.user) %}
				{{ include("homepage/fragment/new_posts.twig") }}
			{% endif %}
			
			{# creation de personnages #}
			<div class="panel panel-default">
				<div class="panel-heading">
					Votre personnage
				</div>
				<div class="panel-body">
					<div class="list-group">
						
						{% for personnage in app.user.personnages %}
							<a class="list-group-item" href="{{ path('personnage.admin.detail',{'personnage':personnage.id}) }}">#{{ personnage.id }} - {{ personnage.nom }}&nbsp;{{ personnage.surnom }} - {{ personnage.classeName }}</a>
						{% else %}
							<a class="list-group-item" href="{{ path('personnage.admin.add') }}">Créer un personnage</a>
						{% endfor %}
					</div>
				</div>
			</div>
			
			
		</div>
		
		<div class="col-xs-12 col-md-6">
		
			{# affichage de l'annonce la plus récente et du lien vers les archives des annonces #}
			{% for annonce in annonces %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{ annonce.title }}
					</div>
					<div class="panel-body">
						{{ annonce.text|markdown }}
					</div>
				</div>
			{% endfor %}
						
		</div>
	</div>
	
{% endblock content %}