{% extends "layout.twig" %}

{% block title %}Le monde{% endblock title %}
       
{% block style %}

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

	    <link rel="stylesheet" href="{{ app.request.basepath }}/leaflet/leaflet.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/leaflet/L.Control.MousePosition.css" />
        <link rel="stylesheet" href="{{ app.request.basepath }}/leaflet/leaflet.draw.css" />
        
		<style>		
			html, body, #content {
			    height: 100%;
			    width: 100%;
  				overflow: hidden;
			}
			body {
				padding-top: 50px;
			}
			
			#map {
				width: auto;
  				height: 100%;
			}
			.navbar {
				margin-bottom:0px;
				margin-top: -50px;
			}
			#content {
				padding: 0 0 0 0;
			}
			
			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
				width: 300px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}

		</style>
{% endblock %}

{% block content %}
		<div id="map"></div>
{% endblock %}

{% block javascript %}



<script src="{{ app.request.basepath }}/leaflet/leaflet.js"></script>
<script src="{{ app.request.basepath }}/leaflet/L.Control.MousePosition.js"></script>
<script src="{{ app.request.basepath }}/leaflet/leaflet.draw.js"></script>

<script>
	var yx = L.latLng;
	
	var xy = function(x, y) {
		if (L.Util.isArray(x)) {    // When doing xy([x, y]);
			return yx(x[1], x[0]);
		}
		return yx(y, x);  // When doing xy(x, y);
	};
	
	var mapMinZoom = 0;
	var mapMaxZoom = 5;
	var map = L.map('map', {
	  maxZoom: mapMaxZoom,
	  minZoom: mapMinZoom,
	  crs: L.CRS.Simple
	}).setView([0, 0], mapMaxZoom);
	
	var mapBounds = new L.LatLngBounds(
	    map.unproject([0, 4352], mapMaxZoom),
	    map.unproject([6144, 0], mapMaxZoom));

	map.fitBounds(mapBounds);

	var info = L.control();
	info.onAdd = function(map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		if ( props && ! props.description ) props.description = 'Aucune description';
		this._div.innerHTML = '<h4>Informations</h4>' + (props ? '<b>' + props.name + '</b><br />'
				+ props.description : 'Passez la sourie par dessus un territoire');
	};

	info.addTo(map);
		

	L.tileLayer('img/map/{z}/{x}/{y}.png', {
        minZoom: mapMinZoom, 
        maxZoom: mapMaxZoom,
        bounds: mapBounds,
        attribution: 'Rendered with <a href="http://www.maptiler.com/">MapTiler</a>',
        noWrap: true,
        tms: false,
        id: 'hyboree',
        continuousWorld: true
      }).addTo(map);

	map.keyboard.enable();
	L.control.mousePosition().addTo(map);	

	// attache une popup a toutes les geométrie
	function mouseoverfunction(e) 
	{
		var layer = e.target;
		info.update(layer.feature.properties);
	}

	function mouseoutfunction(e)
	{
		info.update();
	}
	
	function onEachFeature(feature, layer) {
	    if (feature.properties ) {
	        layer.bindPopup(feature.properties.name);
	        layer.on({
		        mouseover: mouseoverfunction,
			    mouseout: mouseoutfunction
		    });
	    }
	}

	var countries_boundary = new L.geoJson(false, {onEachFeature: onEachFeature});
	countries_boundary.addTo(map);

	$.ajax({
		dataType: "json",
		url: "world/countries.json",
		success: function(data) {
		    $(data).each(function(key, country) {
		    	var geom = JSON.parse(country.geom);
		    	geom.properties.name = country.name;  	
		    	geom.properties.description = country.description;
		    	countries_boundary.addData(geom);
		    });
		}
		}).error(function() {});


	
	//Initialise the FeatureGroup to store editable layers
	var drawnItems = new L.FeatureGroup();
	map.addLayer(drawnItems);

	// Initialise the draw control and pass it the FeatureGroup of editable layers
	var drawControl = new L.Control.Draw({
	    edit: {
	        featureGroup: drawnItems
	    }
	});
	map.addControl(drawControl);
	
	map.on('draw:created', function (e) {
	    var type = e.layerType,
	        layer = e.layer;
	
	    if (type === 'marker') {
	        // Do marker specific actions
	    }
	
	    // Do whatever else you need to. (save to db, add to map etc)
	    alert(JSON.stringify(layer.toGeoJSON()));
	    layer.addTo(drawnItems);
	    map.addLayer(layer);
	});
	
	map.on('draw:edited', function (e) {
	    var layers = e.layers;
	    layers.eachLayer(function (layer) {
	        //do whatever you want, most likely save back to db
	    	alert(JSON.stringify(layer.toGeoJSON()));
	    });
	});


</script>

{% endblock %}