{% if personnage.hasCompetence('Alchimie') %}
	<div class="header">
		<h5>Alchimie</h5>
	</div>
	
	{% if personnage.hasTrigger('ALCHIMIE APPRENTI') %}
		<blockquote>
			<p>Votre compétence Alchimie vous permet de choisir une potion de niveau apprenti.</p>
			<a href="{{ path('personnage.magie.potion', {'personnage': personnage.id, 'niveau' : 1}) }}">Choisir une nouvelle potion</a>
		</blockquote>
	{% endif %}
	
	{% if personnage.hasTrigger('ALCHIMIE INITIE') %}
		<blockquote>
			<p>Votre compétence Alchimie vous permet de choisir une potion de niveau initié.</p>
			<a href="{{ path('personnage.magie.potion', {'personnage': personnage.id, 'niveau' : 2}) }}">Choisir une nouvelle potion</a>
		</blockquote>
	{% endif %}
	
	{% if personnage.hasTrigger('ALCHIMIE EXPERT') %}
		<blockquote>
			<p>Votre compétence Alchimie vous permet de choisir une potion de niveau expert.</p>
			<a href="{{ path('personnage.magie.potion', {'personnage': personnage.id, 'niveau' : 3}) }}">Choisir une nouvelle potion</a>
		</blockquote>
	{% endif %}
	
	{% if personnage.hasTrigger('ALCHIMIE MAITRE') %}
		<blockquote>
			<p>Votre compétence Alchimie vous permet de choisir une potion de niveau maitre.</p>
			<a href="{{ path('personnage.magie.potion', {'personnage': personnage.id, 'niveau' : 4}) }}">Choisir une nouvelle potion</a>
		</blockquote>
	{% endif %}
	
	<h6>Liste de vos potions</h6>
	<div class="list-group">
		{% for potion in personnage.potions %}
			<a class="list-group-item" href="{{ path('participant.potion.detail', {'participant': participant.id, 'potion': potion.id}) }}">{{ potion.label }} - Niveau {{ potion.niveau }}</a>
		{% endfor %}
	</div>
	
{% endif %}