{# informations générales #}
<div class="header">
	<h5>Informations</h5>
</div>

<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item">
				<strong>Numéro :</strong> {{ personnage.id }}
			</li>
			<li class="list-group-item">
				<strong>Nom :</strong> {{ personnage.nom }}
			</li>
			<li class="list-group-item">
				<strong>Surnom :</strong> {{ personnage.surnom }}
			</li>
			<li class="list-group-item">
				<strong>Classe :</strong> {{ personnage.classeName }}
			</li>
			<li class="list-group-item">
				<strong>Age :</strong> {{ personnage.ageReel|default('x') }} ans ({{ personnage.age }})
			</li>
			<li class="list-group-item">
				<strong>Genre :</strong> {{ personnage.genre }}
			</li>
			<li class="list-group-item">
				{% if personnage.intrigue %}
					Participe aux intrigues
				{% else %}
					Ne participe pas aux intrigues.
				{% endif %}
			</li>
			{% if personnage.isSensible %}
			<li class="list-group-item">
				Ce personnage est sensible.
				<a role="button" data-toggle="collapse" href="#sensibility" aria-expanded="false" aria-controls="collapseExample">
					<i class="fa fa-info-circle" aria-hidden="true"></i>
				</a>
				<div class="collapse" id="sensibility">
					<div class="list-group">
						<strong>Pas de violence excessive dans les gestes ou les mots, pas de drague, de propositions d'alcool, etc.</strong>
					</div>
				</div>				
			</li>
			{% endif %}
			<li class="list-group-item">
				<strong>Expérience :</strong> {{ personnage.xp|default(0) }}
				<a role="button" data-toggle="collapse" href="#xpHistory" aria-expanded="false" aria-controls="collapseExample">
					<i class="fa fa-history" aria-hidden="true"></i>
				</a>
				<div class="collapse" id="xpHistory">
					<div class="list-group">		
					{% for historique in personnage.experienceGains %}
						<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : + {{ historique.xpGain }} xp {% if historique.explanation %} pour la raison suivante : "{{ historique.explanation }}"{% endif %}.</div>
					{% endfor %}
					{% for historique in personnage.experienceUsages %}
						<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : - {{ historique.xpUse }} xp pour acquérir {{ historique.competence.label }}.</div>
					{% endfor %}
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<strong>Renommée :</strong> {{ personnage.renomme|default(0) }}
				<a role="button" data-toggle="collapse" href="#renommeHistory" aria-expanded="false" aria-controls="collapseExample">
					<i class="fa fa-history" aria-hidden="true"></i>
				</a>
				<div class="collapse" id="renommeHistory">
					<div class="list-group">
						{% for historique in personnage.renommeHistories %}
							<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.renomme > 0 %}+{% endif %}{{ historique.renomme }}  {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
						{% endfor %}
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<strong>Héroïsme :</strong> {{ personnage.heroisme|default(0) }}
				<a role="button" data-toggle="collapse" href="#heroismeHistory" aria-expanded="false" aria-controls="collapseExample">
					<i class="fa fa-history" aria-hidden="true"></i>
				</a>
				<div class="collapse" id="heroismeHistory">
					<div class="list-group">
						{% for historique in personnage.displayHeroisme %}
							<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.heroisme > 0 %}+{% endif %}{{ historique.heroisme }}  {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
						{% endfor %}
					</div>
				</div>
			</li>
			{# <li class="list-group-item">
				<strong>Titre :</strong> {{ app['personnage.manager'].titre(personnage)|default('Aucun') }}
			</li> #}
		</ul>
	</div>
	
	{# Illustration de la classe #}
	<div class="col-sm-6">
		
		<div class="pull-right">
			{% if personnage.genre == 'Masculin' %}
				<img width="216" height="300" alt="{{ personnage.classe.labelMasculin }}" src="{{ app.request.basepath }}/img/{{ personnage.classe.imageM }}" />
			{% else %}
				<img width="216" height="200" alt="{{ personnage.classe.labelFeminin }}" src="{{ app.request.basepath }}/img/{{ personnage.classe.imageF }}" />
			{% endif %}
		</div>

	</div>
</div>