{% if personnage.hasCompetence('Magie') %}
	<div class="header">
		<h5>Magie</h5>
	</div>	
	
	<h6>Liste de vos domaines de Magie</h6>
	<div class="list-group">
	{% for domaine in personnage.domaines %}
		<div class="list-group-item">
			<div class="list-group-item-heading"><strong>{{ domaine.label|markdown }}</strong></div>
			<div class="list-group-item-text">{{ domaine.description|markdown }}</div>
		</div>
	{% endfor %}
	</div>
	
	<h6>Liste de vos sorts</h6>
	<div class="list-group">
		{% for sort in personnage.sorts %}
			<a class="list-group-item" href="{{ path('participant.sort.detail', {'participant': participant.id, 'sort': sort.id}) }}">
				{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }} 
				({% if sort.domaine in personnage.domaines %}{{ sort.niveau }}
				{% else %}{{ sort.niveau + 1 }}
				{% endif %}
				Mana)
			</a>
		{% endfor %}
	</div>

{% endif %}