	<div class="header">
		<h5>Vos connaissances politiques</h5>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			{# Liste des relations entre les pays #}
			{% if personnage.getCompetenceNiveau('Politique') >= 1 %}
				<p>
					Votre compétence Politique Apprenti vous permet de connaître les relations entre les fiefs :<br />
					<a href="{{ path('participant.personnage.politique', {'participant': participant.id}) }}">Voir les liens politiques entre les différents fiefs</a>
				</p>
			{% endif %}
			
			{# Les lois de son pays #}
			{% if personnage.getCompetenceNiveau('Politique') >= 2 %}
				<p>
					Votre compétence Politique Initié vous permet de connaître les lois de votre pays :<br />
					<ul>
					{% for territoire in participant.groupeGn.groupe.territoires %}
						{% for fief in territoire.ancestors %}
							{% for loi in fief.lois %}
								<li>{{ loi.label }} : <a href="{{ path('loi.document',{'loi' : loi.id}) }}">Téléchargez le document</a></li>
							{% else %}
								<li>Le fief {{ fief.nom }} ne dispose pas de lois écrites</li>
							{% endfor %}
						{% endfor %}
					{% endfor %}
					</ul>
				</p>
			{% endif %}
			
			{# Toutes les lois #}
			{% if personnage.getCompetenceNiveau('Politique') >= 3 %}
				<p>
				Votre compétence Politique Expert vous permet de connaître toutes les lois:<br />
					<ul>
						{% for loi in lois %}
							<li>{{ loi.label }} : <a href="{{ path('loi.document',{'loi' : loi.id}) }}">Téléchargez le document</a></li>
						{% endfor %}
					</ul>
				</p>
			{% endif %}
			
			
		</div>
	</div>