{# Religion #}
<div class="header">
	<h5>Religion</h5>
</div>

<div class="list-group">
	{% for personnageReligion in personnage.personnagesReligions %}
		<li class="list-group-item">
			<h6>{% if personnageReligion.religion.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }}</h6>
			<a href="{{ path('forum.topic',{'index': personnageReligion.religion.topic.id }) }}">Forum</a>
			<p class="list-group-item-text">
				{{ personnageReligion.religion.description|markdown }}
			</p>
			{% if personnageReligion.religionLevel.index >= 1 %}
				<p class="list-group-item-text">
					<h6>{{ personnageReligion.religion.label }} - Informations supplémentaires pour les Pratiquants :</h6>
					{{ personnageReligion.religion.descriptionPratiquant|markdown }}
				</p>
			{% endif %}
			{% if personnageReligion.religionLevel.index >= 2 %}
				<p class="list-group-item-text">
					<h6>{{ personnageReligion.religion.label }} - Informations supplémentaires pour les Fervents :</h6>
					{{ personnageReligion.religion.descriptionFervent|markdown }}
				</p>
			{% endif %}
			{% if personnageReligion.religionLevel.index >= 3 %}
				<p class="list-group-item-text">
					<h6>{{ personnageReligion.religion.label }} - Informations supplémentaires pour les Fanatiques :</h6>
					{{ personnageReligion.religion.descriptionFanatique|markdown }}
				</p>
			{% endif %}
		</li>
	{% endfor %}
</div>

{% if personnage.hasCompetence('Prêtrise') %}
	<div class="header">
		<h5>Vos connaissances religieuses</h5>
	</div>

	<div class="list-group">
		{# accés à toutes les descriptions pour pratiquants des religions de leur pays #}
	 	{% if personnage.getCompetenceNiveau('Prêtrise') >= 1 %}
	 		Votre compétence Prêtrise Apprenti vous permet de connaitre les descriptions des religions de votre pays.

	 		{%  if  personnage.territoire.religion %}
		 		<h6>{{ personnage.territoire.religion.label }}</h6>
		 		<p class="list-group-item-text">
		 			{{ personnage.territoire.religion.descriptionPratiquant|markdown }}
		 		</p>
				{# LH7 : Apprenti - Vous connaissez le niveau Fervent de toutes les Religions liées à votre Origine.#}
				<h6>{{ personnage.territoire.religion.label }} - Informations supplémentaires pour les prêtres :</h6>
				<p class="list-group-item-text">
					{{ personnage.territoire.religion.descriptionFervent|markdown }}
				</p>

		 	{% else %}
		 		<h6>Votre pays ne dispose pas de religion principale</h6>
		 	{% endif %}

	 		{% for religion in personnage.territoire.religions %}
	 			<h6>{{ religion.label }}</h6>
	 			<p class="list-group-item-text">
	 				{{ religion.descriptionPratiquant|markdown }}
	 			</p>

				<h6>{{ religion.label }} - Informations supplémentaires pour les prêtres</h6>
				<p class="list-group-item-text">
				{{ religion.descriptionFervent|markdown }}
                </p>
	 		{% else %}
	 			<h6>Votre pays ne dispose pas de religions secondaires</h6>
	 		{% endfor %}
	 	{% endif %}

	 	{# Peuvent choisir 3 religions pour acceder à leur description pour pratiquants #}
		{# LH7 prêtre initié : Vous connaissez le niveau fervent  d'une Religion supplémentaire. #}
	 	{% if personnage.getCompetenceNiveau('Prêtrise') >= 2 %}
	 		Votre connaissance de Prêtrise vous permet de connaitre des descriptions de religions supplémentaires.
	 		{% for religion in personnage.religions %}
	 			<h6>{{ religion.label }}</h6>
	 			<p class="list-group-item-text">
	 				{{ religion.descriptionPratiquant|markdown }}
	 			</p>
				<p class="list-group-item-text">
					{{ religion.descriptionFervent|markdown }}
				</p>
	 		{% endfor %}
	 	{% endif %}
	</div>
{% endif %}
