{% extends "layout.twig" %}

{% block title %}Billet{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li><a href="{{path('user.userHasBillet.list') }}">Liste de mes billets</a></li>
		<li class="active">{{ userHasBillet.billet.label }}</li>
	</ol>
								
	<div class="well well-sm">
		<div class="header"><h5>{{ userHasBillet.billet.label }}</h5></div>
		<ul class="list-group">
			<li class="list-group-item">
				GN : <a href="{{ path('user.gn.detail', {'gn' : userHasBillet.billet.gn.id}) }}">{{ userHasBillet.billet.gn.label }}</a>
			</li>
			<li class="list-group-item">
				Date d'obtention : {{ userHasBillet.date|date('Y-m-d') }}
			</li>
			<li class="list-group-item">
				{{ userHasBillet.billet.gn.description|markdown }}
			</li>
		</ul>	
	</div>
			
{% endblock %}