{% extends "layout.twig" %}

{% block title %}Billet{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li class="active">Liste de mes billets</li>
	</ol>
								
	<div class="well well-sm">
		<div class="header"><h5>Liste de mes billets</h5></div>
		<div class="list-group">
		{% for userHasBillet in app.user.userHasBillets %}
			<a href="{{ path('user.userHasBillet.detail', {'userHasBillet': userHasBillet.id}) }}" class="list-group-item">
				<div class="list-group-item-heading">
					<h6>{{ userHasBillet.billet.gn.label }} / {{ userHasBillet.billet.label }}<small>, Obtenu le {{ userHasBillet.date|date('Y-m-d') }}</small></h6>
				</div>
				<div class="list-group-item-body">
					<div class="list-group-item-text">
						{{ userHasBillet.billet.gn.description|markdown }}
					</div>
				</div>
			</a>
		{% endfor %}	
		</div>
	</div>
			
{% endblock %}