{% extends "layout.twig" %}

{% block title %}Accepter une alliance{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('groupeGn.groupe', {'groupeGn' : groupeGn.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Accepter une demande d'alliance</li>
	</ol>
	
	<div class="well bs-component">
	
		<form action="{{ path('groupe.acceptAlliance', {'participant': participant.id, 'groupe': groupe.id, 'alliance': alliance.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			<p>Vous allez accepter une demande d'alliance faite par <strong>{{ alliance.groupe.nom }}</strong>.</p>
			<p>Etes-vous certain ?</p>

			{{ form(form) }}
			
			<p>Le chef de groupe recevra une notification pour le prévenir de votre choix.</p>
			 
		</form>
	
	</div>
	
{% endblock %}