{% extends "layout.twig" %}

{% block title %}Briser une alliance{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('groupe') }}">Votre groupe</a></li>
		<li class="active">Briser une alliance</li>
	</ol>
	
	<div class="well bs-component">
	
		<form action="{{ path('groupe.breakAlliance', {'groupe': groupe.id, 'alliance': alliance.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			<p>Vous allez briser alliance entre <strong>{{ alliance.groupe.nom }}</strong> et <strong>{{ alliance.requestedGroupe.nom }}</strong>.</p>
			<p>Etes-vous certain ?</p>

			{{ form(form) }}
			
			<p>Le chef de groupe recevra une notification pour le prévenir de votre choix.</p>
			 
		</form>
	
	</div>
	
{% endblock %}