{% extends "layout.twig" %}

{% block title %}Annuler la demande de paix{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('groupeGn.groupe', {'groupeGn' : groupeGn.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Annuler la demande de paix</li>
	</ol>
	
	<div class="well bs-component">
	
		<form action="{{ path('groupe.cancelRequestedPeace', {'participant': participant.id, 'groupe': groupe.id, 'enemy': war.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
			<p>Vous allez annuler votre proposition de paix dans le conflit qui oppose <strong>{{ war.groupe.nom }}</strong> et <strong>{{ war.requestedGroupe.nom }}</strong>.
			{{ form(form) }}
			
			<p>Le chef de groupe recevra une notification pour le prévenir de votre choix.</p>
			 
		</form>
	
	</div>
	
{% endblock %}