{% extends "layout.twig" %}

{% block title %}Demander une alliance{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('groupeGn.groupe', {'groupeGn' : groupeGn.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Annuler une demande d'alliance</li>
	</ol>
	
	<div class="well bs-component">
	
		<form action="{{ path('groupe.cancelRequestedAlliance', {'participant': participant.id, 'groupe': groupe.id, 'alliance': alliance.id}) }}" method="POST" {{ form_enctype(form) }}>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			<p>Vous allez annuler votre demande d'alliance faite à <strong>{{ alliance.requestedGroupe.nom }}</strong>.</p>
			<p>Etes-vous certain ?</p>

			{{ form(form) }}
			
			<p>Le chef de groupe recevra une notification pour le prévenir de l'annulation de votre demande.</p>
			 
		</form>
	
	</div>
	
{% endblock %}