{% extends "layout.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">{{ groupe.nom }}</li>
	</ol>
	
	<div class="well well-sm">

		<div class="row">
			<div class="col-md-6">
				{% include 'public/groupe/fragment/detail.twig' with {'groupe': groupe} %}
			</div>
			<div class="col-md-6">
				{% include 'public/groupe/fragment/membres.twig' with {'participant': participant, 'groupe': groupe} %}
			</div>
		</div>
		
	</div>
	
{% endblock content %}