{% extends "layout.twig" %}

{% block title %}Demander une alliance{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('groupe') }}">Votre groupe</a></li>
		<li class="active">Demander une alliance</li>
	</ol>
	
	<div class="well bs-component">
	
		<form action="{{ path('groupe.requestAlliance', {'groupe': groupe.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			{{ form(form) }}
			
			<p>Le chef de groupe recevra une notification pour le prévenir de votre demande.
			Pour que l'alliance soit active, il faut qu'elle soit validée par le chef du groupe concerné. Il pourra soit accepter votre demande, soit la refuser.</p>
			 
		</form>
	
	</div>
	
{% endblock %}