{% extends "layout.twig" %}

{% block title %}Backgrounds{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('background.list') }}">Liste des backgrounds</a></li>
		<li class="active">Suppression du background {{ background.titre }}</li>
	</ol>
	
	<div class="panel panel-danger">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-danger-sign" aria-hidden="true"></span>
			Attention
		</div>
		<div class="panel-body">Vous vous apprétez à supprimer le background <strong>{{ background.titre }}</strong>. Etes-vous certain de ce que vous faites ?</div>
	</div>
	
	<div class="well bs-component">
		<form action="{{ path('background.delete', {'background': background.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Suppression du background {{ background.titre }}</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
			</fieldset>
		</form>
	</div>


	<div class="well well-sm">
		{{ background.text|markdown }}
	</div>
{% endblock content %}