{% extends "layout_print.twig" %}

{% block style %}
<style>
body {
	font-size:12px;
}
</style>
{% endblock style %}

{% block content %}

{% for background in backgrounds %}
	<h2>#{{ background.groupe.numero }} {{ background.groupe.nom }} ({{ background.gn.label }})</h2>
	<h3>{{ background.titre }}</h3>
	
	{{ background.text|markdown }}
	
	<hr class="print-page-break" />
{% endfor %}

{% endblock content %}