{% extends "layout.twig" %}

{% block title %}Messagerie{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('messagerie') }}">Messagerie</a></li>
		<li class="active">Messages envoyés</li>
	</ol>
			
	<div class="well">
		<div class="panel panel-conan">
			<div class="panel-heading">
				Messages envoyés
			</div>
			<div class="panel-body">
			
				<div class="panel panel-group"  id="accordion" role="tablist" aria-multiselectable="true">
					{% for message in user.messageRelatedByAuteurs|reverse %}
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="heading{{ loop.index }}">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
										{{ message.userRelatedByAuteur.userName }} à {{ message.userRelatedByDestinataire.userName }} -- {{ message.creationDate|date('Y-m-d H:i:s') }} -- <strong>{{ message.title }}</strong>
									</a>
								</h4>
							</div>
							<div id="collapse{{ loop.index }}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading{{ loop.index }}">
								<div class="panel-body">
									{{ message.text|markdown }}
								</div>
							</div>
						</div>
					{% else %}
						Aucun message envoyé.
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>

	
{% endblock content %}