{% extends "layout.twig" %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("religion") }}">Liste des religions</a></li>
		<li><a href="{{ path('religion.detail', {'index': religion.id}) }}">{{ religion.label }}</a></li>
		<li class="active">Modification</li>
	</ol>
	
	<div class="well well-sm">
		{{ include("admin/religion/fragment/form.twig",{
			'legend': 'Modification d\'une religion',
			'action': path('religion.update',{'index': religion.id}),
			'form' : form}) }}
	</div>
	
{% endblock content %}