{% extends "layout.twig" %}

{% block title %}{{ personnage.nom }}{% endblock title %}

{% block content %}

<div class="well bs-component">	
	<form action="{{ path('personnage.update', {'personnage': personnage.id}) }}" method="POST" {{ form_enctype(form) }}>
		<fieldset>
			<legend>{{ personnage.nom }} - <small>Modification de votre personnage</small></legend>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			{{ form(form) }}
		</fieldset>
	</form>
</div>
{% endblock content %}