{% extends "layout.twig" %}

{% block title %}Qualité{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('quality') }}">Liste des qualités</a></li>
		<li class="active">Suppression d'une qualité</li>
	</ol>
	
	<div class="well well-sm">
		<form data-toggle="validator" action="{{ path('quality.delete', {'quality': quality.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Suppression d'une qualité</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
	
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock %}