{# detail du groupe #}
		
{% if participant.isResponsable(groupe) %}
	<blockquote>
		<ul class="list-group">
			<li class="list-group-item">Vous êtes responsable de ce groupe.</li>
			<li class="list-group-item">Le code du groupe est : <strong>{{ groupe.code }}</strong>.</li>
			<li class="list-group-item">Ce groupe peux accueillir <strong>{{ groupe.placeTotal|default(0) }}</strong> joueurs. {{ groupeGn.participants|length }} joueurs sont déjà inscrits.</li>
			<li class="list-group-item">Vous recherchez {{ groupeGn.placeAvailable|default(0) }} joueur(s) supplémentaire(s).
				<a href="{{ path('groupeGn.placeAvailable', {'groupeGn': groupeGn.id}) }}"><i class="fa fa-pencil"></i></a>
			</li>
			<li class="list-group-item">
				{% if groupe.lock %}
					Le groupe est verroullié, cela signifie que la création et la modification de personnage sont désactivés.
				{% else %}
					Le groupe est ouvert. Les joueurs peuvent créer et modifier leur personnage.
				{% endif %}
			</li>
		</ul>
	</blockquote>	
{% endif %}
		
<div class="header">
	<h5>Description</h5>
</div>

{% if groupe.description %}		
	{{ groupe.description|markdown }}
{% else %}
	Ce groupe n'a pas de description.
{% endif %}

		
<div class="header">
	<h5>Pays</h5>
</div>

{% if groupe.territoire %}
	<h6>{{ groupe.territoire.nom }}&nbsp;<a href="{{ path('territoire.detail', {'territoire': groupe.territoire.id}) }}">Plus d'informations</a></h6>
	{{ groupe.territoire.description|markdown }}
{% endif %}

		
<div class="header">
	<h5>Territoire(s) contrôlé(s)</h5>
</div>
		
{% for territoire in groupe.territoires %}
	<h6>{{ territoire.nom }}&nbsp;<a href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">Plus d'informations</a></h6>
	{% if territoire.description %}
		{{ territoire.description|markdown }}
	{% else %}
		Ce territoire n'a pas de description.
	{% endif %}
	
	<h6>Description secrete</h6>
	<p>(accessible uniquement aux membres d'un groupe contrôlant ce territoire)</p>
		{% if territoire.descriptionSecrete %}
			{{ territoire.descriptionSecrete|markdown }}
		{% else %}
			Ce territoire ne dispose pas de description secrete.
		{% endif %}
	
{% endfor %}

		<div class="header">
			<h5>Economie</h5>
		</div>

		<strong>Richesse : </strong>
		<ul>
		    {% for territoire in groupe.territoires %}   				
				<li><strong>{{ territoire.tresor|default(0) }} PA</strong> fourni par <strong>{{ territoire.nom }}</strong></li>
		    {% endfor %}
	    </ul>
	    				
	    <strong>Ressources : </strong>
	    <ul>
			{% for territoire in groupe.territoires %}
		    	{% for ressource in territoire.exportations %}
			    	<li><strong>{{ ressource.label }}</strong> fourni par <strong>{{ territoire.nom }}</strong></li>
	    		{% endfor %}
	    	{% endfor %}
	    </ul>
	    				
	    <strong>Ingrédients : </strong>
	    {% if groupe.ingredients|length == 0 %}
	    	Aucun ingrédient n'est fourni par les territoires contrôlés par ce groupe
	    {% endif %}
	    <ul>
			{% for territoire in groupe.territoires %}
		    	{% for ingredient in territoire.ingredients %}
		    		<li><strong>{{ ingredient.label }}</strong> fourni par <strong>{{ territoire.nom }}</strong></li>
			    {% endfor %}
		   	{% endfor %}
		</ul>
						
		<div class="header">
			<h5>Vos alliés</h5>
		</div>
		
		<blockquote>
		{% if participant.isResponsable(groupe) %}
			<p>Vous disposez de <strong>{{ groupe.alliances|length }}</strong> alliance(s) sur un maximum de <strong>3</strong>.</p>
			<p>Vous pouvez choisir <strong>{{ groupe.ennemies|length - groupe.alliances|length }}</strong> allié(s) supplémentaire(s).</p>
			<p>Votre nombre d'ennemis doit toujours être supérieur à votre nombre d'alliés. Pour augmenter le nombe d'alliance possible (jusqu'à un maximum de 3), choisissez plus d'ennemis</p>
		{% else %}
			<p>Votre chef de groupe a la possibilité de gérer les alliances.</p>
		{% endif %}
		</blockquote>
		
		<ul class="list-group">
		{% for alliance in groupe.alliances %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{% if alliance.groupe == groupe %}
							{{ alliance.requestedGroupe }}
						{% else %}
							{{ alliance.groupe }}
						{% endif %}
					</div>
					<div class="col-md-4">
						<a href="{{ path('groupe.breakAlliance', {'groupe': groupe.id, 'alliance': alliance.id}) }}">Rompre cette alliance</a>
					</div>
				</div>
			</li>
				
		{% else %}
			Vous n'avez aucun alliés.
		{% endfor %}
		</ul>
		
		{% if participant.isResponsable(groupe) %}
		
			{% if groupe.waitingAlliances|length > 0 %}
				<div class="header">
					<h5>Négociations en cours</h5>
				</div>
				
				<ul class="list-group">
				{% for alliance in groupe.waitingAlliances %}
					<li class="list-group-item">
						{% if alliance.groupe == groupe %}
							<div class="row">
								<div class="col-md-8">
									Vous avez demandé une alliance avec <strong>{{ alliance.requestedGroupe }}</strong>.
								</div>
								<div class="col-md-4">
									<a href="{{ path('groupe.cancelRequestedAlliance', {'groupe': groupe.id, 'alliance': alliance.id}) }}">Annuler la demande</a>
								</div>
							</div>
						{% else %}
							<div class="row">
								<div class="col-md-8">
									<strong>{{ alliance.groupe }}</strong> vous a demandé une alliance.
								</div>
								<div class="col-md-4">
									<a href="{{ path('groupe.acceptAlliance', {'groupe': groupe.id, 'alliance': alliance.id}) }}">Accepter la demande</a>
									<a href="{{ path('groupe.refuseAlliance', {'groupe': groupe.id, 'alliance': alliance.id}) }}">Refuser la demande</a>
								</div>
							</div>
						{% endif %}
					</li>
				{% endfor %}	
				</ul>
			{% endif %}
		
		{% endif %}
		
		<div class="header">
			<h5>Vos ennemis</h5>
		</div>
		
		<blockquote>
		{% if participant.isResponsable(groupe) %}
			<p>Vous disposez de <strong>{{ groupe.ennemies|length }}</strong> ennemi(s) sur un maximum de <strong>5</strong>.</p>
			<p>Si vous avez 3 ennemis ou plus, vous ne pouvez plus faire de Déclaration de guerre (mais vous pouvez toujours en recevoir)</p>
			<p>Etre l’ennemi d’un groupe ne signifie pas que vous devez tuer à vue ses membres, simplement que vous avez un différent important à régler avec lui. Le but est de générer du jeu, pas de l’appauvrir en générant des massacres.</p>
		{% else %}
			<p>Votre chef de groupe a la possibilité de gérer les alliances.</p>
		{% endif %}
		</blockquote>
		
		<ul class="list-group">
		{% for ennemi in groupe.ennemies %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{% if ennemi.groupe == groupe %}
							Vous avez déclaré la guerre à <strong>{{ ennemi.requestedGroupe }}</strong>.
						{% else %}
							<strong>{{ ennemi.groupe }}</strong> vous a déclaré la guerre.
						{% endif %}
					</div>
					<div class="col-md-4">
						{% if participant.isResponsable(groupe) %}<a href="{{ path('groupe.requestPeace', {'groupe': groupe.id, 'enemy': ennemi.id}) }}">Proposer de faire la paix</a>{% endif %}
					</div>
				</div>
			</li>	
		{% else %}
			Vous n'avez aucun ennemis.
		{% endfor %}
		</ul>
		
		{% if participant.isResponsable(groupe) %}
		
			{% if groupe.waitingPeace|length > 0 %}
				<div class="header">
					<h5>Négociations de paix en cours</h5>
				</div>
				
				<ul class="list-group">
				{% for war in groupe.waitingPeace %}
					<li class="list-group-item">
						{% if war.groupe == groupe %}
							<div class="row">
								<div class="col-md-8">
									Vous avez demandé la paix avec <strong>{{ war.requestedGroupe }}</strong>.
								</div>
								<div class="col-md-4">
									<a href="{{ path('groupe.cancelRequestedPeace', {'groupe': groupe.id, 'enemy': war.id}) }}">Annuler la demande</a>
								</div>
							</div>
						{% else %}
							<div class="row">
								<div class="col-md-8">
									<strong>{{ war.groupe }}</strong> propose la paix.
								</div>
								<div class="col-md-4">
									<a href="{{ path('groupe.acceptPeace', {'groupe': groupe.id, 'enemy': war.id}) }}">Accepter la demande</a>
									<a href="{{ path('groupe.refusePeace', {'groupe': groupe.id, 'enemy': war.id}) }}">Refuser la demande</a>
								</div>
							</div>
						{% endif %}
					</li>
				{% endfor %}	
				</ul>
				
			{% endif %}
			
			{% if groupe.oldEnemies|length > 0 %}
				<div class="header">
					<h5>Vos anciens ennemis</h5>
				</div>
				
				<ul class="list-group">
					{% for war in groupe.oldEnemies %}
						<li class="list-group-item">
							{% if war.groupe == groupe %}
								Vous avez fait la paix avec <strong>{{ war.requestedGroupe }}</strong>.
							{% else %}
								Vous avez fait la paix avec <strong>{{ war.groupe }}</strong>.
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		
		{% if participant.isResponsable(groupe) %}
			<a class="btn btn-success" href="{{ path('groupe.requestAlliance', {'groupe': groupe.id}) }}">Demander une alliance</a>
			<a class="btn btn-danger" href="{{ path('groupe.declareWar', {'groupe': groupe.id}) }}">Choisir un ennemi</a>
		{% endif %}