{# detail du groupe #}

<h4>{{ groupe.nom }}</h4>

{% if app.user.isResponsable(groupe) %}
<blockquote>
Vous êtes responsable de ce groupe.
</blockquote>
{% endif %}

<div class="header">
	<h5>Composition</h5>
</div>

<ul class="list-group">
	{% if groupe.responsable %}
		<li class="list-group-item"><strong>Responsable : </strong>{{ groupe.responsable.username }} / {{ groupe.responsable.email }}</li>
	{% endif %}
	{% if groupe.scenariste %}
		<li class="list-group-item"><strong>Scénariste : </strong>{{ groupe.scenariste.username }} / {{ groupe.scenariste.email }}</li>
	{% endif %}
	
	<li class="list-group-item">
		<table class="table">
			<thead>
				<tr>
					<th>Utilisateur</th>
					<th>Nom du personnage</th>
					<th>Classe</th>
				</tr>
			</thead>
			<tbody>
			
				{% for participant in  groupe.participants %}
					<tr>						
						<td>{{ participant.user.username }} / {{ participant.user.email }}</td>
						<td>
							{% if participant.personnage %}
								{{ participant.personnage.publicName }}
							{% endif %}
						</td>
						<td>
							{% if participant.personnage %}
								{{ participant.personnage.classeName }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</li>
</ul>

<br />

<div class="header">
	<h5>Territoire</h5>
</div>
	
{% if groupe.territoire %}
	<h6>{{ groupe.territoire.nom }}</h6>
	{{ groupe.territoire.description|markdown }}
{% else %}
	Votre groupe n'est pas lié à un territoire.
{% endif %}
				
<div class="header">
	<h5>Vos alliés</h5>
</div>

<blockquote>
	<p>Vous disposez de <strong>{{ groupe.alliances|length }}</strong> alliance(s) sur un maximum de <strong>3</strong>.</p>
	<p>Vous pouvez choisir <strong>{{ groupe.ennemies|length - groupe.alliances|length }}</strong> allié(s) supplémentaire(s).</p>
	<p>Votre nombre d'ennemis doit toujours être supérieur à votre nombre d'alliés. Pour augmenter le nombe d'alliance possible (jusqu'à un maximum de 3), choisissez plus d'ennemis</p>
</blockquote>

<ul class="list-group">
{% for alliance in groupe.alliances %}
	<li class="list-group-item">{{ alliance.groupe }} / <a href="#">Rompre cette alliance</a></li>
{% else %}
	Vous n'avez aucun alliés.
{% endfor %}
</ul>

{% if app.user.isResponsable(groupe) %}
	<a class="btn btn-default" href="{{ path('groupe.requestAlliance', {'groupe': groupe.id}) }}">Demander une alliance</a>
{% endif %}

<div class="header">
	<h5>Vos ennemis</h5>
</div>

<blockquote>
	<p>Vous disposez de <strong>{{ groupe.ennemies|length }}</strong> ennemi(s) sur un maximum de <strong>5</strong>.</p>
	<p>Si vous avez 3 ennemis ou plus, vous ne pouvez plus faire de Déclaration de guerre (mais vous pouvez toujours en recevoir)</p>
	<p>Etre l’ennemi d’un groupe ne signifie pas que vous devez tuer à vue ses membres, simplement que vous avez un différent important à régler avec lui. Le but est de générer du jeu, pas de l’appauvrir en générant des massacres.</p>
</blockquote>
<ul class="list-group">
{% for ennemi in groupe.ennemies %}
	<li class="list-group-item">{{ ennemi.groupe }} / <a href="#">Proposer de faire la paix</a></li>
{% else %}
	Vous n'avez aucun ennemis.
{% endfor %}
</ul>

{% if app.user.isResponsable(groupe) %}
	<a class="btn btn-default" href="{{ path('groupe.declareWar', {'groupe': groupe.id}) }}">Choisir un ennemi</a>
{% endif %}
