<div class="row">   	
	{% for session in groupe.groupeGns if session.gn == participant.gn %}
	<div class="col-md-10">
		<h6><i class="fa fa-circle"></i> {{ session.gn }}</h6>
	
		{% if participant.isResponsable(groupe) %}
			<a href="{{ path('groupeGn.joueur.add', {'groupe' : groupe.id, 'groupeGn': session.id}) }}">Ajouter des joueurs à votre groupe</a>
		{% endif %}
	
		<ul class="media-list">
			{% for joueur in session.participants %}
				<li class="media">
		    		<div class="media-left">
		    			{% if joueur.personnage %}
		    				<a href="{{ path('personnage.admin.detail', {'personnage': joueur.personnage.id}) }}">
			    			{% if joueur.personnage.trombineUrl %}
								<img class="media-object" height="96" width="96" src="{{ path('personnage.trombine', {'personnage' : joueur.personnage.id }) }}" />
							{% else %}
								<img class="media-object" height="96" width="96" src="{{ app.request.basepath }}/img/no_trombine.png" />
							{% endif %}
							</a>
						{% else %}
							<img class="media-object" height="96" width="96" src="{{ app.request.basepath }}/img/no_trombine.png" />
						{% endif %}
		    		</div>
		    		<div class="media-body">
		    			<h6>
		    				{% if joueur.user.etatCivil %}
								{{ joueur.user.etatCivil }}
							{% else %}
								N'a pas encore rempli ses informations administratives
							{% endif %}
							-- {{ joueur.user.email }}
						</h6>
				
						<p>
							{% if joueur.personnage %}
								{{ joueur.personnage.nom }} ({{ joueur.personnage.surnom }})</a>
								-- {{ joueur.personnage.classeName }}
							{% else %}
								N'a pas encore créé son personnage
							{% endif %}
						</p>
						
						{% if joueur.isResponsable(groupe) %}
							<p>Chef de groupe</p>
						{% endif %}
						
						{% if participant.isResponsable(groupe) %}
							{{ joueur.billet|default('N\'a pas encore de billet') }}
						{% endif %}
						<div>
							<a href="{{ path('message.new', {'to': joueur.user.id }) }}"><i class="fa fa-pencil-square-o"></i> Message privé</a>
						</div>
					</div>
		    	</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>