{# auteur #}
<div>		
	<a href="{{ path('user.view',{'id': post.user.id}) }}">{{ post.user.username }}</a>
	
	<a data-toggle="tooltip" 
		data-placement="top" 
		title="Envoyer un message privé"  
		href="{{ path('message.new', {'to': post.user.id }) }}"><i class="fa fa-pencil-square-o"></i></a>

	({% if post.user.hasRole('ROLE_ADMIN') %}
		Admin
	{% elseif post.user.hasRole('ROLE_SCENARISTE') %}
		Scénariste
	{% elseif post.user.hasRole('ROLE_ORGA') %}
		Orga
	{% elseif post.user.hasRole('ROLE_USER') %}
		Joueur
	{% endif %})
	
	<div class="pull-right">
		{% if is_granted('POST_OWNER', post.id) %}
			<a 	title="Editer"
				data-toggle="tooltip" 
				data-placement="left" 
				class="btn btn-primary" 
				href="{{ path('forum.post.update',{'index':post.id}) }}">
				<i class="fa fa-pencil"></i>
			</a>
		{% endif %}
	</div>
			
	<p>
		<small>
			{% if post.creationDate != post.updateDate %}
				{{ post.updateDate|time_diff() }}.
			{% else %}
				{{ post.creationDate|time_diff() }}.
			{% endif %}
			{{ post.views }} Vues.
		</small>
	</p>
	
			

</div>
									
{# texte #}
<p class="list-group-item-text">{{ post.text|markdown }}</p>