<div class="panel panel-default">
	<div class="panel-heading">
		<h4>
		Sujet : {{ post.title }} <small>({{ post.updateDate|time_diff }})</small>
		</h4>
	</div>
	
	<ul class="list-group forum">
		<li class="list-group-item">	
			{{ include("forum/fragment/post_row.twig", {'post' : post}) }}
			</li>
			
		
			{# liste des réponses #}
			{% for p in post.posts %}
			<li class="list-group-item"  id="post_{{ p.id }}">
				{{ include("forum/fragment/post_row.twig", {'post' : p}) }}
			</li>
			{%  endfor %}
		</ul>
	
	<div class="panel-footer">
		
		<div class="btn-group">
			<a	title="Repondre"
				data-toggle="tooltip" 
				data-placement="top" 
				class="btn btn-primary" 
				href="{{ path('forum.post.response',{'index':post.id}) }}">
				<i class="fa fa-reply"></i>
			</a>
			{# si l'utilisateur fait partit des watchingUser, lui proposer de ne plus surveiller le sujet #}
			{# sinon, lui proposer de suivre le sujet #}
			{% if not app.user.isInWatchingList(post) %}
				<a 	data-toggle="tooltip" 
					data-placement="top" 
					title="Activer les notifications mails" 
					class="btn btn-default"
					href="{{ path('forum.post.notification.on',{'index':post.id}) }}">
					<i class="fa fa-envelope"></i>
				</a>	
			{% else %}
				<a 	data-toggle="tooltip" 
					data-placement="top" 
					title="Désactiver les notifications mails" 
					class="btn btn-default"
					href="{{ path('forum.post.notification.off',{'index':post.id}) }}">
					<i class="fa fa-envelope-o"></i>
				</a>
			{% endif %}

			{% if is_granted('ROLE_MODERATOR', app.user) %}<a href="{{ path('forum.post.delete', {'index': post.id}) }}" class="btn btn-danger">Supprimer le sujet</a>{% endif %}
		</div>
	
	</div>
</div>
