<ul class="list-group forum">

	{%  for post in posts %}
	<li class="list-group-item">
		
		<h6 class="list-group-item-heading">
			{# indique si l'utilisateur a déjà lu ce post #}
			<span style="color: #000;">
				{% if app.user.alreadyView(post) and not app.user.newResponse(post)%}
					<i class="fa fa-star-o" aria-hidden="true"></i>
				{% else %}
					<i class="fa fa-star" aria-hidden="true"></i>
				{% endif %}
			</span>
			<a href="{{ path('forum.post',{'index':post.id}) }}">{{ post.title }}</a>
		</h6>
		
		par <a href="{{ path('user.view', {'id':post.user.id}) }}">{{ post.user.username }}</a>.
		{# nombre de vues #}
		<small>
		<strong>{{ post.views }}</strong> Vues.
		<strong>{{ post.posts|length }}</strong> réponses.
		</small><br/> 
		
		{% set lastPost = post.posts|last %}
		{% if lastPost %}
			<a href="{{ path('forum.post',{'index':post.ancestor.id}) ~ '#post_' ~ lastPost.id }}">Dernier message</a> par {{ lastPost.user.username }}
			{{ lastPost.creationDate|time_diff }}
		{% endif %} 

	</li>
	{%  endfor %}
</ul>