<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('forum.topic.add.form') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un nouveau topic</h4>
		</a>
	{%  endif %}
	{%  for topic in topics %}
	<li class="list-group-item">
		
		<h4 class="list-group-item-heading">
			{{ topic.title }}
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('forum.topic.post', {index: topic.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('forum.topic.update.form', {index: topic.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
				
		{% if topic.description %}
			<p class="list-group-item-text text-default">{{ topic.description }}</p>
		{%  endif %}
		
	</li>
	{%  endfor %}
</ul>