<ul class="list-group forum">
	{%  for topic in topics %}
		{% if is_granted('TOPIC_RIGHT',topic) %}
			<li class="list-group-item">
				
				{# titre du forum #}
				<h5 class="list-group-item-heading">
					<a href="{{ path('forum.topic', {index: topic.id}) }}">
						{{ topic.title }}
					</a>
					
					{# nombre de sujets #}
					<small>
						{{ topic.postCount }} Sujets.
					</small>
					
					{% if is_granted('ROLE_ORGA', app.user) %}
						<a 	class="pull-right"
							title="Modifier le topic {{ topic.title }}"
							data-toggle="tooltip" 
							data-placement="right"
							href="{{ path('forum.topic.update',{'index':topic.id}) }}">
							<i class="fa fa-pencil"></i>
						</a>
					{% endif %}
					
				</h5>
								
				{# dernier message #}
				<p>
				<small>
				{% set lastPost = topic.lastPost(app) %}
				{% if lastPost %}
					Dernier message :
					<a href="{{ path('forum.post',{'index':lastPost.ancestor.id}) }}">
						{{ lastPost.title }}	
					</a> &nbsp;Par <a href="{{ path('user.view',{'id': lastPost.user.id}) }}">{{ lastPost.user.username }}</a>
					{{ lastPost.creationDate|time_diff }}
				{% endif %}
				</small>
				</p>
				
				{# description du forum #}
				<p class="list-group-item-text text-default">
					{% if not topic.description %}
						Pas de description
					{% else %}
						{{ topic.description|markdown }}
					{% endif %}
				</p>
			</li>
		{% endif %}
	{%  endfor %}
</ul>