{% extends "layout.twig" %}

{% block title %}Gn{% endblock title %}

{% block content %}

	<div class="well well-sm">
		<ol class="breadcrumb">
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li><a href="{{path('user.gn.list') }}">Liste des GNs</a></li>
			<li class="active">Billetterie -- {{ gn.label }}</li>
		</ol>
		
		<blockquote>
			Si vous voulez réserver un groupe, prennez une place "Réservation d'un groupe", et indiquez dans le formulaire le nom du groupe que vous voulez réserver. La place PJ du chef de groupe est comprise dans le tarif réservation de groupe.
			Une fois votre paiement effectué, Eve-oniris recevra une notification et vous donnera les droits necessaire pour que vous puissiez administrer votre groupe.
		</blockquote>
	
	
	<div class="row">
		<div class="col-md-6">	
			{{ gn.billetterie|raw }}
		</div>
		<div class="col-md-6">
			<table class="table table-stripped table-condensed">
				<thead>
					<tr>
						<th>Numéro</th>
						<th>Groupe</th>
						<th>Statut</th>
						<th>Chef de groupe opus 2</th>
					</tr>
				</thead>
				<tbody>
					{% for groupeGn in gn.groupeGns %}
						{% set oldGroupeGn = groupeGn.groupe.groupeGnById(1) %}
						<tr>
							<td>{{ groupeGn.groupe.numero }}</td>
							<td>{{ groupeGn.groupe.nom }}</td>
							<td>
								{% if groupeGn.free %}<span class="text-success">Libre</span>{% else %}<span class="text-danger">Reservé</span>{% endif %}</td>
							<td>
								{%if oldGroupeGn %}
									{{ oldGroupeGn.responsable.user.etatCivil }} - {{ oldGroupeGn.responsable.user.email }}
								{% else %}
									Nouveau groupe.
								{% endif %}
							</td>
									
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
	
{% endblock %}