{% extends "layout.twig" %}

{% block title %}Jetons{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('token.list') }}">Liste des jetons</a></li>
		<li class="active">Suppression du jeton {{ token.label }}</li>
	</ol>
	
	<div class="panel panel-danger">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-danger-sign" aria-hidden="true"></span>
			Attention
		</div>
		<div class="panel-body">Vous vous apprétez à supprimer le jeton {{ token.label }}. Etes-vous certain de ce que vous faites ?</div>
	</div>
	
	<div class="well bs-component">
		<form action="{{ path('token.delete', {'token': token.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Suppression du jeton {{ token.label }}</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
			</fieldset>
		</form>
	</div>

{% endblock content %}