{% extends "layout.twig" %}

{% block title %}Groupes{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("territoire.admin.list") }}">Liste des territoires</a></li>
		<li><a href="{{ path("territoire.admin.detail", {'territoire': territoire.id}) }}">{{ territoire.nom }}</a></li>
		<li class="active">Ajouter une construction dans un territoire</li>
	</ol>
	
	<div class="well well-sm">
		<form action="{{ path('territoire.construction.add',{'territoire': territoire.id}) }}" method="POST">
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}		
			{{ form(form) }}
		</form>
	</div>
	
{% endblock %}