{% extends "layout.twig" %}

{% block content %}


	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("territoire.admin.list") }}">Liste des territoires</a></li>
		<li><a href="{{ path("territoire.admin.detail", {'territoire': territoire.id}) }}">{{ territoire.nom }}</a></li>
		<li class="active">Retirer un territoire d'un  groupe</li>
	</ol>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="well bs-component">
				
					<form action="{{ path('territoire.ingredients.update', {'territoire': territoire.id}) }}" method="POST" {{ form_enctype(form) }}>
						<fieldset>
							<legend>Choisissez les ingrédients fournis par {{ territoire.nom }}</legend>
							{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
							{{ form(form) }}
						</fieldset>
					</form>
					
					
				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}