{% extends "layout.twig" %}

{% block title %}Lieux de restauration{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('restauration.list') }}">Liste des lieux de restauration</a></li>
		<li class="active">Supprimer un lieu de restauration</li>
	</ol>
	
	<div class="well well-sm">
		<form action="{{ path('restauration.delete', {'restauration': restauration.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Supprimer un lieu de restauration</legend>
				<p class="warning">Attention, vous vous apprétez a supprimer {{ restauration.label }}. Etes-vous certain ? 
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
	
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock %}