{% extends "layout.twig" %}

{% block title %}Lieux de restauration{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('restauration.list') }}">Liste des lieux de restauration</a></li>
		<li class="active">{{ restauration.label }}</li>
	</ol>
	
	<div class="well well-sm">
		<div class="header"><h5>{{ restauration.label }}</h5></div>
		<p>{{ restauration.description|markdown }}</p>
	</div>
	
{% endblock %}