{% extends "layout.twig" %}

{% block title %}Lieu de restauration{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des lieux de restauration</li>
	</ol>

	<div class="well well-sm">
	
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ajouter un lieu de restauration" href="{{ path('restauration.add') }}"><i class="fa fa-plus"></i></a>
			</div>
		</div>
	</div>	
	
		<table class="table table-condensed table-striped table-bordered">
			<thead>
				<tr>
					<th>Label</th>
					<th>Description</th>
					<th>Quantité</th>
					<th />
				</tr>
			</thead>
			<tbody>
				{% for restauration in restaurations %}
				<tr>
					<td>{{ restauration.label }}</td>
					<td>{{ restauration.description|markdown }}</td>
					<td>{{ restauration.users|length }}</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Utilisateurs" href="{{ path('restauration.users',{'restauration':restauration.id}) }}"><i class="fa fa-users"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Restrictions alimentaires" href="{{ path('restauration.restrictions',{'restauration':restauration.id}) }}"><i class="fa fa-ban"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('restauration.update',{'restauration':restauration.id}) }}"><i class="fa fa-pencil"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Détail" href="{{ path('restauration.detail',{'restauration':restauration.id}) }}"><i class="fa fa-eye"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('restauration.delete',{'restauration':restauration.id}) }}"><i class="fa fa-eraser"></i></a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	
{% endblock %}