{% extends "layout.twig" %}

{% block title %}Lieux de restauration{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('restauration.list') }}">Liste des lieux de restauration</a></li>
		<li class="active">{{ restauration.label }} - restrictions alimentaires</li>
	</ol>
	
	<div class="well well-sm">
		{% for restrictionByGn in restauration.restrictionByGn %}
			<div class="header"><h5>Restrictions alimentaires pour {{ restrictionByGn.gn.label }}</h5></div>
			<ul class="list-group">
				{% for res in restrictionByGn.restrictions %}
					<li class="list-group-item">{{ res.restriction.label }} -- nombre de personnes : {{ res.count }}</li>
				{% endfor %}			
			</ul>
		{% endfor %}			
	</div>
	
{% endblock %}