{% extends "layout.twig" %}

{% block title %}Debriefing{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('debriefing.list') }}">Liste des debriefing</a></li>
		<li class="active">Modification d'un debriefing</li>
	</ol>

	<div class="well bs-component">	
		<form action="{{ path('debriefing.update', {'debriefing': debriefing.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Modification d'un debriefing</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
	
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}