{% extends "layout.twig" %}

{% block title %}Annonces{% endblock title %}

{% block head %}
	{{ parent() }}
	
	{# inclusion du plugin meltdown pour la saisie du post #}
	<link rel="stylesheet" href="{{ app.request.basepath }}/css/meltdown.css" />
{% endblock head %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("annonce.list") }}">Liste des annonces</a></li>
		<li class="active">Ajout d'une annonce</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('annonce.add') }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Ajout d'une annonce</legend>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin meltdown pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/lib/element_resize_detection.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/js-markdown-extra.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/rangyinputs-jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.meltdown.js"></script>
	         
	<script type="text/javascript">
		$(document).ready(function() {
			$('#annonce_text').meltdown({
				openPreview: true,
				sidebyside: true
			});
		});
	</script>

{% endblock javascript %}