{% extends "layout.twig" %}

{% block title %}Règles{% endblock title %}

{% block content %}

	<div class="well well-sm clearfix">
	
		<ol class="breadcrumb">
			<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
			<li class="active">Liste des règles</li>
		</ol>
	
		<blockquote>
			Les fichiers ci-dessous contiennent les règles spécifiques à certains aspect du jeu.
			<small>
				{{ regles|length }} règles
			</small>
		</blockquote>
		
		{% if is_granted('ROLE_REGLE', app.user) %}
			<div class="pull-right">
				<a class="btn btn-primary" href="{{ path('rule.add') }}">Ajouter une règle</a>
			</div>
		{% endif %}
	</div>

	<div class="panel panel-conan">
		<div class="panel-heading">Liste des vidéos</div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item">
					<h5 class="list-group-item-heading">Vidéos d'exemples de règles</h5>
					<p class="list-group-item-text">&nbsp;</p>
					<p class="list-group-item-text">Vous pourrez retrouver ici quelques vidéos de règles : <a href="https://www.youtube.com/playlist?list=PLf4sB0v9r7NEAbDJME9RoWadn4mOGIKF3">Playlists des règles LH5 et LH6</a>.</p>
					<p class="list-group-item-text">&nbsp;</p>
					<p class="list-group-item-text"><strong>LH6 :</strong> Remplacez les itérations de "Charme" par "Charisme" pour la vidéo en question à partir du LH6.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-conan">
		<div class="panel-heading">Liste des règles</div>
		<div class="panel-body">
			<div class="list-group">
				{% for regle in regles %}
					<div class="list-group-item">
						<h5 class="list-group-item-heading">{{ regle.label }}
							<div class="pull-right">
								<small><a target="_blank" href="{{ path('rule.document',{'rule': regle.id}) }}"><i class="fa fa-download"></i> Téléchargez le fichier</a></small>
							</div>
						</h5>
						<p class="list-group-item-text">{{ regle.description|markdown }}</p>
						{% if is_granted('ROLE_REGLE', app.user) %}
							<p class="list-group-item-text"><a href="{{ path('rule.update',{'rule': regle.id}) }}"><i class="fa fa-edit"></i> Modifier</a></p>
							<p class="list-group-item-text"><a href="{{ path('rule.delete',{'rule': regle.id}) }}"><i class="fa fa-remove"></i> Supprimer le fichier</a></p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}