{% extends "layout.twig" %}

{% block title %}Culture{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('culture') }}">Liste des cultures</a></li>
		<li class="active">Supprimer une culture</li>
	</ol>
	
	
	<div class="well bs-component">
		<form action="{{ path('culture.delete', {'culture': culture.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Supression d'une culture</legend>
					{{ culture.label }}
					{{ culture.description|markdown }}
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
				
{% endblock content %}