{% extends "layout.twig" %}

{% block title %}Sorts{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.sphere.list') }}">Liste des sphères</a></li>
		<li class="active">Supprimer une sphère</li>
	</ol>
	
	
	<div class="well bs-component">
		<form action="{{ path('magie.sphere.delete', {'sphere': sphere.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Supression d'une sphère</legend>
					{{ sphere.label }}
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
				
{% endblock content %}