{% extends "layout.twig" %}

{% block title %}Documents{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('document') }}">Liste des documents</a></li>
		<li class="active">Ajout d'un document</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('document.add') }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Ajout d'un document</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
	
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock %}