<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>LarpManager - Impression de la liste des documents</title>
    	<style>
    		table{
    			width: 100%;
    			border-collapse:collapse;
    		}
    	</style>
    </head>
    <body>
    
    <table border="1">
    	<caption><h4>Liste des documents</h4></caption>
   		<thead>
			<tr>
				<th>Code</th>
				<th>Titre</th>
				<th>Impression</th>
				<th>Description</th>
				<th>Langues</th>
				<th>Lieux</th>
				<th>Groupes</th>
				<th>Personnages</th>
				<th>Createur</th>
				<th>Date de création</th>
				<th>Date de mise à jour</th>
			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
			<tr>
				<td>{{ document.code }}</td>
				<td>{{ document.titre }}</td>
				<td>{% if document.impression %}Imprimé{% else %}Non imprimé{% endif %}</td>
				<td>{{ document.description|markdown }}</td>
				<td>{% if document.langues|length > 0 %}Langue(s) : {{ document.langues|join(', ') }}{% else %}Aucune langue définie{% endif %}</td>
				<td>{% if document.lieus|length > 0 %}Entreposé dans : {{ document.lieus|join(', ') }}{% else %}Non défini{% endif %}</td>
				<td>{% if document.groupes|length > 0 %}Possédé par les groupes : {{ document.groupes|join(', ') }}{% else %}Non défini{% endif %}</td>
				<td>{% if document.personnages|length > 0 %}Possédé par les personnages : {{ document.personnages|join(', ') }}{% else %}Non défini{% endif %}</td>
				<td>{{ document.user.userName }}</td>
				<td>{{ document.creationDate|date('Y-m-d') }}</td>
				<td>{{ document.updateDate|date('Y-m-d') }}</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
    
    </body>
</html>