{% extends "layout.twig" %}

{% block title %}Classes{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
			<a href="{{ path("classe") }}">Retour à la liste des classes</a>
			<div class="well well-sm bs-component">
				<h4>
					{{ classe.label }}
				</h4>
			</div>
			
  			<div class="list-group">
		    		
		    	<div class="list-group-item">
			    	<h4 class="list-group-item-heading">Description</h4>
	    			<p class="list-group-item-text">
	    			{% if not classe.description %}
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    				Attention, cette classe n'a pas de description.
    				{% else %}
    					{{ classe.description }}
    				{% endif %}
    				</p>
	    		</div>
	    		
				<div class="list-group-item">
	  				<h4 class="list-group-item-heading">
	  					Famille de compétences acquises à la création		
	  				</h4>
  					<p class="list-group-item-text">
						{{ classe.competenceFamilyCreations|join(', ') }}
  					</p>
  				</div>
  				
				<div class="list-group-item">
	  				<h4 class="list-group-item-heading">
	  					Famille de Compétences favorites		
	  				</h4>
  					<p class="list-group-item-text">
						{{ classe.competenceFamilyFavorites|join(', ') }}
  					</p>
  				</div>
  				
  				<div class="list-group-item">
	  				<h4 class="list-group-item-heading">
	  					Famille de compétences normales		
	  				</h4>
  					<p class="list-group-item-text">
						{{ classe.competenceFamilyNormales|join(', ') }}
  					</p>
  				</div>
  				
  				<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a  class="btn btn-primary" role="button" href="{{ path('classe.update', {index : classe.id}) }}">Modifier</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
	
			
{% endblock %}