{% extends "layout.twig" %}

{% block title %}Gn{% endblock title %}

{% block content %}

	<div class="well well-sm clearfix">
		<ol class="breadcrumb">
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li class="active">Liste des fiefs</li>
		</ol>
		
		<blockquote>
			Voici la liste des fiefs, des groupes les possédants, et des pays dont ils font partie.
		</blockquote>


		{% if paginator.totalItems == 1 %}
			<strong>1</strong> fief trouvé.
		{% else %}
			<strong>{{ paginator.totalItems }}</strong> fiefs trouvés.
		{% endif %}

		Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.


		<form class="form-inline" action="{{ path('territoire.fief') }}" method="GET" {{ form_enctype(form) }}>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
			<div class="form-group">
				<div class="input-group">
					{{ form_widget(form.value) }}
				</div>
				<div class="input-group">
					{{ form_widget(form.type) }}
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default" data-toggle="tooltup" data-placement="top" title="Lancer la recherche"><i class="fa fa-search"></i></button>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset" href="{{ path('territoire.fief') }}"><i class="fa fa-refresh"></i></a>
					</div>
				</div>
			</div>
			{{ form_rest(form) }}
		</form>

		{{ paginator|raw }}
	</div>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Fief</th>
				<th>Pays</th>
				<th>ID groupe</th>
				<th>Nom du groupe</th>
				<th>Nbr de joueurs</th>
		</thead>
		<tbody>
		{% for fief in fiefs %}
			<tr>
				<td>{{ fief.id }}</td>
				<td>{{ fief.nom }}</td>
				<td>{{ fief.root.nom }}</td>
				<td>
				{% if fief.groupe %}
					<a href="{{ path('groupe.detail', {'index': fief.groupe.id}) }}">#{{  fief.groupe.numero }}</a></td>
				</td>
				<td>
					<a href="{{ path('groupe.detail', {'index': fief.groupe.id}) }}">{{ fief.groupe.nom }}</a>
				{% else %}
					-
				</td>
				<td>
					libre
				{% endif %}
				</td>
				<td>
				{% if fief.groupe %}
					{% for session in fief.groupe.groupeGns %}
						{{ session.gn.label }} : {{ session.participants|length }}&nbsp;/&nbsp;
					{% endfor %}
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
{% endblock content %}