{% extends "layout.twig" %}

{% block title %}Lieux{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("lieu") }}">Liste des lieux</a></li>
		<li><a href="{{ path("lieu.detail", {'lieu': lieu.id}) }}">{{ lieu.nom }}</a></li>
		<li class="active">Modifier la liste des documents</li>
	</ol>
	
	<div class="well well-sm">
		<form action="{{ path('lieu.documents',{'lieu': lieu.id}) }}" method="POST">
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}		
			{{ form(form) }}
		</form>
	</div>
{% endblock %}