<h6><i class="fa fa-circle"></i> Description <small>(Visible par tous)</small></h6>

<div class="white-box">
	{% if not groupe.description %}
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    	Attention, ce groupe n'a pas de description.
    {% else %}
    	{{ groupe.description|markdown }}
    {% endif %}
</div>
    											
						<h6><i class="fa fa-circle"></i> Territoires</h6>
						<div class="white-box">
							<strong>Pays : </strong>
							<div class="btn-group">
							{% if groupe.territoire %}
		    					<a href="{{ path('territoire.admin.detail', {'territoire': groupe.territoire.id}) }}">{{ groupe.territoire.nom }}</a>
		    				{% else %}
		    					Ce groupe n'est pas rataché à un pays.
		    				{% endif %}
		    				</div>
		    				
		    				<br />
		    				
		    				<strong>Territoire(s) constrollé(s) : </strong>
		    				
		    				{% for territoire in groupe.territoires %}
			    					<a href="{{ path('territoire.admin.detail', {'territoire': territoire.id}) }}">{{ territoire.nom }}</a>
		    						&nbsp;<a href="{{ path('groupe.territoire.remove', {'groupe': groupe.id, 'territoire': territoire.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
									,&nbsp;
	    					{% endfor %}
	    					</ul>
    					</div>

						<h6><i class="fa fa-circle"></i> Economie</h6>
						
						<div class="white-box">
							<strong>Richesse : </strong>
							<ul>
		    				{% for territoire in groupe.territoires %}   				
			    				<li>
			    					<strong>{{ territoire.tresor|default(0) }} PA</strong> fourni par <strong>{{ territoire.nom }}</strong>
			    				</li>
		    				{% endfor %}
		    				</ul>
		    				
		    				<strong>Ressources : </strong>
		    				<ul>
			    			{% for territoire in groupe.territoires %}
			    				{% for ressource in territoire.exportations %}
				    				<li>
				    					<strong>{{ ressource.label }}</strong> fourni par <strong>{{ territoire.nom }}</strong>
				    				</li>
		    					{% endfor %}
		    				{% endfor %}
		    				</ul>
		    				
		    				<strong>Ingrédients : </strong>
		    				{% if groupe.ingredients|length == 0 %}
		    					Aucun ingrédient n'est fourni par les territoires contrôlé par ce groupe
		    				{% endif %}
		    				<ul>
			    			{% for territoire in groupe.territoires %}
			    				{% for ingredient in territoire.ingredients %}
			    					<li>
				    					<strong>{{ ingredient.label }}</strong> fourni par <strong>{{ territoire.nom }}</strong>
				    				</li>
				    			{% endfor %}
			    			{% endfor %}
			    			</ul>
			    		</div>
	    			
	    				<h6><i class="fa fa-circle"></i> Diplomatie</h6>
	    				
	    				<div class="white-box">
	    				
	    			    	<strong>Alliés</strong>
	    			    	<ul>
							{% for alliance in groupe.alliances %}
	    						<li>
			    					{% if alliance.groupe == groupe %}
										{{ alliance.requestedGroupe }}
									{% else %}
										{{ alliance.groupe }}
									{% endif %}
								</li>
    						{% endfor %}
    						
    						
    						{% for alliance in groupe.waitingAlliances %}
	    						<li>
			    					{% if alliance.groupe == groupe %}
			    						Vous avez demandé une alliance avec <strong>{{ alliance.requestedGroupe }}</strong>.
			    					{% else %}
			    						Sollicité pour une alliance par <strong>{{ alliance.groupe }}</strong>.
			    					{% endif %}
			    				</li>
    						{% endfor %}
    						</ul>

    			
							<strong>Ennemis</strong>
							<ul>
    						{% for ennemi in groupe.ennemies %}
    							<li>
		    						{% if ennemi.groupe == groupe %}
										Vous avez déclaré la guerre à <strong>{{ ennemi.requestedGroupe }}</strong>.
									{% else %}
										<strong>{{ ennemi.groupe }}</strong> vous a déclaré la guerre.
									{% endif %}
								</li>
    						{% endfor %}
    						{% for war in groupe.waitingPeace %}
    							<li>
		    						{% if war.groupe == groupe %}
		    							Vous avez demandé la paix avec <strong>{{ war.requestedGroupe }}</strong>.
		    						{% else %}
		    							<strong>{{ war.groupe }}</strong> propose la paix.
		    						{% endif %}
		    					</li>
    						{% endfor %}
    						</ul>
    					</div>  
    				    			
	    				<h6><i class="fa fa-circle"></i> Composition du groupe</h6>
	    				
	    				<div class="white-box">
	    					{% if groupe.classes|length == 0 %}
	    					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		    					Attention, ce groupe n'a pas de classes définies.
	    					{% else %}
	    						<ul>
	    						{% for classe in groupe.classes %}
	    							<li>{{ classe }}</li>
	    						{% endfor %}
	    						</ul>
	    					{% endif %}
    					</div>