{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des groupes secondaires</li>
	</ol>

	<div class="well well-sm">
	
		<ul class="list-group">
			<li class="list-group-item">
				{% if paginator.totalItems == 1 %}
		        	<strong>1</strong> groupe secondaire trouvé.
		    	{% else %}
		        	<strong>{{ paginator.totalItems }}</strong> groupes secondaires trouvés.
		    	{% endif %}
		
		    	Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.
		   	</li>
		   	<li class="list-group-item">
		   		<a href="{{ path('groupeSecondaire.admin.add') }}">Ajouter un groupe secondaire</a>
		   	</li>
		   	<li class="list-group-item">
		   		<a href="{{ path('groupeSecondaire.admin.type.add') }}">Ajouter un type de groupe secondaire</a>
		   	</li>
		   	<li class="list-group-item">
		   		<a href="{{ path('groupeSecondaire.materiel.printAll') }}">Impression des enveloppes</a>
		   	</li>
		   	<li class="list-group-item">
		   		<div class="list-group-item"><h6>Rechercher</h6></div>
		   		<form class="form" action="{{ path('groupeSecondaire.admin.list') }}" method="GET" {{ form_enctype(form) }}>
					{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
					{{ form(form) }}
		   		</form>
		   		<a href="{{ path('groupeSecondaire.admin.list') }}">Reset</a>
		   	</li>
		</ul>
		 
		{{ paginator|raw }}
		<table class="table table-striped table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>
						{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'id' %}
							<a href="{{ path('groupeSecondaire.admin.list', {'order_by': 'id', 'order_dir': 'DESC'}) }}">
						{%  else %}
							<a href="{{ path('groupeSecondaire.admin.list', {'order_by': 'id', 'order_dir': 'ASC'}) }}">
						{% endif %}
							#	
						{% if app.request.get('order_by') == 'id'  %}
							{% if app.request.get('order_dir') == 'ASC' %}
								<span class="caret"></span>
							{%else%}
									<span class="dropup">
    									<span class="caret"></span>
									</span>
								{% endif %}
						{% endif %}
						</a>
					</th>
					<th>
						Secret
					</th>
					<th>
						{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'label' %}
							<a href="{{ path('groupeSecondaire.admin.list', {'order_by': 'label', 'order_dir': 'DESC'}) }}">
						{%  else %}
							<a href="{{ path('groupeSecondaire.admin.list', {'order_by': 'label', 'order_dir': 'ASC'}) }}">
						{% endif %}
							Label	
						{% if app.request.get('order_by') == 'label'  %}
							{% if app.request.get('order_dir') == 'ASC' %}
								<span class="caret"></span>
							{%else%}
									<span class="dropup">
    									<span class="caret"></span>
									</span>
								{% endif %}
						{% endif %}
						</a>
					</th>
					<th>
						Description
					</th>
					<th>
						Type
					</th>
					<th>
						Membres
					</th>
				</tr>
			</thead>
			<tbody>
			{% for groupeSecondaire in groupeSecondaires %}
				<tr>
					<td><a href="{{ path('groupeSecondaire.admin.update', {'groupe':groupeSecondaire.id}) }}">{{ groupeSecondaire.id }}</td>
					<td>{% if groupeSecondaire.secret %}<span style="color:red;">Secret</span>{% else %} -- {% endif %}</td>
					<td><a href="{{ path('groupeSecondaire.admin.detail', {'groupe':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</td>
					<td>{{ groupeSecondaire.description|markdown }}</td>
					<td>{{ groupeSecondaire.secondaryGroupType.label }}</td>
					<td>{{ groupeSecondaire.membres|length }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		{{ paginator|raw }}
	</div>

{% endblock content %}
