{% extends "layout.twig" %}

{% block title %}Accepter ou refuser une candidature{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupeSecondaire.admin.list") }}">Liste des groupes secondaires</a></li>
		<li><a href="{{ path("groupeSecondaire.admin.detail",{'index':groupeSecondaire.id}) }}">Détail de {{ groupeSecondaire.label }}</a></li>
		<li class="active">Accepter ou refuser une candidature</li>
	</ol>
	
	<div class="well bs-component">
		
		<form action="{{ path('groupeSecondaire.admin.reponse', {'index': groupeSecondaire.id, 'postulantId': postulant.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Accepter ou refuser la candidature de {{ postulant.personnage.publicidentity }}</legend>
					{{ postulant.explanation|markdown }}
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
{% endblock content %}


{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin tinymce pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinyMCE.init({
				mode: "textareas",
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview", 
		});
		
	</script>

{% endblock javascript %}