{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupeSecondaire.admin.list") }}">Liste des groupes secondaires</a></li>
		<li class="active">Modification d'un groupe secondaire</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('groupeSecondaire.admin.update',{'index':groupeSecondaire.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Modification d'un groupe secondaire</legend>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}