{% extends "layout.twig" %}

{% block title %}Objets{% endblock title %}

{% block style %}
<style>
ul, li {
  
  list-style: none;
}

a {

  text-decoration: none;
}

.waterfall .pin {
  width: 200px;
  height: auto;
  margin: 0 0 10px 20px;
}

.waterfall .pin a {
  width: 100%;
  height: 100%;
}

.waterfall.gallery .pin {
  width: 180px;
}
</style>

{% endblock style %}
{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Objets</li>
	</ol>
	
	<div class="well well-sm">
		<div class="clearfix">
			<div class="pull-right">
				Lister les objets par tags :
				{% for tag in tags %}
					<a href="{{ path('stock_objet_index', {'tag':tag.id}) }}">{{ tag.nom }}&nbsp;<span class="badge">{{ tag.objets|length }}</span></a>
				{% endfor %}
				<a href="{{ path('stock_objet_index', {'tag':-1}) }}">Objets sans tag&nbsp;<span class="badge">{{ objetsWithoutTagCount }}</span></a>
			</div>
			
			<a href="{{ path('stock_objet_add') }}" class="btn btn-default">Créer un nouvel objet</a>
		</div>
		
		<h5>
		
		{% if tag %}
			Vous listez les objets correspondant au tag <strong>{{tag.nom }}</strong>&nbsp;<small>{{ objets|length }} objet(s)</small>
		{% elseif tagId == -1 %}
			Vous listez tous les objets sans tags&nbsp;<small>{{ objets|length }} objet(s)</small>
		{% else %}
			Vous listez tous les objets&nbsp;<small>{{ objets|length }} objet(s)</small>
		{% endif %}
		</h5>
		Astuce : utiliez la molette de la sourie en bas de page pour charger les objets suivants 
	</div>
	
	<div class="well well-sm">
			
		 	<ul class="waterfall center-block">
	    		{% for objet in objets %}
		    		<li class="pin">
		    			<ul class="list-group">
		    				<li class="list-group-item">
		    					<a href="{{ path('stock_objet_update', {'objet': objet.id}) }}">
		    					{% if objet.photo %}
				  					<img src="{{ path('stock_objet_photo',{'objet': objet.id,'miniature': true}) }}" alt="{{ objet.photo.name }}" />
				  				{% else %}
				  					Modifier
				  				{% endif %}
				  				</a>
				  			</li>
				  			<li class="list-group-item">
				  				{% for tag in objet.tags %}
				  				 	<span class="badge">{{ tag }}</span>
				  				{% endfor %}
				  				<div class="btn-group" role="group" aria-label="...">
				  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      									Action
      									<span class="caret"></span>
    								</button>
    								<ul class="dropdown-menu">
    									<li><a href="{{ path('stock_objet_tag', {'objet': objet.id}) }}">Modifier les tags</a></li>
    									<li><a href="{{ path('item.new', {'objet': objet.id}) }}">Creer un objet de jeu</a></li>
    									<li><a href="{{ path('stock_objet_update', {'objet': objet.id}) }}">Modifier</a></li>
					  					<li><a href="{{ path('stock_objet_clone', {'objet': objet.id}) }}">Cloner</a></li>
					  					<li><a href="{{ path('stock_objet_delete', {'objet': objet.id}) }}">Supprimer</a></li>
					  				</ul>
					  			</div>
				  			</li>
				  			<li class="list-group-item">
				  				{% for item in objet.items %}
				  					<span class="text-info">Objet de jeu : <strong>{{ item.numero }} - {{ item.label }}</strong></span> 
				  				{% else %}
				  					<span class="text-success">Cet objet n'est pas utilisé en jeu.</span>
				  				{% endfor %}
				  			</li>
				  			<li class="list-group-item">
								<strong>{{ objet.nom }}</strong>
								<p>{{ objet.description }}</p>
				  			</li>
			  			</ul>
			    	</li>
	  			{% endfor %}
	  		</ul>
	  </div>
	
{% endblock content %}