{% extends "layout.twig" %}

{% block title %}Objets{% endblock title %}

{% block style %}
<style>
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
</style>
{% endblock style %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Objets</li>
	</ol>

	<nav class="navbar navbar-default" style="padding-right: 5px;">

		<div class="flex-container">

			<div class="flex-item">
				<form class="form-inline" action="{{ path('stock_objet_index', {'order_by': 'nom', 'order_dir': 'DESC'}) }}" method="POST" {{ form_enctype(form) }}>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					<div class="form-group">
						<div class="input-group">
							{{ form_widget(form.value) }}
						</div>
						<div class="input-group">
							{{ form_widget(form.type) }}
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default" data-toggle="tooltup" data-placement="top" title="Lancer la recherche"><i class="fa fa-search"></i></button>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset" href="{{ path('stock_objet_index', {'order_by': 'nom', 'order_dir': 'DESC'}) }}"><i class="fa fa-refresh"></i></a>
							</div>
						</div>
					</div>
					{{ form_rest(form) }}
				</form>


			</div>

			<div class="flex-item-center flex-column">
				<div  class="flex-item-center">
					{{ paginator|raw }}
				</div>

				<div class="flex-item-center">

						{% if paginator.totalItems == 1 %}
							<strong>1</strong>&nbsp;objet trouvé
						{% else %}
							<strong>{{ paginator.totalItems }}</strong>&nbsp;objets trouvés
						{% endif %}

						{% if paginator.totalItems >= 1 %}
						&nbsp;Montre&nbsp;<strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>
						{% endif %}

						{% if tag == -1 %}
							&nbsp;- Sans tag
						{% endif %}

						{% if rangement == -1 %}
							&nbsp;- sans rangement
						{% endif %}

				</div>
			</div>

			<div class="flex-item-right">
				<div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li role="presentation" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Tags
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for tag in tags %}
									<li><a href="{{ path('stock_objet_index', {'tag':tag.id, 'rangement':rangement}) }}">{{ tag.nom }}&nbsp</a></li>
								{% endfor %}
								<li><a href="{{ path('stock_objet_index', {'tag':-1, 'rangement':rangement}) }}">Objets sans tag&nbsp;({{ objetsWithoutTagCount }})</a></li>
							</ul>
						</li>
						<li role="presentation" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Rangements
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for rangement in rangements %}
									<li><a href="{{ path('stock_objet_index', {'rangement':rangement.id, 'tag':tag}) }}">{{ rangement.label }}</a></li>
								{% endfor %}
								<li><a href="{{ path('stock_objet_index', {'rangement':-1, 'tag':tag}) }}">Objets sans rangement&nbsp;{{ objetsWithoutRangementCount }}</a></li>
							</ul>
						</li>
						<a href="{{ path('stock_objet_add') }}" class="btn btn-primary navbar-btn">Créer un nouvel objet</a>
					</ul>
				</div>
			</div>

		</div>

	</nav>
			
	<div class="well well-sm">
	 	<table class="table">
	 		<thead>
	 			<tr>
	 				<th>
						{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'nom' %}
							<a href="{{ path('stock_objet_index', {'order_by': 'nom', 'order_dir': 'DESC', 'tag':tag, 'rangement': rangement}) }}">
						{%  else %}
							<a href="{{ path('stock_objet_index', {'order_by': 'nom', 'order_dir': 'ASC', 'tag':tag, 'rangement': rangement}) }}">
						{% endif %}
							Nom
						{% if app.request.get('order_by') == 'nom'  %}
							{% if app.request.get('order_dir') == 'ASC' %}
								<span class="caret"></span>
							{% else %}
								<span class="dropup">
									<span class="caret"></span>
								</span>
							{% endif %}
						{% endif %}
						</a>
					</th>
	 				<th>Photo</th>
	 				<th>Description</th>
	 				<th>Tags</th>
	 				<th>Rangement</th>
	 				<th>Objet de jeu</th>
	 				<th>Action</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			{% for objet in objets %}
	 				<tr>
	 					<td>{{ objet.nom }}</td>
	 					<td>
	 						{% if objet.photo %}
		 						<div class="hover_img">
									<a href="#">Show Image
										<span>
											<img src="{{ path('stock_objet_photo',{'objet': objet.id}) }}" alt="{{ objet.photo.name }}" />
										</span>
									</a>
								</div>
							{% else %}
			  					aucune photo
			  				{% endif %}
			  			</td>
	 					<td>{{ objet.description }}</td>
	 					<td>{{ objet.tags|join(', ') }}</td>
	 					<td>{{ objet.rangement.adresse }}</td>
	 					<td>
		 					{% for item in objet.items %}
			  					<span class="text-info"><strong>{{ item.numero }} - {{ item.label }}</strong></span> 
			  				{% else %}
			  					<span class="text-success">Cet objet n'est pas utilisé en jeu.</span>
			  				{% endfor %}
		  				</td>
	 					<td>
	 						<div class="btn-group" role="group" aria-label="...">
					  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      							Action
	      							<span class="caret"></span>
	    						</button>
		 						<ul class="dropdown-menu">
									<li><a href="{{ path('stock_objet_tag', {'objet': objet.id}) }}">Modifier les tags</a></li>
									<li><a href="{{ path('item.new', {'objet': objet.id}) }}">Creer un objet de jeu</a></li>
									<li><a href="{{ path('stock_objet_update', {'objet': objet.id}) }}">Modifier</a></li>
				  					<li><a href="{{ path('stock_objet_clone', {'objet': objet.id}) }}">Cloner</a></li>
				  					<li><a href="{{ path('stock_objet_delete', {'objet': objet.id}) }}">Supprimer</a></li>
								</ul>
							</div>
	 					</td>
	 				</tr>
	 			{% endfor %}
	 		</tbody>
	 	</table>
	 </div>
	
{% endblock content %}