{% extends "layout.twig" %}

{% block head %}
	{{ parent() }}
	
	{# inclusion du plugin meltdown pour la saisie du post #}
	<link rel="stylesheet" href="{{ app.request.basepath }}/css/meltdown.css" />
{% endblock head %}

{% block title %}Forum - Répondre à un message{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
		
			{# le formulaire pour saisir son message #}
			<div class="col-xs-12 col-md-8">
				{{ include("forum/fragment/post_form.twig",{
					'legend': 'Répondre à un message',
					'action': path('forum.post.response', {'index': postToResponse.id}), 
					'form' : form}) }}
			</div>
			
			{# la liste des messages précédents #}
			<div class="col-xs-12 col-md-4">
				<div class="well">
					<div class="list-group">
						<div class="list-group-item">
							<h4 class="list-group-item-heading">{{ postToResponse.title }}</h4>
						</div>
						{% for post in postToResponse.posts|reverse %}
						<div class="list-group-item">
							<p class="list-group-item-text">{{ post.text|markdown }}</p>
						</div>	
						{% endfor %}
						
						<div class="list-group-item">
							<p class="list-group-item-text">{{ postToResponse.text|markdown }}</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin meltdown pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/lib/element_resize_detection.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/js-markdown-extra.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/rangyinputs-jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.meltdown.js"></script>
	         
	<script type="text/javascript">
		$(document).ready(function() {
			$('#post_text').meltdown({
				openPreview: true,
				sidebyside: true
			});
		});
	</script>

{% endblock javascript %}