{% extends "layout.twig" %}

{% block title %}Forum{% endblock title %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<a href="{{ path('forum.topic') }}">Retour au forum</a>
			
			<div class="well well-sm">
				<h4>
					{{ topic.title }}
				</h4>
				<p>
					{{ topic.description }}
				</p>
			</div>

			{# liste des topics #}
			{{ include("forum/fragment/topic_list.twig", {'topics' : topic.topics, 'topicId': topic.id}) }}
							
			{# liste des posts #}
			{{ include("forum/fragment/post_list.twig", {'posts' : topic.posts,'topicId': topic.id}) }}

			
		</div>
	</div>

</div>
	
{% endblock %}