<div class="well bs-component">
<form action="{{ action }}" method="POST" {{ form_enctype(form) }}>
	<fieldset>
		<legend>{{ legend }}</legend>
		{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
		
		<ul class="nav nav-tabs"  role="tablist">
			<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Informations générales</a></li>
			<li role="presentation"><a href="#technique" aria-controls="technique" role="tab" data-toggle="tab">Informations techniques</a></li>
			<li role="presentation"><a href="#membres" aria-controls="membres" role="tab" data-toggle="tab">Membre du groupe</a></li>
			<li role="presentation"><a href="#jeu" aria-controls="jeu" role="tab" data-toggle="tab">Type de jeu</a></li>
			<li role="presentation"><a href="#classes" aria-controls="classes" role="tab" data-toggle="tab">Composition du groupe</a></li>
			<li role="presentation"><a href="#gns" aria-controls="gns" role="tab" data-toggle="tab">Gns</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="general">
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form_row(form.nom) }}
						{{ form_row(form.description) }}
						{{ form_row(form.territoire) }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="technique">
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form_row(form.numero) }}
						{{ form_row(form.scenariste) }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="membres">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>Vous devez choisir au moins un responsable du groupe. C'est ce joueur qui aura la charge d'inviter les autres membres du groupe en leur communiquant le code défini ci-dessous.</p>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							{{ form_row(form.responsable) }}
							<a href="{{ path('user.add') }}">Créer un nouvel utilisateur</a>
						</li>
						<li class="list-group-item">
							{{ form_row(form.code) }}
							<a href="#">Envoyer un mail avec le code au responsable</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="jeu">
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form_row(form.jeuStrategique) }}
						{{ form_row(form.jeuMaritime) }}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="classes">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>Composez votre groupe avec une ou plusieurs classes. Ces classes seront disponibles pour les joueurs.</p>
					</div>
					<ul class="list-group groupeClasses" data-prototype="{{ form_widget(form.groupeClasses.vars.prototype)|e }}">
				    	{% for groupeClasse in form.groupeClasses %}
				           	<li class="list-group-item">{{ form_widget(groupeClasse.classe) }}</li>
				       	{% endfor %}
					</ul>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="gns">
				<div class="panel panel-default">
					<div class="panel-body">
						{{ form_row(form.gns) }}
					</div>
				</div>
			</div>
		</div>

		
		{{ form_rest(form) }}
	</fieldset>
</form>
</div>