<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('groupe.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un groupe</h4>
		</a>
	{%  endif %}
	{%  for groupe in groupes %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ groupe.numero|default('?') }} - {{ groupe.nom }} 
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('groupe.detail', {index: groupe.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('groupe.update', {index: groupe.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
		<p class="list-group-item-text">			
			<p>{{ groupe.description }}</p>
			
			<ul>
				<li>
				{% if groupe.scenariste %}
					<strong>Scénariste : </strong>{{ groupe.scenariste.username }}
				{% else %}
					<span class="text-warning">Attention, ce groupe n'a pas de scénariste.</span>
				{% endif %}
				</li>
				
				<li>
				{% if groupe.responsable %}
					<strong>Responsable : </strong>{{ groupe.responsable.username }}
				{% else %}
					<span class="text-warning">Attention, ce groupe n'a pas de responsable (chef de groupe)</span>
				{% endif %}
				</li>
				<li>
				{% if groupe.code %}
					<strong>Code : </strong>{{ groupe.code }}
				{% else %}
					<span class="text-warning">Attention, ce groupe n'a pas code.</span>
				{% endif %}
				</li>
			</ul>
		</p>
	</li>
	{%  endfor %}
</ul>