<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('groupe_add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un groupe</h4>
		</a>
	{%  endif %}
	{%  for groupe in groupes %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ groupe.nom }} 
		</h4>
		<p class="list-group-item-text">
			{{ groupe.nom }} : {{ groupe.description }}.
			
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('groupe_detail', {index: groupe.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('groupe_update', {index: groupe.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</p>
		<p class="list-group-item-text">
			Créé par :
			<small>, le {{ groupe.creationDate|date('Y-m-d H:i:s') }}</small>
		</p>
		
	</li>
	{%  endfor %}
</ul>