{#
Template for an email message sent to notifie about a new post.
Variables passed to this template:
    user: The SimpleUser\User instance.
    postUrl : Url 
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
	{{ groupeGn.gn.label }} - Vous avez été désigné responsable du groupe {{ groupeGn.groupe.nom }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Vous avez été désigné responsable du groupe {{ groupeGn.groupe.nom }}

Cliquez sur le lien ci-dessous pour accéder directement a votre messagerie :

{{ messagerieUrl }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h3>Vous avez été désigné responsable du groupe {{ groupeGn.groupe.nom }}.</h3>
    
    <p>
        <a href="{{ messagerieUrl }}"> Suivez ce lien pour accéder directement a votre messagerie</a>.
    </p>

{%- endblock -%}