{% extends "layout.twig" %}

{% block title %}Ma messagerie{% endblock title %}

{% block content %}

<ol class="breadcrumb">
	<li>Navigation :</li>
	<li><a href="{{ path('homepage')  }}">Accueil</a></li>
	<li class="active">Ma messagerie</li>
</ol>

<div style="background-color: #000000;">
	<ul class="nav nav-tabs" role="tablist">
		<li role="message_non_lu" class="active">
			<a href="#message_non_lu" aria-controls="message_non_lu" role="tab" data-toggle="tab">
				<i class="fa fa-envelope"></i>
				Messages non lus
			</a>
		</li>
		<li role="message_envoye">
			<a href="#message_envoye" aria-controls="message_envoye" role="tab" data-toggle="tab">
				<i class="fa fa-envelope-o"></i>
				Messages envoyés
			</a>
		</li>
		<li role="message_archive">
			<a href="#message_archive" aria-controls="message_archive" role="tab" data-toggle="tab">
				<i class="fa fa-archive"></i>
				Messages archivés
			</a>
		</li>
	</ul>
	
	<div class="tab-content">
		
		<div role="tabpanel" class="tab-pane fade in active" id="message_non_lu">
			{% for message in user.messageRelatedByDestinataires if not message.lu %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<u>{{ message.title }}</u>&nbsp;<strong>envoyé par</strong>&nbsp;{{ message.userRelatedByAuteur.personnage.surnom }}<br />
						<em>Reçu le {{ message.creationDate|date('Y-m-d H:i:s') }}</em>
					</div>
					<div class="panel-body">
						{{ message.text|markdown }}
					</div>
					<div class="panel-footer">
						<a href="{{ path('user.messagerie.message.response',{'id': user.id, 'message':message.id}) }}" class="btn btn-primary">Répondre</a>
						<a href="{{ path('user.messagerie.message.archive',{'id': user.id, 'message':message.id}) }}" class="btn btn-default">Archiver</a>
					</div>
				</div>
			{% else %}
				<blockquote><p>Vous n'avez aucun message en attente.</p></blockquote>
			{% endfor %}
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="message_envoye">
			{% for message in user.messageRelatedByAuteurs %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<u>{{ message.title }}</u>&nbsp;<strong>envoyé a</strong>&nbsp;{{ message.userRelatedByDestinataire.personnage.surnom }}<br />
						<em>Envoyé le {{ message.creationDate|date('Y-m-d H:i:s') }}</em>
					</div>
					<div class="panel-body">
						{{ message.text|markdown }}
					</div>
				</div>
			{% else %}
				<blockquote><p>Vous n'avez envoyé aucun message.</p></blockquote>
			{% endfor %}
		</div>
		
		<div role="tabpanel" class="tab-pane fade" id="message_archive">
			{% for message in user.messageRelatedByDestinataires if message.lu %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<u>{{ message.title }}</u>&nbsp;<strong>envoyé par</strong>&nbsp;{{ message.userRelatedByDestinataire.personnage.surnom }}<br />
						<em>Reçu le {{ message.creationDate|date('Y-m-d H:i:s') }}</em>
					</div>
					<div class="panel-body">
						{{ message.text|markdown }}
					</div>
					<div class="panel-footer">
						<a href="{{ path('user.messagerie.message.response',{'id': user.id, 'message':message.id}) }}" class="btn btn-default">Répondre</a>
					</div>
				</div>
			{% else %}
				<blockquote><p>Vous n'avez aucun messages archivés.</p></blockquote>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}