{% extends "layout.twig" %}

{% block title %}Groupes secondaires{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("user.messagerie") }}">Messagerie</a></li>
		<li class="active">Répondre à un message</li>
	</ol>
	
		
	<div class="well bs-component">
		<form action="{{ path('user.messagerie.message.response',{'id': user.id, 'message':message.id}) }}" 
				method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Répondre à un message</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
							
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}