{% extends "layout.twig" %}

{% block title %}Nouvelle lignée{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("lignee.admin.list") }}">Liste des lignées</a></li>
        <li class="active">Ajout d'une lignée</li>
    </ol>

    <div class="well bs-component">
        <form action="{{ path('lignee.admin.add')}}" method="POST" {{ form_enctype(form) }} novalidate>
            <fieldset>
                <legend> Nouvelle lignée</legend>
                {% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </fieldset>
        </form>
    </div>

{% endblock content %}