<!DOCTYPE html>
<html ng-app="LarpManagerApp">
    <head>
        {% block head %}
            <meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
			
			<link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css" />			                        
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/cyborg_bootstrap.min.css" />
                        
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
			            
            <title>LarpManager - {% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>
    
    	<div id="menu" >
    		{% block menu %}
    			{% include 'menu.twig' %}
    		{% endblock menu %}
    	</div>
	
        <div id="content" class="container-fluid">
        
        	{% for message in app.session.getFlashBag.get('success') %}
    			<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('alert') %}
    			<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('error') %}
    			<div class="alert alert-danger" role="alert">{{ message }}</div>
			{% endfor %}
			
        	{% block content %}{% endblock content %}
        </div>
			
         
         
        <script src="{{ app.request.basepath }}/js/jquery-1.11.3.min.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
        
        {# manipulation des dates #}
        <script src="{{ app.request.basepath }}/js/moment.js"></script>
        <script>
        	moment.locale('fr');
        </script>
                
        {# Active les tooltip de bootstrap #}
        <script type="text/javascript">
	    	$(function () {
	        	$("[data-toggle='tooltip']").tooltip();
	    	});
		</script>
		
		{# editeur tinyMCE #}
		<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>
	
		<script type="text/javascript">
			tinyMCE.init({
				selector: '.tinymce',
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview,link,autolink",
				browser_spellcheck: true,
				menubar: "edit, insert, view, format, tools",
				toolbar:  "undo, redo, formatselect, bold, italic, alignright, aligncenter, alignright, alignjustify, bullist, numlist  link",
				link_assume_external_targets: true
			});
		</script>
					        	
    	{% block javascript %}	
		{% endblock javascript %}
    </body>
</html>
