<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
            <title>{% block title %}{% endblock %} - LarpManager</title>
        {% endblock %}
    </head>
    <body>
		<div id="menu">
			<ul>
				<li><a href="{{ path('homepage') }}">Accueil</a></li>
				<li><a href="{{ path('install') }}">Installation</a></li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li><a href="{{ path('user') }}">My account</a></li>
					<li><a href="{{ path('user.list') }}">User list</a></li>
					<li><a href="{{ path('user.logout') }}">Logout</a></li>
				{% else %}
					<li><a href="{{ path('user.login') }}">Sign in</a></li>
					<li><a href="{{ path('user.register') }}">Create acount</a></li>
				{% endif %}
			</ul>
		</div>
		
        <div id="content">{% block content %}{% endblock %}</div>
		
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2015 by eve-oniris.
            {% endblock %}
        </div>
    </body>
</html>
