<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
			<link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
			
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css" />			                        
            <link rel="stylesheet" href="{{ app.request.basepath }}/font-awesome-4.6.3/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/cyborg_bootstrap.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap-select-1.11.0/css/bootstrap-select.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/Pnotify/css/pnotify.custom.min.css" />
            
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
                                    
			{% block style %}{% endblock style %}
						            
            <title>LarpManager - {% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>

    
    	<div id="menu" >
    		{% block menu %}
    			{% include 'menu.twig' %}
    		{% endblock menu %}
    	</div>
	
		{# corps de la page #}
        <div id="content" class="container-fluid">
        
        	{% for message in app.session.getFlashBag.get('success') %}
    			<div class="notifySuccess">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('alert') %}
    			<div class="notifyWarning">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('error') %}
    			<div class="notifyError">{{ message }}</div>
			{% endfor %}
			
        	{% block content %}{% endblock content %}
        </div>
			
		{# Pied de page #}
        <footer>
        

	        <div class="pull-left" style="margin-left: 50px;">

	        		<ul>
	        			<li><a href="http://www.fedegn.org/">FédéGN</a></li>
	        			<li><a href="http://www.eveoniris.com/">Eve-oniris</a></li>
	        		</ul>
	        </div>
	        
	        <div class="pull-right" style="margin-right: 50px;">
		       	<ul>
			       	<li><a href="{{ path('legal') }}">Mentions légales</a></li>
					<li><a href="{{ path('dev') }}">Développement</a></li>
				</ul>
	        </div>
	        
        
      	</footer>

         
        <script src="{{ app.request.basepath }}/js/jquery-1.11.3.min.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
        <script src="{{ app.request.basepath }}/Pnotify/js/pnotify.custom.min.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap-select-1.11.0/js/bootstrap-select.min.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap-select-1.11.0/js/i18n/defaults-fr_FR.min.js"></script>
        
        {# active pnotify #}
        <script  type="text/javascript">
        	PNotify.prototype.options.styling = "fontawesome";

        	function createNotifyError(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'notice',
        		    hide: false
        		});
        		$(notice).remove();
            }

        	function createNotifySuccess(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'success',
        		    delay:2000,
        		});
        		$(notice).remove();
            }

        	function createNotifyWarning(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'warning',
        		    delay:2000,
        		});
        		$(notice).remove();
            }
        	
        	$(function(){
        		$("div.notifyError").each(function() {
            		createNotifyError(this);
        		});
        		$("div.notifySuccess").each(function() {
            		createNotifySuccess(this);
        		});
        		$("div.notifyWarning").each(function() {
            		createNotifySuccess(this);
        		});
        	});
        	
        </script>
        
        {# manipulation des dates #}
        <script src="{{ app.request.basepath }}/js/moment.js"></script>
        <script>
        	moment.locale('fr');
        </script>
                
        {# Active les tooltip de bootstrap #}
        <script type="text/javascript">
	    	$(function () {
	        	$("[data-toggle='tooltip']").tooltip();
	    	});
		</script>
		
		{# editeur tinyMCE #}
		<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>
	
		<script type="text/javascript">
			tinyMCE.init({
				selector: '.tinymce',
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview,link,autolink",
				browser_spellcheck: true,
				menubar: "edit, insert, view, format, tools",
				toolbar:  "undo, redo, formatselect, bold, italic, alignright, aligncenter, alignright, alignjustify, bullist, numlist  link",
				link_assume_external_targets: true
			});
		</script>
		
		{# si l'utilisateur est connecté, vérifier ses notifications réguliérement et mettre à jour le menu #}
		{% if is_granted('ROLE_USER', app.user) %}
		<script>
			$(document).ready(function() {
				var notifications = [];
				var tid = setInterval(notification, 10000);
				function notification() {
					var url = '{{ path('notification.list') }}';
					$.get(url).done(function(data) {
						notification_count = $('#notifications-count').html();
						for(var key in data) {
							notification = data[key];
							if ( notifications.indexOf(notification.id) == -1 )
							{
								notifications.push(notification.id);

								new PNotify({
				        		    title: '',
				        		    text: notification.text,
				        		    type: 'success',
				        		    delay: 2000
				        		});
				        		
								notification_count++;
								
								// add notification in notifications-list
								$('ul#notifications_list').append('<li><a href="'+notification.url+'" delete="'+notification.url_delete+'" class="notification_remove">' +notification.text+ '<a></li>');
								
							}
						}

						$('#notifications-count').html(notification_count);
					});
				}
				function abortTimer() {
				  clearInterval(tid);
				}

				// appel une premiere fois le systéme de notification
				notification();

				// retire la notification
				$('ul#notifications_list').on('click','a.notification_remove', function(event) {
					
					var url = $(this).attr('delete');
					$.get(url).done(function(data) {});
					//event.stopPropagation();
					/*$(this).remove();
					notification_count = $('#notifications-count').html();
					notification_count-=1;
					$('#notifications-count').html(notification_count);*/
					
					return true;
				});
			});
		</script>
		{% endif %}
				
					        	
    	{% block javascript %}	
		{% endblock javascript %}
    </body>
</html>
