<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
			<link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
			
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css" />			                        
            <link rel="stylesheet" href="{{ app.request.basepath }}/font-awesome-4.6.3/css/font-awesome.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/cyborg_bootstrap.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/bootstrap-select-1.11.0/css/bootstrap-select.min.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/Pnotify/css/pnotify.custom.min.css" />
            
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
                                    
			{% block style %}{% endblock style %}
						            
            <title>LarpManager - {% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>

		{# corps de la page #}
        <div id="content" class="container-fluid">
        
        	{% for message in app.session.getFlashBag.get('success') %}
    			<div class="notifySuccess">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('alert') %}
    			<div class="notifyWarning">{{ message }}</div>
			{% endfor %}
			
			{% for message in app.session.getFlashBag.get('error') %}
    			<div class="notifyError">{{ message }}</div>
			{% endfor %}
			
        	{% block content %}{% endblock content %}
        </div>
			         
        <script src="{{ app.request.basepath }}/js/jquery-1.11.3.min.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
        <script src="{{ app.request.basepath }}/Pnotify/js/pnotify.custom.min.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap-select-1.11.0/js/bootstrap-select.min.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap-select-1.11.0/js/i18n/defaults-fr_FR.min.js"></script>        
        <script src="{{ app.request.basepath }}/bootstrap-validator/validator-0.11.5.min.js"></script>
        <script src="{{ app.request.basepath }}/bootstrap-waterfall/bootstrap-waterfall.js"></script>
        
        {# active pnotify #}
        <script  type="text/javascript">
        	PNotify.prototype.options.styling = "fontawesome";

        	function createNotifyError(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'notice',
        		    hide: false
        		});
        		$(notice).remove();
            }

        	function createNotifySuccess(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'success',
        		    delay:2000,
        		});
        		$(notice).remove();
            }

        	function createNotifyWarning(notice)
        	{
        		new PNotify({
        		    title: $(notice).attr('title'),
        		    text: $(notice).text(),
        		    type: 'warning',
        		    delay:2000,
        		});
        		$(notice).remove();
            }
        	
        	$(function(){
        		$("div.notifyError").each(function() {
            		createNotifyError(this);
        		});
        		$("div.notifySuccess").each(function() {
            		createNotifySuccess(this);
        		});
        		$("div.notifyWarning").each(function() {
            		createNotifySuccess(this);
        		});
        	});
        	
        </script>
        
        {# manipulation des dates #}
        <script src="{{ app.request.basepath }}/js/moment.js"></script>
        <script>
        	moment.locale('fr');
        </script>
                
        {# Active les tooltip de bootstrap #}
        <script type="text/javascript">
	    	$(function () {
	        	$("[data-toggle='tooltip']").tooltip();
	    	});
		</script>
		
		
					        	
    	{% block javascript %}	
		{% endblock javascript %}
    </body>
</html>
