<nav class="navbar navbar-default">
  <div class="container-fluid">
  
  	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">LarpManager</a>
    </div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="http://www.eveoniris.com">Eve-Oniris</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion du stock</a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('stock_homepage') }}">Tableau de bord</a></li>
					<li><a href="{{ path('stock_etat_index') }}">Etats</a></li>
					<li><a href="{{ path('stock_tag_index') }}">Tags</a></li>
					<li><a href="{{ path('stock_localisation_index') }}">Localisations</a></li>
					<li><a href="{{ path('stock_proprietaire_index') }}">Proprietaires</a></li>
					<li><a href="{{ path('stock_objet_index') }}">Objets</a></li>
				</ul>
			</li>
			<li><a href="{{ path('user') }}">My account</a></li>
			<li><a href="{{ path('user.list') }}">User list</a></li>
			<li><a href="{{ path('user.logout') }}">Logout</a></li>
			<li><a href="{{ path('user.login') }}">Sign in</a></li>
			<li><a href="{{ path('user.register') }}">Create acount</a></li>
		</ul>
	</div>
</div>