<nav class="navbar navbar-default">
  <div class="container-fluid">
  
  	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">LarpManager</a>
    </div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="http://www.eveoniris.com">Eve-Oniris</a></li>
			
			{# Menus reservé aux admins #}
			{% if is_granted('ROLE_SCENARISTE', app.user) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('annonce.list') }}">Liste des annonces</a></li>
						<li><a href="{{ path('gn.list') }}">Liste des grandeurs natures</a></li>
						<li><a href="{{ path('user.admin.list') }}">Liste des utilisateurs</a></li>
						<li><a href="{{ path('groupe.admin.list') }}">Liste des groupes</a></li>
						<li><a href="{{ path('groupeSecondaire.admin.list') }}">Liste des groupes secondaires</a></li>
						<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
						<li><a href="{{ path('right.admin.list') }}">Liste des droits</a></li>
					</ul>
				</li>
			{% endif %}
			
			{# Menus reservé aux scénaristes #}
			{% if is_granted('ROLE_SCENARISTE', app.user) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scénario<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('appelation') }}">Appelations</a></li>
						<li><a href="{{ path('territoire') }}">Territoires</a></li>
						<li><a href="{{ path('langue') }}">Langues</a></li>
						<li><a href="{{ path('ressource') }}">Ressources</a></li>
						<li><a href="{{ path('religion') }}">Religions</a></li>
						<li><a href="{{ path('religion.level') }}">Fanatisme</a></li>
						<li><a href="{{ path('statistique') }}">Statistiques</a></li>
						<li><a href="{{ path('background.list') }}">Backgrounds</a></li>
					</ul>
				</li>
			{% endif %}
			
			{# Menus reservé aux règles #}
			{% if is_granted('ROLE_REGLE', app.user) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Règles<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('competence.family') }}">Famille de compétences</a></li>
						<li><a href="{{ path('level') }}">Niveaux</a></li>
						<li><a href="{{ path('competence') }}">Compétences</a></li>
						<li><a href="{{ path('classe') }}">Classes</a></li>
						<li><a href="{{ path('age') }}">Ages</a></li>
						<li><a href="{{ path('genre') }}">Genres</a></li>
					</ul>
				</li>
			{% endif %}
			
			{# Menus reservé au stock #}
			{% if is_granted('ROLE_STOCK', app.user) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stock<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('stock_homepage') }}">Tableau de bord</a></li>
						<li><a href="{{ path('stock_etat_index') }}">Etats</a></li>
						<li><a href="{{ path('stock_tag_index') }}">Tags</a></li>
						<li><a href="{{ path('stock_localisation_index') }}">Localisations</a></li>
						<li><a href="{{ path('stock_rangement_index') }}">Rangements</a></li>
						<li><a href="{{ path('stock_proprietaire_index') }}">Proprietaires</a></li>
						<li><a href="{{ path('stock_objet_list',{'page':1}) }}">Objets</a></li>
						<li><a href="{{ path('stock_objet_export') }}">Exporter</a></li>
					</ul>
				</li>
			{% endif %}
			
			{# Menus reservé aux utilisateurs #}
			{% if is_granted('ROLE_USER', app.user) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joueur<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('forum') }}">Forum</a></li>
						<li><a href="{{ path('competence.list') }}">Les compétences</a></li>
						<li><a href="{{ path('classe.list') }}">Les classes</a></li>
						<li><a href="{{ path('groupeSecondaire.list') }}">Les groupes secondaires</a></li>
						<li><a href="{{ path('religion.list') }}">Les religions</a></li>
					</ul
				</li>
			{% endif %}
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compte<span class="caret"></span></a>
				<ul class="dropdown-menu">
					{%  if app.user %}			
						{% if is_granted('ROLE_USER', app.user) %}
							<li><a href="{{ path('etatCivil') }}">Mon état-civil</a></li>
						{% endif %}
						<li><a href="{{ path('user') }}">Mon compte</a></li>					
						<li><a href="{{ path('user.logout') }}">Déconnection</a></li>
					{%  else %}
						<li><a href="{{ path('user.login') }}">Connection</a></li>
						<li><a href="{{ path('user.register') }}">S'enregistrer</a></li>
					{%  endif %}
				</ul>
			</li>	
						
			{% if is_granted('ADMIN_USER', app.user) %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Larp</a>
				<ul class="dropdown-menu">			
					<li><a href="{{ path('install') }}">Tableau de bord</a></li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
</div>