{% extends "layout.twig" %}

{% block title %}Ingredients{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('ingredient.admin.list') }}">Liste des ingrédients</a></li>
		<li class="active">Modifier un ingrédient</li>
	</ol>
	
	
	<div class="well bs-component">
		<form action="{{ path('ingredient.admin.update', {'ingredient': ingredient.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Modification d'un ingredient</legend>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
				
{% endblock content %}