{% extends "layout.twig" %}

{% block title %}Titre{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('titre.admin.list') }}">Liste des titres</a></li>
		<li class="active">Supprimer un titre</li>
	</ol>
	
	
	<div class="well bs-component">
		<form action="{{ path('titre.admin.delete', {'titre': titre.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Supression d'un titre</legend>
					{{ titre.label }} -- {{ titre.renomme }} point de renommés necessaires
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
				
{% endblock content %}