{% extends "layout.twig" %}

{% block title %}Titres{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des titres</li>
	</ol>
	
	<div class="well well-sm">
	
		<a href="{{ path('titre.admin.add') }}"><i class="fa fa-plus"></i> Ajouter un titre</a>
		
		<ul class="list-group">
		{% for titre in titres %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{{ titre.label }} -- {{ titre.renomme }} points de renommé necessaires						
					</div>
					<div class="col-md-4">
						<a href="{{ path('titre.admin.update',{'titre':titre.id}) }}"><i class="fa fa-pencil"></i> Modifier</a>&nbsp;|&nbsp;
						<a href="{{ path('titre.admin.detail',{'titre':titre.id}) }}"><i class="fa fa-eye"></i> Detail</a>&nbsp;|&nbsp;
						<a href="{{ path('titre.admin.delete',{'titre':titre.id}) }}"><i class="fa fa-eraser"></i> Supprimer</a>
					</div>
				</div>
		    </li>

		{% endfor %}
	 	</ul>
	</div>
	
{% endblock %}