{% extends "layout.twig" %}

{% block title %}{{ groupe.nom}}{% endblock title %}
{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.admin.list") }}">Liste des groupes</a></li>
		<li class="active">{{ groupe.nom }}</li>
	</ol>
						
			<div class="well well-sm">

				<div class="row">
					<div class="col-md-8">
						<div class="header">
							<h5>{{ groupe.numero|default('?') }} - {{ groupe.nom }}</h5>
						</div>
								
								
						<div>
						  	<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
	    						<li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Détail</a></li>
	    						<li role="presentation"><a href="#membres" aria-controls="membres" role="tab" data-toggle="tab">Membres</a></li>
	    						<li role="presentation"><a href="#backgrounds" aria-controls="backgrounds" role="tab" data-toggle="tab">Backgrounds</a></li>
	    						<li role="presentation"><a href="#enveloppe" aria-controls="enveloppe" role="tab" data-toggle="tab">Enveloppe</a></li>
	    					</ul>
	    					
	    					<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="detail">
									{% include 'admin/groupe/fragment/detail.twig' with {'groupe': groupe} %}
								</div>
								<div role="tabpanel" class="tab-pane" id="membres">
									{% include 'admin/groupe/fragment/membres.twig' with {'groupe': groupe} %}
								</div>
								<div role="tabpanel" class="tab-pane" id="backgrounds">
									{% include 'admin/groupe/fragment/backgrounds.twig' with {'groupe': groupe} %}
								</div>
								<div role="tabpanel" class="tab-pane" id="enveloppe">
									{% include 'admin/groupe/fragment/enveloppe.twig' with {'groupe': groupe} %}
								</div>
							</div>
						</div>
    				
						
					</div>
					<div class="col-md-4">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="btn-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <i class="fa fa-print"></i>
	  									</button>
	  									<ul class="dropdown-menu">
	  										<li><a href="{{ path('groupe.print.materiel.groupe', {'groupe' : groupe.id}) }}">Matériel necessaire (groupe)</a></li>
	  										<li><a href="{{ path('groupe.print.materiel', {'groupe' : groupe.id}) }}">Matériel necessaire (personnages)</a></li>
											<li><a href="{{ path('groupe.print.perso', {'groupe' : groupe.id}) }}">Fiche de perso</a></li>
											<li><a href="{{ path('groupe.print.background', {'groupe' : groupe.id}) }}">Background</a></li>
	  									</ul>
	  								</div>
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <i class="fa fa-bars"></i>
	  									</button>
										
										<ul class="dropdown-menu">
											{% if groupe.lock %}
												<li><a href="{{ path('groupe.unlock', {'groupe' : groupe.id}) }}"><i class="fa fa-unlock fa-fw"></i> Ouvrir</a></li>
											{% else %}
												<li><a href="{{ path('groupe.lock', {'groupe' : groupe.id}) }}"><i class="fa fa-lock fa-fw"></i> Fermer</a></li>
											{% endif %}
											{% if groupe.free %}
												<li><a href="{{ path('groupe.unvailable', {'groupe' : groupe.id}) }}">Rendre indisponible</a></li>
											{% else %}
												<li><a href="{{ path('groupe.available', {'groupe' : groupe.id}) }}">Rendre disponible</a></li>
											{% endif %}
											<li role="separator" class="divider"></li>
											<li><a href="">Choisir le scénariste</a></li>
											<li><a href="">Choisir le responsable</a></li>
											<li role="separator" class="divider"></li>
											<li><a href=""><i class="fa fa-pencil"></i> Modifier la description</a></li>
											<li><a href="{{ path('groupe.admin.pays.update', {'groupe': groupe.id}) }}"><i class="fa fa-pencil"></i> Modifier le pays</a></li>
											<li><a href="{{ path('groupe.territoire.add', {'groupe': groupe.id}) }}"><i class="fa fa-plus"></i> Ajouter un territoire</a></li>
											<li><a href="{{ path('groupe.quete',{'groupe': groupe.id}) }}">Générer une quête commerciale</a></li>
											<li><a href="">Type de jeu</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="{{ path('groupe.place', {'index':groupe.id}) }}">Modifier le nombre de place</a></li>
											<li><a href="{{ path('groupe.admin.participant.add', {'groupe': groupe.id}) }}">Ajouter un utilisateur</a></li>
											<li><a href="">Modifier le code</a></li>
											<li><a href="">Modifier la composition du groupe</a></li>
										</ul>
									</div>
									<a role="button" class="btn btn-default" href="{{ path('groupe.restauration', {'groupe' : groupe.id}) }}">
										<i class="fa fa-coffee"></i>
	  								</a>
								</div>
							
							</li>
							<li class="list-group-item">
								{% if groupe.lock %}
									Le groupe est <strong class="text-warning">fermé</strong>.
								{% else %}
									Le groupe est <strong class="text-success">ouvert</strong>.
								{% endif  %}
							</li>
							<li class="list-group-item">
								{% if groupe.free %}
									Le groupe est <strong class="text-success">disponible</strong>.
								{% else %}
									Le groupe est <strong class="text-warning">réservé</strong>.
								{% endif  %}
							</li>
							<li class="list-group-item">
								<strong>Scénariste : </strong>
						
								{% if not groupe.scenariste %}
		    						<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
			    					Attention, ce groupe n'a pas de scénariste.
		    					{% else %}
		    						{% if groupe.scenariste.etatCivil %}
		    							{{ groupe.scenariste.etatCivil.nom }} {{ groupe.scenariste.etatCivil.prenom }}
		    						{% endif %}
		    						&nbsp;{{ groupe.scenariste.email }}
		    					{% endif %}
							</li>
							
							<li class="list-group-item">
								<strong>Responsable : </strong>
						
								{% if not groupe.responsable %}
									<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
			    					Attention, ce groupe n'a pas de responsable.
								{% else %}
									{% if groupe.responsable.etatCivil %}
										{{ groupe.responsable.etatCivil.nom }} {{ groupe.responsable.etatCivil.prenom }}
									{% endif %}
									&nbsp;{{ groupe.responsable.email }}
								{% endif %}
							</li>
							
							<li class="list-group-item">
								<strong>places disponibles : </strong>
								{{ groupe.classeOpen - groupe.participants|length}}
							</li>
							
							<li class="list-group-item">
								<strong>Code : </strong>
								{{ groupe.code }}
							</li>
							
							
							<li class="list-group-item">
		    					<strong>Jeu stratégique : </strong>
    				
    							{% if groupe.jeuStrategique %}
    								<span class="text-success">participe.</span>
		    					{% else %}
    								<span class="text-warning">ne participe pas.</span>
    							{% endif %}
		    				</li>
	    			
	    					<li class="list-group-item">
    							<strong>Jeu maritime : </strong>
			    				
			    				{% if groupe.jeuMaritime %}
					    			<span class="text-success">participe.</span>
					    		{% else %}
			    					<span class="text-warning">ne participe pas.</span>
			    				{% endif %}
					    	</li>
							
						</ul>						
					</div>
				</div>
			</div>			
	
			
{% endblock %}
