{% extends "layout_print.twig" %}

{% block style %}
<style>
body {
	font-size:12px;
}
</style>
{% endblock style %}

{% block content %}

{% for participant in participants if participant.personnage %}

	<h2>#{{ participant.personnage.id }} {{ participant.personnage.nom }} {{ participant.personnage.surnom }}</h2>
	<h3>Groupe {{groupe.numero }} - {{ groupe.nom }}</h3>
	
	{% for participantHasRestauration in participant.participantHasRestaurations %}
		<strong>Restauration :</strong> {{ participantHasRestauration.restauration.label }}<br />
	{% endfor %}
	
	<strong>Personnage Secondaire : </strong>
	{% if participant.personnageSecondaire %}
		{{ participant.personnageSecondaire.classe.label }}
	{% else %}
		PAS DE PERSONNAGE SECONDAIRE
	{% endif %}
	<br />
		
	
	<strong>Renommée :</strong> {{ participant.personnage.renomme|default(0) }}<br />
	<strong>Héroïsme :</strong> {{ participant.personnage.heroisme|default(0) }}<br />
	<strong>Richesse :</strong> {{ participant.personnage.richesse|default(0) }} PA<br />
	<strong>Lié aux compétences :</strong>
	<ul>	
	{% for competence in participant.personnage.competences %}
		{% if competence.materiel %}
			<li><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>
				{{ competence.materielRaw }}
			</li>
		{% endif %}
	{% else %}
		<li>Aucun matériel</li>
	{% endfor %}
	</ul>
	
	<strong>Lié aux langues : </strong>
	<ul>
		{% for personnageLangue in participant.personnage.personnageLangues %}
			{% if personnageLangue.langue.diffusion == 2 %}
				<li><strong>{{ personnageLangue.langue.label }}</strong></li>
			{% endif %}
		{% else %}
			<li>Aucun matériel</li>
		{% endfor %}
	</ul>
																	
	{# documents #}
	<strong>Documents</strong>
	<ul>
	{% for document in participant.personnage.documents %}
		<li><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}</li>
	{% endfor %}
	</ul>
	
	
	{# objets #}
	<strong>Objets</strong>
	<ul>
	{% for item in participant.personnage.items %}
		<li><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}</li>
	{% endfor %}
	</ul>
	
	{# ingredients #}
	<strong>Ingrédients</strong>
	<ul>
		{% for personnageIngredient in participant.personnage.personnageIngredients %}
			<li>{{personnageIngredient.nombre}} - {{ personnageIngredient.ingredient }}</li>
		{% endfor %}
	</ul>
	
	{# ressources #}
	<strong>Ressources</strong>
	<ul>
		{% for personnageRessource in participant.personnage.personnageRessources %}
			<li>{{personnageRessource.nombre}} - {{ personnageRessource.ressource }}</li>
		{% endfor %}
	</ul>
		
	<strong>Technologies</strong>
	<ul>
	{% for technologie in participant.personnage.technologies %}
		<li>{{ technologie.label }}</li>
	{% endfor %}
	</ul>
		
	<strong>Matériel supplémentaire</strong><br />
	{{ participant.personnage.materiel }}
	
	<hr class="print-page-break" />

{% else %}
	Attention ! Pas de personnage.
	
	<hr class="print-page-break" />
{% endfor %}


{% endblock content %}
