{% extends "layout_print.twig" %}

{% block style %}
<style>
body {
font-size: 12px;
}
table tr td {
	font-size : 12px;
	vertical-align: top;
}

</style>
{% endblock style %}


{% block content %}
    	
	<h2>Groupe {{groupe.numero }} - {{ groupe.nom }}</h2>
	
	<strong>Les personnages</strong>
	<ul>
	{% for participant in groupe.nextSession.participants %}
		{% if participant.personnage %}
			<li>#{{ participant.personnage.id }} {{ participant.personnage.nom }}{% if participant.personnage.surnom %} ({{ participant.personnage.surnom }}){% endif %}</li>
		{% else %}
			<li>Attention le participant {{ participant.user.username }} / {{ participant.user.email }} n'a pas de personnage</li>
		{% endif %}
	{% endfor %}
	</ul>	
		
	<strong>Ressources</strong>
	<ul>
	{% if groupe.hasRessource %}
		{% for territoire in groupe.territoires %}
			{% for ressource in territoire.exportations %}
		    	<li><strong>3 {{ ressource.label }}</strong> fourni(e)s par <strong>{{ territoire.nom }}</strong></li>
			{% endfor %}
		{% endfor %}
	{% else %}
		<li>Aucun</li>
	{% endif %}
	{% for groupeHasRessource in groupe.groupeHasRessources %}
        	<li><strong>{{ groupeHasRessource.quantite }} {{ groupeHasRessource.ressource.label }}</strong></li>
	{% endfor %}
	</ul>	
	
	<strong>Richesse</strong>
	<ul>
	{% if groupe.hasRichesse %}
		{% for territoire in groupe.territoires %}
			<li><strong>{{ 3*territoire.richesse }} pièces d'argent</strong> fournies par <strong>{{ territoire.nom }}</strong></li>
		{% endfor %}
	{% else %}
		<li>Aucun</li>
	{% endif %}
		<li><strong>{{ groupe.richesse|default(0) }} pièces d'argent</strong> supplémentaires</li>
	</ul>
	
	<strong>Ingrédients</strong>
	<ul>
	{% if groupe.hasIngredient %}
		{% for territoire in groupe.territoires %}
			{% for ingredient in territoire.ingredients %}
				<li><strong>5 {{ ingredient.label }}</strong> fourni(e)s par <strong>{{ territoire.nom }}</strong></li>
		    {% endfor %}
		{% endfor %}
	{% else %}
		<li>Aucune</li>
	{% endif %}
	{% for groupeHasIngredient in groupe.groupeHasIngredients %}
        	<li><strong>{{ groupeHasIngredient.quantite }} {{ groupeHasIngredient.ingredient.fullLabel }}</strong></li>
	{% endfor %}
	</ul>
	
	<strong>Documents</strong>
	<ul>
	{% for document in groupe.documents %}
		<li>{{ document.code }} -- {{ document.titre }}</li>
	{% endfor %}
	</ul>
	
	<strong>Objets</strong>
	<ul>
	{% for objet in groupe.items %}
		<li>{{ objet.numero }} - {{ objet.label }}</li>
	{% endfor %}
	</ul>
	
	<strong>Matériel</strong>
	<p>{{ groupe.materielRaw }}</p>
	
	<strong>Jeu maritime</strong>
	{% if session.jeuMaritime %}
	Participe au jeu maritime
	{% else %}
	Ne participe pas au jeu maritime
	{% endif %}

<hr class="print-page-break" />

<div>
                        <h4>Quête commerciale pour #{{ groupe.numero}} {{ groupe.nom }}</h4>
                        <p>La route commerciale doit partir de <strong>{% if groupe.territoire %}{{ groupe.territoire.nom }}{% else %}INCONNU{% endif %}</strong> et parvenir à <strong>{% if quete.cible %}{{ quete.cible.nom }}{% else %}INCONNU{% endif %}</strong></p>
                        <strong>Les ressources demandées sont :</strong>
                        <ul>
                                {% for ressource in quete.needs %}
                                        <li>{{ ressource.label }}</li>
                                {% endfor %}
                        </ul>
                        <strong>Récompenses : </strong>{{ quete.recompenses|join(', ') }}
                </div>
{% endblock content %}
