{% extends "layout_print.twig" %}
{% block content %}

	{% for quete in quetes %}
		<div>
			<h4>Quête commerciale pour #{{ quete.groupe.numero}} {{ quete.groupe.nom }}</h4>
			<p>La route commerciale doit partir de <strong>{% if quete.groupe.territoire %}{{ quete.groupe.territoire.nom }}{% else %}INCONNU{% endif %}</strong> est parvenir au territoire <strong>{% if quete.quete.cible %}{{ quete.quete.cible.nom }}{% else %}INCONNU{% endif %}</strong></p>
			<strong>Les ressources demandées sont :</strong>
			<ul>
				{% for ressource in quete.quete.needs %}	
					<li>{{ ressource.label }}</li>
				{% endfor %}
			</ul>
			<strong>Récompenses : </strong>{{ quete.quete.recompenses|join(', ') }}
		</div>

		<hr class="print-page-break" />
	{% endfor %}

{% endblock content %}
