{% extends "layout_print.twig" %}
{% block content %}
		<div>
                        <h4>Quête commerciale pour #{{ groupe.numero}} {{ groupe.nom }}</h4>
                        <p>La route commerciale doit partir de <strong>{% if groupe.territoire %}{{ groupe.territoire.nom }}{% else %}INCONNU{% endif %}</strong> et parvenir à <strong>{% if cible %}{{ cible.nom }}{% else %}INCONNU{% endif %}</strong></p>
                        <strong>Les ressources demandées sont :</strong>
                        <ul>
                                {% for ressource in needs %}
                                        <li>{{ ressource.label }}</li>
                                {% endfor %}
                        </ul>
                        <strong>Récompenses : </strong>{{ recompenses|join(', ') }}
                </div>

{% endblock content %}
