{% extends "layout.twig" %}

{% block title %}Groupes{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.admin.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'index': groupe.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Modifier les ressources du groupe</li>
	</ol>
	
	<div class="well well-sm">
		<form action="{{ path('groupe.admin.ressources',{'groupe': groupe.id}) }}" method="POST">
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}		
			{{ form_start(form) }}
			<h4>{{ form_label(form.groupeHasRessources) }}</h4>
			<p>Ajoutez içi les ressources additionnelles</p>
			<ul class="list-group groupeHasRessources" data-prototype="{{ form_widget(form.groupeHasRessources.vars.prototype)|e }}">
				{% for groupeHasRessource in form.groupeHasRessources %}
					<li class="list-group-item">
							<div class="ressource">
								{{ form_widget(groupeHasRessource.quantite) }}
								{{ form_widget(groupeHasRessource.ressource) }}
							</div>
					</li>
				{% endfor %}
			</ul>
			{{ form_end(form) }}
		</form>
	</div>
{% endblock %}

{% block javascript %}
<script>

	function addGroupeHasRessourceForm(collectionHolder, $newRessourceLinkLi) {
	    // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
	    var prototype = collectionHolder.attr('data-prototype');
	
	    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
	    // la longueur de la collection courante
	    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
	
	    // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
	    var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
	    $newRessourceLinkLi.before($newFormLi);
	
		 // ajoute un lien de suppression au nouveau formulaire
	    addGroupeHasRessourceFormDeleteLink($newFormLi);
	}
	
	function addGroupeHasRessourceFormDeleteLink($groupeHasRessourceFormLi) {
	    var $removeFormA = $('<span class="input-group-btn"><a class="btn btn-link" href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></span>');
	    $('select',$groupeHasRessourceFormLi).wrap('<div class="input-group"></div>');
	    $('select',$groupeHasRessourceFormLi).after($removeFormA);
	
	    $removeFormA.on('click', function(e) {
	        // empêche le lien de créer un « # » dans l'URL
	        e.preventDefault();
	
	        // supprime l'élément li pour le formulaire de tag
	        $groupeHasRessourceFormLi.remove();
	    });
	}

	var collectionRessourceHolder = $('ul.groupeHasRessources');
	var $addGroupeHasRessourceLink = $('<a href="#" class="add_groupeHasRessource_link">Ajouter une ressource</a>');
	var $newRessourceLinkLi = $('<li class="list-group-item"></li>').append($addGroupeHasRessourceLink);
	
	jQuery(document).ready(function() {
		
	    collectionRessourceHolder.find('li').each(function() {
	        addGroupeHasRessourceFormDeleteLink($(this));
	    });
	
	    collectionRessourceHolder.append($newRessourceLinkLi);
	
	    $addGroupeHasRessourceLink.on('click', function(e) {
	        // empêche le lien de créer un « # » dans l'URL
	        e.preventDefault();
	
	        // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
	        addGroupeHasRessourceForm(collectionRessourceHolder, $newRessourceLinkLi);
	    });
	    $("div#groupeRessource_groupeHasRessources").parent().remove();
	});

</script>
{% endblock javascript %}