{% extends "layout.twig" %}

{% block title %}Age{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('classe') }}">Liste des classes</a></li>
		<li class="active">Personnages ayant cette classe</li>
	</ol>
	

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
				<div class="well well-sm">
				<h4>
					{{ classe.label }}
					<small>
						( {{ classe.personnages|length }} personnages )
					</small>
				</h4>
			</div>

			<div class="list-group">
				{% for personnage in classe.personnages %}
					<a class="list-group-item" href="{{ path('personnage.admin.detail',{'personnage':personnage.id}) }}">#{{ personnage.id }} - {{ personnage.nom }}{% if personnage.surnom %} ({{ personnage.surnom }}){% endif %} -- {{ personnage.classeName }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
	
{% endblock %}