{% extends "layout.twig" %}

{% block title %}Background{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">Background</li>
	</ol>
	
	<div class="well well-sm">
    									
		<div class="header"><h5>Vos backgrounds de groupe</h5></div>
		
		{% for background in backsGroupe %}
			<div class="header"><h5>{{ background.gn.label }}</h5></div>
			{% if background.visibility == 'GROUPE_MEMBER' %}
				<blockquote>Background visible en qualité de membre du groupe {{ personnage.groupe }}</blockquote>
			{% elseif background.visibility == 'GROUPE_OWNER' %}
				<blockquote>Background visible en qualité de responsable du groupe {{ personnage.groupe }}</blockquote>
			{% elseif background.visibility == 'PUBLIC' %}
				<blockquote>Background visible à tous les joueurs</blockquote>
			{% endif %}
			{{ background.text|markdown }}
		{% else %}
			<blockquote>Votre groupe n'a pas encore de background validé.</blockquote>  
		{% endfor %}
		
		{% if backsJoueur|length > 0 %}
			<div class="header"><h5>Vos backgrounds personnels</h5></div>
			
			{% for background in backsJoueur %}
			<div class="header"><h5>{{ background.gn.label }}</h5></div>
				{{ background.text|markdown }}
			{% endfor %}
		{% endif %}	
		
	</div>
	
{% endblock content %}