{% extends "layout.twig" %}

{% block title %}Religions{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">Les religions</li>
	</ol>
	
	<div class="list-group">
		{% for religion in religions %}
			<div class="list-group-item">
				<h5 class="list-group-item-heading header">{{ religion.label }}</h5>
				<div class="rows clearfix">
					<div class="col-md-2">
						{% if religion.blason %}
		      				<img width="160" src="{{ path('blason.get', {'blason' : religion.blason }) }}" />
		      			{% endif %}
				    </div>
				    <div class="col-md-10">
						<p class="list-group-item-text">{{ religion.description|markdown }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
{% endblock content %}