{% extends "layout.twig" %}

{% block title %}Fédégn{% endblock title %}

{% block content %}

<h2>Liste des participants joueurs NON fédégn (utilisateur dans un groupe)  - {{ participants|length }} participants</h2>
<ul class="list-group">
{% for participant in participants %}
	<li class="list-group-item">{{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }} {{ participant.user.email }} - {{ participant.user.etatCivil.dateNaissance|date("Y-m-d") }}</li>
{% endfor %}
</ul>
{% endblock content %}