{% extends "layout.twig" %}

{% block title %}Trombinoscope{% endblock title %}

{% block content %}

<div class="well well-sm">

<ul class="list-group">
	<li class="list-group-item">
		{% if paginator.totalItems == 1 %}
			<strong>1</strong> personnage trouvé.
		{% else %}
			<strong>{{ paginator.totalItems }}</strong> personnages trouvés.
		{% endif %}
		
		Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.
	</li>
	<li class="list-group-item">
		{{ paginator|raw }}
	</li>
</ul>
	




<div class="rows clearfix">
	{% for personnage in personnages %}
		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
				<div style="width:160px;height:200px;" class="center-block">
					{% if personnage.trombineUrl %}
						<img width="160" height="200" src="{{ path('personnage.trombine', {'personnage' : personnage.id }) }}" />
					{% else %}
						<img width="160" height="200" src="{{ app.request.basepath }}/img/no_trombine.png" />
					{% endif %}
				</div>
				<div class="caption">
					<h5>
					{% set user = personnage.user %}
					{% if user.etatCivil %}
						<p>{{ user.etatCivil.nom }} {{ user.etatCivil.prenom }}</p>
					{% else %}
						<p class="text-warning">Etat civil non rempli.</p>
					{% endif %}
						<small>{{ user.username }}</small>
					</h5>
					<ul class="list-group">
						<li class="list-group-item"><strong>Email : </strong><br />{{ user.email }}</li>
						<li class="list-group-item"><strong>Création du compte : </strong>{{ user.creationDate|date('Y-m-d') }}</li>
						<li class="list-group-item">
							<strong>Personnage : </strong><br />
							<a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">{{ personnage.publicName }}</a>	
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{{ paginator|raw }}

</div>
{% endblock content %}