{% extends "layout.twig" %}

{% block title %}Domaine de magie{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.domaine.list') }}">Liste des domaines de magie</a></li>
		<li class="active">Détail d'un domaine de magie</li>
	</ol>

	<div class="list-group">
		<div class="list-group-item">
			<div class="list-group-item-heading"><h6>Label</h6></div>
			<div class="list-group-item-text">{{ domaine.label }}</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Description</h4></div>
		<div class="panel-body">
			<p>{{ domaine.description|markdown }}</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Liste des sortilèges</h4></div>
		<div class="panel-body">
			<a href="{{ path('magie.sort.add') }}"><i class="fa fa-plus"></i> Ajouter un sortilège</a>
			<div class="list-group">
			{% for sort in domaine.sorts %}
				<div class="list-group-item">
					<div class="list-group-item-heading"><h6>Label</h6></div>
					<div class="list-group-item-text">{{ sort.label }}</div>
					<div class="list-group-item-text">{{ sort.description|markdown }}</div>
				</div>	
			{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock content %}