<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('stock_objet_add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un objet</h4>
		</a>
	{%  endif %}
	{%  for objet in objets %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ objet.code }} 
		</h4>
		<p class="list-group-item-text">
			{{ objet.nom }} : {{ objet.description }}.
			
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('stock_objet_detail', {index: objet.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('stock_objet_update', {index: objet.id}) }}" class="btn btn-default" role="button">Modifier</a>
			    <a href="{{ path('stock_objet_clone', {index: objet.id}) }}" class="btn btn-default" role="button">Cloner</a>
			</div>
		</p>
		<p class="list-group-item-text">
			Créé par :
			<small>, le {{ objet.creationDate|date('Y-m-d H:i:s') }}</small>
		</p>
		
	</li>
	{%  endfor %}
</ul>