{% extends "layout.twig" %}

{% block title %}Votre personnage{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">{{ personnage.nom }}</li>
	</ol>

	<div class="well well-sm">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Liste des groupes secondaires" href="{{ path('participant.groupeSecondaire.list', {'participant': participant.id}) }}"><i class="fa fa-user-secret" aria-hidden="true"></i></a>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Choisir une nouvelle religion" href="{{ path('participant.religion.add',{'participant': participant.id}) }}"><i class="fa fa-cloud" aria-hidden="true"></i></a>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Acheter une compétence" href="{{ path('participant.competence.add', {'participant': participant.id}) }}"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier votre personnage" href="{{ path('participant.personnage.edit', {'participant': participant.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				{% if personnage.hasCompetence('Magie') %}
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Découvrir la magie" href="{{ path('participant.magie', {'participant': participant.id}) }}"><i class="fa fa-magic" aria-hidden="true"></i></a>
				{% endif %}
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Imprimer votre personnage" href="{{ path('personnage.export', {'personnage':participant.personnage.id}) }}"><i class="fa fa-print" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>	
		
		<div class="row">
			<div class="col-sm-6">
				<div class="well well-sm">
					{% if personnage.personnageTriggers|length > 0 %}
						<blockquote>Vos compétences vous permettent de choisir des connaissances supplémentaires</blockquote>
						<ul class="list-group">
						{% for trigger in personnage.personnageTriggers %}
							{% if trigger.tag == 'LANGUE COMMUNE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.langueCommune', {'participant': participant.id}) }}">Choisir une langue commune supplémentaire</a></li>
							{% endif %}
							{% if trigger.tag == 'LANGUE COURANTE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.langueCourante', {'participant': participant.id}) }}">Choisir une langue courante supplémentaire</a></li>
							{% endif %}
							{% if trigger.tag == 'LANGUE ANCIENNE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.langueAncienne', {'participant': participant.id}) }}">Choisir une langue ancienne supplémentaire</a></li>
							{% endif %}
							{% if trigger.tag == 'ALCHIMIE APPRENTI' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.potion', {'niveau' : 1, 'participant' : participant.id}) }}">Choisir une nouvelle potion de niveau Apprenti</a></li>
							{% endif %}
							{% if trigger.tag == 'ALCHIMIE INITIE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.potion', {'niveau' : 2, 'participant' : participant.id}) }}">Choisir une nouvelle potion de niveau Initié</a></li>
							{% endif %}
							{% if trigger.tag == 'ALCHIMIE EXPERT' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.potion', {'niveau' : 3, 'participant' : participant.id}) }}">Choisir une nouvelle potion de niveau Expert</a></li>
							{% endif %}
							{% if trigger.tag == 'ALCHIMIE MAITRE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.potion', {'niveau' : 4, 'participant' : participant.id}) }}">Choisir une nouvelle potion de niveau Maitre</a></li>
							{% endif %}
							{% if trigger.tag == 'DOMAINE MAGIE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.domaine', {'participant': participant.id}) }}">Choisir un domaine de magie</a></li>
							{% endif %}
							{% if trigger.tag == 'SORT APPRENTI' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.sort', {'participant': participant.id, 'niveau' : 1}) }}">Choisir un sort de niveau Apprenti</a></li>
							{% endif %}
							{% if trigger.tag == 'SORT INITIE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.sort', {'participant': participant.id, 'niveau' : 2}) }}">Choisir un sort de niveau Initié</a></li>
							{% endif %}
							{% if trigger.tag == 'SORT EXPERT' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.sort', {'participant': participant.id, 'niveau' : 3}) }}">Choisir un sort de niveau Expert</a></li>
							{% endif %}
							{% if trigger.tag == 'SORT MAITRE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.sort', {'participant': participant.id, 'niveau' : 4}) }}">Choisir un sort de niveau Maitre</a></li>
							{% endif %}
							{% if trigger.tag == 'PRETRISE INITIE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.religionDescription', {'participant': participant.id}) }}">Choisir une description de religion</a></li>
							{% endif %}
							{% if trigger.tag == 'TECHNOLOGIE' %}
								<li class="list-group-item"><a href="{{ path('participant.personnage.technologie', {'participant': participant.id}) }}">Choisir une technologie</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					{% endif %}
						
					{% include 'public/personnage/fragment/info.twig' with {'personnage': personnage, 'participant' : participant} %}
					{% include 'public/personnage/fragment/origine.twig' with {'personnage': personnage, 'participant': participant} %}
					{% if personnage.personnageLignee|length > 0 %}
						{% include 'public/personnage/fragment/lignee.twig'%}
					{% endif%}
					{% include 'public/personnage/fragment/chronologie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/pugilat.twig' with {'personnage': personnage} %}
					{% include 'public/personnage/fragment/competence.twig' with {'personnage': personnage, 'participant': participant} %}
				</div>
				
			</div>
			
			<div class="col-sm-6">
				<div class="well well-sm">
					{% include 'public/personnage/fragment/trombinoscope.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/groupe.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/groupeSecondaireChef.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/groupeSecondaireMembre.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/alchimie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/magie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/language.twig' with {'personnage': personnage, 'participant': participant} %}
					{% if personnage.technologies|length > 0 %}
						{% include 'public/personnage/fragment/technologie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% endif %}
					{% if personnage.items|length > 0 %}
						{% include 'public/personnage/fragment/item.twig' with {'personnage': personnage, 'participant': participant} %}
					{% endif %}
					{% if personnage.hasCompetence('Politique') %}
						{% include 'public/personnage/fragment/politique.twig' with {'personnage': personnage, 'participant': participant, 'lois': lois} %}
					{% endif %}
					{% include 'public/personnage/fragment/priere.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/religion.twig' with {'personnage': personnage, 'participant': participant} %}
				</div>
			</div>

		</div>

{% endblock content %}