{% extends "layout.twig" %}

{% block title %}Votre personnage{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">{{ personnage.nom }} {{ personnage.surnom }}</li>
	</ol>
	
	<div class="well well-sm">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Liste des groupes secondaire" href="{{ path('participant.groupeSecondaire.list', {'participant': participant.id}) }}"><i class="fa fa-user-secret" aria-hidden="true"></i></a>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Choisir une nouvelle religion" href="{{ path('participant.religion.add',{'participant': participant.id}) }}"><i class="fa fa-cloud" aria-hidden="true"></i></a>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Acheter une compétence" href="{{ path('participant.competence.add', {'participant': participant.id}) }}"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
				{% if personnage.hasCompetence('Magie') %}
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Découvrir la magie" href="{{ path('participant.magie', {'participant': participant.id}) }}"><i class="fa fa-magic" aria-hidden="true"></i></a>
				{% endif %}
				
			</div>
		</div>
	</div>
	
	
		
		<div class="row">
			<div class="col-sm-6">
				<div class="well well-sm">		
					{% include 'public/personnage/fragment/info.twig' with {'personnage': personnage} %}
					{% include 'public/personnage/fragment/origine.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/pugilat.twig' with {'personnage': personnage} %}
				</div>
				
			</div>
			
			
			<div class="col-sm-6">
				<div class="well well-sm">
					{% include 'public/personnage/fragment/groupeSecondaire.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/religion.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/priere.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/alchimie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/magie.twig' with {'personnage': personnage, 'participant': participant} %}
					{% include 'public/personnage/fragment/language.twig' with {'personnage': personnage} %}
				</div>
			</div>
			
			
		</div>		
		<div class="well well-sm">
			{% include 'public/personnage/fragment/competence.twig' with {'personnage': personnage, 'participant': participant} %}
		</div>

		{# Autre 
		<div class="header">
			<h5>Autre</h5>
		</div>
		
		<h6>Téléchargement</h6>
		<a class="btn btn-default" href="{{ path('personnage.export', {'personnage':personnage.id}) }}">Télécharger le pdf</a>
		#}	
	
	
{% endblock content %}