{% extends "layout.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block content %}

<div class="container-fluid">

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('gn.personnage', {'gn': participant.gn.id}) }}">{{ participant.personnage.nom }}</a></li>
		<li class="active">Choix d'une nouvelle langue</li>
	</ol>
	
	<div class="well bs-component">
	<form action="{{ path('participant.personnage.langueCourante',{'participant':participant.id}) }}" method="POST" {{ form_enctype(form) }}>
		<fieldset>
			<blockquote>Votre compétence vous permet de choisir une nouvelle langue courante.</blockquote>

			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
			
			{{ form_row(form.langue) }}
			{{ form_rest(form) }}
		</fieldset>
	</form>
	</div>
</div>

{% endblock content %}