<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('gn.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un gn</h4>
		</a>
	{%  endif %}
	{%  for gn in gns %}
	<li class="list-group-item">
		
		<h4 class="list-group-item-heading">
			{{ gn.label }}
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('gn.detail', {index: gn.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('gn.update', {index: gn.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
		
		{% if gn.description %}
			<p class="list-group-item-text text-default">{{ gn.description }}</p>
		{% else %}
			<p class="list-group-item-text text-warning">Attention, ce gn n'a pas description</p>
		{%  endif %}
				
	</li>
	{%  endfor %}
</ul>