{% extends "layout.twig" %}

{% block content %}

<ol class="breadcrumb">
  <li class="active">Personnages secondaires</li>
</ol>

<div class="well bs-component">	
	<table class="table">
		<caption >
			<h5>Liste des personnages secondaires
				<a 	href="{{ path('personnageSecondaire.add') }}" 
					class="btn btn-default"
					role="button"
					data-toggle="tooltip" 
					data-placement="bottom"
					title="Ajouter un personnage secondaire">
					<i class="fa fa-plus"></i>
				</a>
			</h5>
		</caption>
		<thead>
			<tr>
				<th>Label</th>
				<th>Compétences</th>
				<th></th>
			</tr>
		</thead>	
		<tbody>
			{%  for personnageSecondaire in personnageSecondaires %}
				<tr>
					{# Josef - 2010109 - Cette vue concernant l'ensemble des joueurs les libélés non genrés sont adoptés #}
					<td>{{ personnageSecondaire.classe.label }}</td>
					<td>
						{{ personnageSecondaire.competences|join(' / ') }}
					</td>
					<td>
						<div class="btn-group pull-right" role="group" aria-label="...">
		
							<a 	href="{{ path('personnageSecondaire.update', {'personnageSecondaire': personnageSecondaire.id}) }}" 
								class="btn btn-default" 
								role="button"
								data-toggle="tooltip" 
								data-placement="top"
								title="Modifier">
								<i class="fa fa-pencil"></i>
							</a>
							
							<a 	href="{{ path('personnageSecondaire.delete', {'personnageSecondaire': personnageSecondaire.id}) }}" 
								class="btn btn-danger" 
								role="button"
								data-toggle="tooltip" 
								data-placement="top"
								title="Supprimer">
								<i class="fa fa-close"></i>
							</a>
						</div>
						
					</td>		
				</tr>
			{%  endfor %}
		</tbody>
	</table>
</div>
{% endblock %}