{% extends "layout.twig" %}

{% block title %}Grandeur nature{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li class="active">Détail d'un grandeur nature</li>
	</ol>

						
	<div class="well well-sm">
			
			<div class="list-group">
		    		
		    	<div class="list-group-item">{{ gn.label }}</div>
		    				    	
		    	<div class="list-group-item">
			    	<h4 class="list-group-item-heading">Description</h4>
	    			<p class="list-group-item-text">
	    			{% if not gn.description %}
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    					Attention, ce gn n'a pas de description.
    				{% else %}
    					{{ gn.description }}
    				{% endif %}
    				</p>
	    		</div>
	    		
	    		<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Création d'un personnage</h4>
	    			<p class="list-group-item-text">
	    				<strong>Nombre de point d'expérience à la création d'un personnage : </strong>{{ gn.xpCreation }}
	    			</p>
	    		</div>
	    		
	    		<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a class="btn btn-primary" role="button" href="{{ path('gn.update', {'index' : gn.id}) }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>Modifier</a>
					</div>
  				</div>
			</div>
		</div>
	</div>
</div>
	
			
{% endblock %}