{% extends "layout.twig" %}

{% block title %}Grandeur nature{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li class="active">Sortie pour la fédéGn -- {{ gn.label }}</li>
	</ol>
	
	<div class="well well-sm">
		{% for billet in gn.billets %}
			<div class="header"><h5>{{ billet.label }}</h5></div>
			<ul class="list-group">
				{% for userHasBillet in billet.userHasBillets %}
					{% set etatCivil = userHasBillet.user.etatCivil %}
					<li class="list-group-item">
						{% if etatCivil %}
							{{ etatCivil.nom }} {{ etatCivil.prenom }} {{ userHasBillet.user.email }}
						{% else %}
							Utilisateur n'ayant pas rempli son état civil {{ userHasBillet.user.name }} {{ userHasBillet.user.email }}
						{% endif %}
					</li>
				{% else %}
					<li class="list-group-item">Aucun utilisateur</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	
{% endblock content %}