{% extends "layout.twig" %}

{% block title %}Grandeur nature{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li class="active">Modification d'un grandeur nature</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('gn.update', {'index': gn.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Modification d'un grandeur nature</legend>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
{% endblock content %}