{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}
	
	<div class="container-fluid">
	
		<ol class="breadcrumb">
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li class="active">{{ groupeSecondaire.label }}</li>
		</ol>
						
		<div class="well well-sm bs-component">
			<h4>
				{{ groupeSecondaire.label }}
			</h4>
			{{ groupeSecondaire.description|markdown }}
		</div>
			
		<div class="panel panel-default">
			<div class="panel-heading">Liste des postulants</div>
			<div class="panel-body">
			
				<div class="list-group">
					{% for postulant in groupeSecondaire.postulants %}
					<div class="list-group-item">
						<h6 class="list-group-item-heading">{{ postulant.personnage.identity }}</h6>
						<p class="list-group-item-text">{{ postulant.date|date('Y-m-d') }}</p>
						<p class="list-group-item-text">{{ postulant.explanation|markdown }}</p>
					</div>
					{% endfor %}		
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Liste des membres</div>
			<div class="panel-body">
				<div class="list-group">
					{% for personnage in groupeSecondaire.personnages %}
						<div class="list-group-item">
							<h6 class="list-group-item-heading">{{ personnage.identity }}</h6>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>					
	</div>
	
			
{% endblock %}