{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
			<a href="{{ path("groupeSecondaire") }}">Retour à la liste des groupes secondaires</a>
						
			<div class="well well-sm bs-component">
				<h4>
					{{ groupeSecondaire.label }}
				</h4>
				{{ groupeSecondaire.description }}
			</div>
			
			Liste des postulants
			
			{% for postulant in groupeSecondaire.postulants %}
				<div class="media">
					<div class="media-left media-top">
						<a href="{{ path('personnage.fiche_public',{'index': postulant.personnage.id}) }}"><img class="media-object" src="" alt="" /></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ postulant.personnage.nom }}</h4>
						{{ postualant.date|date('Y-m-d') }}
						{{ postulant.explanation }}
						Accepter / Refuser / Message Privé
					</div>
				</div>
			{% endfor %}
			
			
			Liste des Membres
			
			{% for personnage in groupeSecondaire.personnages %}
				<div class="media">
					<div class="media-left media-top">
						<a href="#"><img class="media-object" src="" alt="" /></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ personnage.nom }}</h4>
						
					</div>
				</div>
			{% endfor %}
			
			
			Lien vers le forum
			
			Liste des nouveaux message sur le forum
							
		</div>
	</div>
</div>
	
			
{% endblock %}