{% extends "layout.twig" %}

{% block title %}Groupes secondaires{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupeSecondaire.gestion", {'index':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</a></li>
		<li class="active">Retirer un membre</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('groupeSecondaire.gestion.remove', {'groupe': groupeSecondaire.id, 'personnage': personnage.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Refus d'un postulant</legend>
					<p>Le message suivant sera envoyé au joueur :</p>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}