{% extends "layout.twig" %}

{% block head %}
	{{ parent() }}
	
	{# inclusion du plugin meltdown pour la saisie du post #}
	<link rel="stylesheet" href="{{ app.request.basepath }}/css/meltdown.css" />
{% endblock head %}

{% block title %}Postuler à un groupe secondaire{% endblock title %}

{% block content %}

	<div class="container-fluid">
	
		<ol class="breadcrumb">
			<li>Navigation :</li>
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li><a href="{{ path('groupeSecondaire')  }}">Groupes secondaires</a></li>
			<li class="active">Postuler</li>
		</ol>
	
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("groupeSecondaire/fragment/form.twig",{
					'legend': 'Postuler à ' ~ groupeSecondaire.label,
					'action': path('groupeSecondaire.postuler', {'index': groupeSecondaire.id}), 
					'form' : form}) }}
			</div>
		</div>
	</div>

{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin meltdown pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/lib/element_resize_detection.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/js-markdown-extra.js"></script>
    <script src="{{ app.request.basepath }}/js/lib/rangyinputs-jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.meltdown.js"></script>
	         
	<script type="text/javascript">
		$(document).ready(function() {
			$('#secondaryGroupApply_explication').meltdown({
				openPreview: true,
				sidebyside: true
			});
		});
	</script>

{% endblock javascript %}