{% extends "layout.twig" %}

{% block title %}Potions{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.potion.list') }}">Liste des potions</a></li>
		<li class="active">Personnages ayant {{ potion.label }} - Niveau {{ potion.niveau }}</li>
	</ol>
	
	<div class="list-group">
		{% for personnage in potion.personnages %}
			<a class="list-group-item" href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">{% if personnage.vivant == 0 %}💀 {% endif %}#{{ personnage.id }} - {{ personnage.identity }} -- {{ personnage.classeName }}</a>
		{% endfor %}
	</div>
	
{% endblock content %}