{% extends "layout.twig" %}

{% block title %}Compétences{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
		
			<a href="{{ path("competence") }}">Retour à la liste des compétences</a>
						
			<div class="well well-sm bs-component">
				<h4>
					{{ competence.label }}
				</h4>
			</div>

			<div class="list-group">				

				<div class="list-group-item">
			    	<h4 class="list-group-item-heading">Description</h4>
	    			<p class="list-group-item-text">
	    			{% if not competence.description %}
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    				Attention, cette compétence n'a pas de description.
    				{% else %}
    					{{ competence.description|markdown }}
    				{% endif %}
    				</p>   				
    				
    				<h4 class="list-group-item-heading">Document</h4>
    				<p class="list-group-item-text">
	    				{% if not competence.documentUrl %}
	    					Aucun document n'est disponible
	    				{% else %}
	    					<a href="{{ path('competence.document',{'competence' : competence.id, 'document':competence.documentUrl}) }}">Téléchargez le document</a>
	    					<a href="{{ path('competence.document.remove',{'competence' : competence.id}) }}">Supprimer le document</a>
	    				{% endif %}
    				</p>
    				
    				<h4 class="list-group-item-heading">Matériel</h4>
    				<p class="list-group-item-text">
    					{% if not competence.materiel %}
    						non défini.
    					{% else %}
    						{{ competence.materiel|markdown }}
    					{% endif %}
    				</p>
    				
    				{% if competence.langueConnue %}
    				<h4 class="list-group-item-heading">Langue connue</h4>
    				<p class="list-group-item-text">
    					{{ competence.langueConnue }}
    				</p>
    				{% endif %}
    				
    				{% if competence.langueAncienneConnue %}
    				<h4 class="list-group-item-heading">Langue ancienne connnue</h4>
    				<p class="list-group-item-text">
    					{{ competence.langueAncienneConnue }}
    				</p>
    				{% endif %}
    				
	   				{% if competence.sortNiveau1 %}
    				<h4 class="list-group-item-heading">Sort de niveau 1</h4>
    				<p class="list-group-item-text">
    					{{ competence.sortNiveau1 }}
    				</p>
    				{% endif %}
    				
					{% if competence.sortNiveau2 %}
    				<h4 class="list-group-item-heading">Sort de niveau 2</h4>
    				<p class="list-group-item-text">
    					{{ competence.sortNiveau2 }}
    				</p>
    				{% endif %}
    				
					{% if competence.sortNiveau3 %}
    				<h4 class="list-group-item-heading">Sort de niveau 3</h4>
    				<p class="list-group-item-text">
    					{{ competence.sortNiveau3 }}
    				</p>
    				{% endif %}
    				
					{% if competence.sortNiveau4 %}
    				<h4 class="list-group-item-heading">Sort de niveau 4</h4>
    				<p class="list-group-item-text">
    					{{ competence.sortNiveau4 }}
    				</p>
    				{% endif %}
    				
    				{% if competence.alchimieNiveau1 %}
    				<h4 class="list-group-item-heading">Recette de niveau 1</h4>
    				<p class="list-group-item-text">
    					{{ competence.alchimieNiveau1 }}
    				</p>
    				{% endif %}
    				
					{% if competence.alchimieNiveau2 %}
    				<h4 class="list-group-item-heading">Recette de niveau 2</h4>
    				<p class="list-group-item-text">
    					{{ competence.alchimieNiveau2 }}
    				</p>
    				{% endif %}
    				
					{% if competence.alchimieNiveau3 %}
    				<h4 class="list-group-item-heading">Recette de niveau 3</h4>
    				<p class="list-group-item-text">
    					{{ competence.alchimieNiveau3 }}
    				</p>
    				{% endif %}
    				
					{% if competence.alchimieNiveau4 %}
    				<h4 class="list-group-item-heading">Recette de niveau 4</h4>
    				<p class="list-group-item-text">
    					{{ competence.alchimieNiveau4 }}
    				</p>
    				{% endif %}
	    		</div>
	    		
	    		
	    		
  				<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a  class="btn btn-primary" role="button" href="{{ path('competence.update', {'competence' : competence.id}) }}">Modifier</a>
					</div>
  				</div>
			</div>
			
			
		</div>
	</div>
</div>
	
			
{% endblock %}