{% extends "layout.twig" %}

{% block title %}Compétences{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
		
			<a href="{{ path("competence") }}">Retour à la liste des compétences</a>
						
			<div class="well well-sm bs-component">
				<h4>
					{{ competence.label }}
				</h4>
			</div>

			<div class="list-group">				

				<div class="list-group-item">
			    	<h4 class="list-group-item-heading">Description</h4>
	    			<p class="list-group-item-text">
	    			{% if not competence.description %}
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    				Attention, cette compétence n'a pas de description.
    				{% else %}
    					{{ competence.description|markdown }}
    				{% endif %}
    				</p>   				
    				
    				<h4 class="list-group-item-heading">Document</h4>
    				<p class="list-group-item-text">
	    				{% if not competence.documentUrl %}
	    					Aucun document n'est disponible
	    				{% else %}
	    					<a href="{{ path('competence.document',{'competence' : competence.id, 'document':competence.documentUrl}) }}">Téléchargez le document</a>
	    				{% endif %}
    				</p>
	    		</div>
	    		
  				<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a  class="btn btn-primary" role="button" href="{{ path('competence.update', {'competence' : competence.id}) }}">Modifier</a>
					</div>
  				</div>
			</div>
			
			
		</div>
	</div>
</div>
	
			
{% endblock %}