{% extends "layout.twig" %}

{% block title %}Compétences{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('competence') }}">Liste des compétences</a></li>
		<li class="active">Personnages ayant cette compétence (pour le prochain GN)</li>
	</ol>
	

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
				<div class="well well-sm">
				<h4>
					{{ competence.competenceFamily.label }} - <small>Niveau {{ competence.level.label }}
					<small>
						( {{ competence.personnages|length }} personnages )
					</small>
				</h4>
			</div>

			<div class="list-group">
				{% for participant in competence.personnagesGn(app['larp.manager'].getGnActif.id) %}
					<a class="list-group-item" href="{{ path('personnage.admin.detail',{'personnage':participant.personnage.id}) }}">#{{ participant.personnage.id }} - {{ participant.personnage.nom }}&nbsp;{{ participant.personnage.surnom }} - {{ participant.personnage.classeName }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
	
{% endblock %}