{% extends "layout.twig"  %}

{% block title %}Suppression d'un objet de jeu{% endblock %}

{% block content %}
    
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('user.admin.list') }}">Liste des objet de jeu</a></li>
		<li><a href="{{ path('item.detail', {'item': item.id}) }}">{{ item.label }}</a></li>
		<li class="active">Suppression</li>
	</ol>
	
	<div class="well well-sm">
		<div class="row">
			<div class="col-md-6">
			
				<div class="panel panel-danger">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-danger-sign" aria-hidden="true"></span>
						Attention
					</div>
					<div class="panel-body">Vous vous apprétez à supprimer l'objet de jeu <strong>{{ item.label }}</strong>. Etes-vous certain de ce que vous faites ?</div>
				</div>
				<form action="{{ path('item.delete', {'item': item.id}) }}" method="POST" {{ form_enctype(form) }}>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
				</form>
			</div>
			
			<div class="col-md-6">
			
				<h5>Information du stock</h5>
			
				{% if item.objet.photo %}
        			<img src="{{ path('stock_objet_photo',{'objet': item.objet.id}) }}" alt="{{ item.objet.photo.name }}" class="img-responsive" />
        		{% endif %}
				<ul>
					<li><b>Nom :</b> {{ item.objet.nom }}</li>
					<li><b>Code :</b> {{ item.objet.code }}</li>
					<li><b>Description :</b> {{ item.objet.description }}</li>
					<li><b>Date de création :</b> {{ item.objet.creationDate|date('Y-m-d H:i:s') }}</li>
				</ul>
				<ul>
					<li><b>Rangement :</b> {% if item.objet.rangement %}{{ item.objet.rangement.adresse }}{%  endif %}</li>
					<li><b>Etat :</b> {% if item.objet.etat %}{{ item.objet.etat.label }}{%  endif %}</li>
					<li><b>Proprietaire :</b> {% if item.objet.proprietaire %}{{ item.objet.proprietaire.nom }}{%  endif %}</li>
					<li><b>Responsable :</b> {% if item.objet.responsable %}{{ item.objet.responsable.username }}{%  endif %}</li>
				</ul>
			</div>
			
		</div>
	</div>
	
{% endblock content %}