{% extends "layout.twig" %}

{% block title %}Objets{% endblock title %}

{% block style %}
<style>
ul, li {
  
  list-style: none;
}

a {

  text-decoration: none;
}

.waterfall .pin {
  width: 200px;
  height: auto;
  margin: 0 0 10px 20px;
}

.waterfall .pin a {
  width: 100%;
  height: 100%;
}

.waterfall.gallery .pin {
  width: 180px;
}

.item
{
	color: #000;
	font-weight: bold;
	border : 1px solid #000;
	width : 200px;
	padding : 5px 5px 5px 5px; 
}

.item-bleu
{
	background-color: DodgerBlue;
}
.item-orange
{
	background-color: orange;
}

.item-header
{
}
.item-text
{
	text-align: center;
}

</style>

{% endblock style %}
{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Objets</li>
	</ol>
	
	<div class="well well-sm">

		 	<ul class="waterfall center-block">
	    		{% for item in items%}
		    		<li class="pin">
		    			<div class="item {% if item.couleur == 'bleu' %}item-bleu{% else %}item-orange{% endif %}">
							<div class="item-header">
								{{ item.numero }}
								<span class="pull-right">{{ item.quality.numero }}{{ item.identification }}</span>
							</div>
							<div class="item-text">
								{{ item.description|markdown }}
							</div>
						</div>
		    			<img src="{{ path('stock_objet_photo',{'objet': item.objet.id, 'miniature': true}) }}" alt="{{ item.label }}" />
				  		
				  		<div>
							<strong>{{ item.label }}</strong>
							{{ item.description|markdown }}
							{{ item.special|markdown }}
						</div>
			    	</li>
	  			{% endfor %}
	  		</ul>
	  </div>
	
{% endblock content %}