{% extends "layout.twig"  %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block content %}
 	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">
			<div class="well well-sm">
				<div class="header">
					<h5>Mot de passe oublié ?</h5>
				</div>
				<p class="lead">
			    	 Entrez votre adresse mail, les instructions pour modifier votre mot de passe vous seront envoyés.
			    </p>
			
			    {% if error %}
			        <div class="alert alert-danger">{{ error|nl2br }}</div>
			    {% endif %}
			
			    <form class="form" method="POST" action="{{ path('user.forgot-password') }}">
			        <div class="form-group">
			                <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}" placeholder="Votre adresse email">
			        </div>
			        <div class="form-group">
		                <button type="submit" class="btn btn-primary">Envoyer les instructions</button>
		                <a href="{{ path('user.login') }}" style="margin-left: 10px;">Retourner à la page de connection</a>
			        </div>
			
			        <div class="form-group">
		                Si vous ne recevez pas de mail d'içi quelques minutes, vérifiez votre dossier spam ou poubelle.
		                L'expéditeur est <strong>{{ fromAddress }}</strong>.
			        </div>
			    </form>
		
			</div>
		</div>
		<div class="col-md-4">&nbsp;</div>
	</div>
{% endblock %}
