{% extends "layout.twig"  %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des utilisateurs</li>
	</ol>
	
	<div class="well well-sm">
	    {% if paginator.totalItems == 1 %}
	        <strong>1</strong> utilisateur trouvé.
	    {% else %}
	        <strong>{{ paginator.totalItems }}</strong> utilisateurs trouvé.
	    {% endif %}
	
	    Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.
	
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Username</th>
					<th>Email</th>
					<th>Etat-civil</th>
					<th>Droits</th>
				</tr>
			</thead>
			<tbody>
	    	{% for user in users %}
				<tr>
					<td><a href="{{ path('user.edit',{'id':user.id}) }}">{{ user.id }}</a></td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					<td>{%  if not user.joueur %}Etat-civil non renseigné{% else %}<a href="{{ path('admin.joueur.detail', {'index':user.joueur.id}) }}">Voir l'état-civil</a>{% endif %}</td>
					<td>{{ user.roles|join(', ') }}</td>
					<td>
					{% if user.joueur %}
						<a href="{{ path('admin.joueur.xp', {'index': user.joueur.id}) }}">Points d'expériences</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
	    	</tbody>
	    </table>
	
	    {{ paginator|raw }}
	</div>
{% endblock %}
