{% extends "layout.twig"  %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}

	<div class="page-header">    
    	<h1>Liste des utilisateurs</h1>
	</div>
	
    {% if paginator.totalItems == 1 %}
        <strong>1</strong> utilisateur trouvé.
    {% else %}
        <strong>{{ paginator.totalItems }}</strong> utilisateurs trouvé.
    {% endif %}

    Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.

    {% for user in users %}

        <div class="media">
            <a class="media-object pull-left" href="{{ path('user.view', {'id': user.id}) }}">
                <img src="{{ user.imageUrl }}" width="40" height="40" border=0>
            </a>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ path('user.view', {'id': user.id}) }}">{{ user.displayName }}</a>
                </h4>

                {% if not user.isEnabled %}
                    <div>
                        <span class="label label-danger">Mail de confirmation en attente</span>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-muted">
                        {{ user.email }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    {{ paginator|raw }}

{% endblock %}
