{% extends "layout.twig"  %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>
    {% else %}
    	<div class="page-header">
	        <h1>
	            Se connecter
	        </h1>
	     </div>

        <p class="text-muted lead">
            Vous n'avez pas de compte ? <a href="{{ path('user.register') }}">Enregistrez-vous.</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_username" type="text" id="inputEmail" placeholder="Email" required value="{{ last_username }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword">Mot de passe</label>
                <div class="col-sm-6">
                    <input class="form-control" name="_password" type="password" id="inputPassword" required placeholder="Mot de passe">
                </div>
            </div>

            {% if allowRememberMe %}
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2 checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" value="true" checked> Se rappeler de moi sur cet ordinateur
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <a style="margin-left: 10px;" href="{{ path('user.forgot-password') }}">Mot de passe oublié ?</a>
                </div>
            </div>

        </form>

    {% endif %}
{% endblock %}