{% extends "layout.twig" %}

{% block title %}Question{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('question') }}">Liste des questions</a></li>
		<li class="active">Détail d'une question</li>
	</ol>

	<div class="list-group">
		<div class="list-group-item">
			<div class="list-group-item-heading"><h6>Label</h6></div>
			<div class="list-group-item-text">{{ question.label }}</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Texte</h4></div>
		<div class="panel-body">
			<p>{{ question.text|markdown }}</p>
		</div>
	</div>
	
	{% for rep in question.choix|split(';') %}
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Liste des participant ayant répondu <strong>{{ rep }}</strong> ({{ question.participants(rep).count }})</h4></div>
			<div class="panel-body">
				{% for participant in question.participants(rep) %}
					{{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }} {{ participant.user.email }}<br />
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock content %}