{% extends "layout.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('groupeGn.groupe', {'groupeGn' : groupeGn.id}) }}">{{ groupeGn.groupe.nom }}</a></li>
		<li class="active">Places disponibles</li>
	</ol>
	
	<div class="well well-sm">
		<div class="header">
			<h5>Nombre de place disponibles</h5>
		</div>						
						
		<form action="{{ path('groupeGn.placeAvailable', {'groupeGn': groupeGn.id}) }}" method="POST" {{ form_enctype(form) }}>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
			{{ form(form) }}
		</form>
	</div>
	
{% endblock content %}