{% extends "layout.twig"  %}

{% block title %}Ajout d'un billet{% endblock %}

{% block content %}
    
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li><a href="{{ path('gn.detail', {'gn':participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('gn.participants', {'gn':participant.gn.id}) }}">Liste des participants</a></li>
		<li class="active">Affecter un billet à un participant</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('participant.billet', {'participant': participant.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Selectionnez le billet a ajouter à {{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }}</legend>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
					{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}