{% extends "layout.twig" %}

{% block title %}Groupes{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.admin.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'index': groupe.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Retirer un personnage</li>
	</ol>
	
	<div class="well well-sm">
		<form action="{{ path('participant.personnage.remove',{'participant': participant.id, 'personnage': personnage.id}) }}" method="POST">
			<p>{{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }}</p>
			<p>#{{ personnage.id }} - {{ personnage.nom }}{% if personnage.surnom %} ({{ personnage.surnom }}){% endif %} -- {{ personnage.classeName }}</p>
			<p>Le joueur n'aura plus de personnage lié à sa participation au jeu. Cela va lui permettre de créer un nouveau personnage ou de récupérer l'un de ses anciens personnages.</p>
			<p>Le joueur restera dans le groupe.</p>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}		
			{{ form(form) }}
		</form>
	</div>
{% endblock %}