{% extends "layout.twig"  %}

{% block title %}Retirer la participant à un GN d'un utilisateur{% endblock %}

{% block content %}
    
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li><a href="{{ path('gn.detail', {'gn':participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('gn.participants', {'gn':participant.gn.id}) }}">Liste des participants</a></li>
		<li class="active">Retirer la participation</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('participant.remove', {'participant': participant.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Attention, vous vous apprêtez à retirer la participation de {{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }} au jeu {{ participant.gn.label }}. Etes vous certain ?</legend>
				{% if participant.groupeGn %}
					<div class="alert alert-warning" role="alert">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
						Cet utilisateur est membre du groupe {{ participant.groupeGn.groupe }}. Son personnage sera retiré du groupe.
					</div>
				{% endif %}
				{% if participant.participantHasRestaurations|length > 0 %}
					<div class="alert alert-warning" role="alert">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
						Cet utilisateur dispose d'une restauration pendant le jeu. Sa restauration sera supprimé par cette opération.
					</div>
				{% endif %}
				{% if participant.billet %}
					<div class="alert alert-warning" role="alert">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
						Cet utilisateur dispose d'un billet. Son billet sera supprimé par cette opération.
					</div>
				{% endif %}
				
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}