{% extends "layout.twig" %}

{% block title %}Gn -- {{ gn.label }}{% endblock title %}

{% block content %}
	<div class="well well-sm clearfix">
		<ol class="breadcrumb">
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li><a href="{{path('gn.list') }}">Liste des GNs</a></li>
			<li><a href="{{path('gn.detail', {'gn': gn.id}) }}">{{ gn.label }}</a></li>
			<li class="active">Les groupes</li>
		</ol>
		
		<blockquote>
			Tous les groupes prévu sur {{ gn.label }}
			<small>
				{{ groupes|length }} groupes
			</small>
		</blockquote>
		
		{% if is_granted('ROLE_ADMIN', app.user) %}
			<a href="">Ajouter un groupe</a><br />
			<a href="">Imprimer les enveloppes</a>
		{% endif %}
	</div>
	
	<div class="well well-sm">
		{% if is_granted('ROLE_ADMIN', app.user) %}
			Les groupes de PNJ (visible uniquement par ADMIN)
			<ul class="list-group">
				{% for groupe in groupes if not groupe.pj %}
					<li class="list-group-item">{{ groupe.numero }} -- {{ groupe.nom }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	
		Les groupes de joueurs
		<ul class="list-group">
			{% for groupe in groupes if groupe.pj %}	
				<li class="list-group-item">{{ groupe.numero }} -- {{ groupe.nom }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock content %}