{% extends "layout.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('connaissance.list') }}">Liste des connaissances</a></li>
		<li class="active">Détail d'une connaissance</li>
	</ol>

	<div class="list-group">
		{% if connaissance.secret %}
		<div class="list-group-item">
			<div class="list-group-item-heading"><h6><span style="color:red;">Connaissance secrète</span></h6></div>
		</div>
		{% endif %}
		<div class="list-group-item">
			<div class="list-group-item-text"><strong>{{ connaissance.label }}</strong></div>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Document</h4>
			<p class="list-group-item-text">
				{% if not connaissance.documentUrl %}
					Aucun document n'est disponible
				{% else %}
					<a href="{{ path('connaissance.document',{'connaissance' : connaissance.id, 'document':connaissance.documentUrl}) }}">Téléchargez le document</a>
				{% endif %}
	    	</p>
    	</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Description</h4></div>
		<div class="panel-body">
			<p>{{ connaissance.description|markdown }}</p>
		</div>
	</div>
	{% if connaissance.contraintes %}
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Contraintes</h4></div>
		<div class="panel-body">
			<p>{{ connaissance.contraintes|markdown }}</p>
		</div>
	</div>
	{% endif %}
		
{% endblock content %}