<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('competence.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter une compétence</h4>
		</a>
	{%  endif %}
	{%  for competence in competences %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ competence.nom }}
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('competence.detail', {index: competence.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('competence.update', {index: competence.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
	
		{% if competence.description %}
			<p class="list-group-item-text text-default">{{ competence.description }}</p>
		{% else %}
			<p class="list-group-item-text text-warning">Attention, cette compétence n'a pas description</p>
		{%  endif %}
		
		<p class="list-group-item-text">
		{% if competence.niveaux|length > 0 %}
			Niveaux définis :{{ competence.niveaux|join(', ') }}
		{% else %}
			<span class="text-warning">Attention, aucun niveau n'est défini !</span>
		{% endif %}
		</p>
		
	</li>
	{%  endfor %}
</ul>