{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li class="active">Vos groupes secondaires</li>
	</ol>
	
	<div class="well bs-component">	
		{% if app.user.personnage  %}
								
			<div class="header">
				<h5>Groupes secondaires</h5>
			</div>
			
			{% if app.user.personnage.postulants|length > 0 %}
				<ul class="list-group">
					{% for postulant in app.user.personnage.postulants %}
						<li class="list-group-item">Votre candidature au groupe <strong>{{ postulant.secondaryGroup.label }}</strong> est en attente de validation.</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			{% if app.user.personnage.membres|length > 0 %}
				<ul class="list-group">
					{% for membre in app.user.personnage.membres %}
						<a 	href="{{ path('groupeSecondaire.joueur', {'groupe': membre.secondaryGroup.id}) }}" 
							class="list-group-item">{{ membre.secondaryGroup.label }}</a>
					{% endfor %}
				</ul>
			{% endif %}
			<p>Si vous faites partie d'un groupe secondaire (secte, confrérie, guilde, etc ...), ou avez l'intention de rejoindre l'un de ces groupes, n'oubliez pas de vous y inscrire ! <a href="{{ path('groupeSecondaire.list') }}">Liste des groupes secondaires</a></p> 
		{% endif %}
	</div>
	
{% endblock content %}