{% extends "layout.twig" %}

{% block title %}Groupe secondaire {{groupeSecondaire.label }}{% endblock title %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="{{ path('homepage')  }}">Accueil</a></li>
	<li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
	<li><a href="{{ path('gn.personnage', {'gn': participant.gn.id}) }}">{{ participant.personnage.nom }} {{ participant.personnage.surnom }}</a></li>
	<li class="active">{{ groupeSecondaire.label }}</li>
</ol>

<div class="panel panel-default">
	<div class="panel-body">
	
		<div class="header">
			<h5>Description</h5>
		</div>
		
		<p>{{ groupeSecondaire.description|markdown }}</p>
		
		{% if membre.secret %}
			<div class="header">
				<h5>Les secrets</h5>
			</div>
			
			<p>{{ groupeSecondaire.descriptionSecrete|markdown }}</p>
		{% endif %}
		
		{% if membre.isChief %}
			<div class="header">
				<h5>Liste des postulants</h5>
			</div>
			<blockquote>
				<p>Voici la liste des personnages ayant postulé pour rejoindre votre groupe secondaire. Vous avez la possibilité d'accepter la demande, de la refuser ou de laisser le personnage parmis les postulants</p>
			</blockquote>
			<ul class="list-group">
			{% for postulant in groupeSecondaire.postulants %}
				<div class="list-group-item">
					<div class="list-group-item-heading">
						<strong>{{ postulant.personnage.publicName }}</strong>
						{% if groupeSecondaire.secondaryGroupType.label == 'Religion' %}
							Religion(s) du postulant :
							<ul>
							{% for personnageReligion in postulant.personnage.personnagesReligions %}
								<li>{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }}</li>
							{% endfor %}
							</ul>
						{% endif %}
					</div>
					{% if postulant.waiting %}
						<div class="list-group-item-text">
							Mis en attente.
						</div>
					{% endif %}
					<div class="list-group-item-text">
						{{ postulant.explanation|markdown }}
					</div>
					<a class="btn btn-primary" 
						href="{{ path('participant.groupeSecondaire.response', {'participant': participant.id,'groupeSecondaire': groupeSecondaire.id, 'postulant': postulant.id }) }}">
						Répondre</a>
					<a class="btn btn-primary" 
						href="{{ path('participant.groupeSecondaire.accept', {'participant': participant.id, 'groupeSecondaire': groupeSecondaire.id, 'postulant': postulant.id }) }}">
						Accepter</a>
					<a class="btn btn-default" 
						href="{{ path('participant.groupeSecondaire.wait', {'participant': participant.id, 'groupeSecondaire': groupeSecondaire.id, 'postulant': postulant.id }) }}">
						Mettre en attente</a>
					<a class="btn btn-danger" 
						href="{{ path('participant.groupeSecondaire.reject', {'participant': participant.id, 'groupeSecondaire': groupeSecondaire.id, 'postulant': postulant.id }) }}">
						Rejeter</a>
					<br />
				</div>
			{% endfor %}
			</ul>
		{% endif %}
		
		<div class="header">
			<h5>Chef du groupe</h5>
		</div>
		
		<div class="list-group">
			<div class="list-group-item">
				<div class="list-group-item-heading">
					{% if groupeSecondaire.responsable %}
						<strong>{{ groupeSecondaire.responsable.publicName }}</strong>
						&nbsp;<a href="{{ path('message.new', {'to': groupeSecondaire.responsable.user.id }) }}"><i class="fa fa-pencil-square-o"></i>Envoyer un message</a>
					{% else %}
						<strong>Ce groupe ne dispose pas encore de responsable</strong>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="header">
			<h5>Liste des membres</h5>
		</div>
		
		<div class="list-group">
		{% for membre in groupeSecondaire.membres %}
			<div class="list-group-item">
				<div class="list-group-item-heading">
					<strong>{{ membre.personnage.publicName }}</strong>
					&nbsp;
					{% if membre.personnage.participeTo(participant.gn) %}
						<span class="text-success">Inscrit à {{ participant.gn.label }}</span>
					{% else %}
						<span class="text-info">Personnage pas inscrit à {{ participant.gn.label }}</span>
					{% endif %}
					
					<br />
					{% if groupeSecondaire.responsable %}&nbsp;<a href="{{ path('message.new', {'to': membre.personnage.user.id }) }}"><i class="fa fa-pencil-square-o"></i>Envoyer un message</a>{% endif %}
				</div>
			</div>
		{% endfor %}
		</div>
		
		<div class="header">
			<h5>Trombinoscope</h5>
		</div>
		
		<div class="row">
		{% for membre in groupeSecondaire.membres %}
			{% if membre.personnage.participeTo(participant.gn) %}
				<div class="col-xs-6 col-md-3">
					{% if membre.personnage.trombineUrl %}
						<img class="media-object" width="160" src="{{ path('personnage.trombine', {'personnage' : membre.personnage.id }) }}" />
					{% else %}
						<img class="media-object" width="160" src="{{ app.request.basepath }}/img/no_trombine.png" />
					{% endif %}
					<div class="caption">
						{{ membre.personnage.publicName }}
						{% if groupeSecondaire.responsable %}
							{% if groupeSecondaire.secondaryGroupType.label == 'Religion' %}
								{% for personnageReligion in membre.personnage.personnagesReligions %}
									<li>{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }}</li>
								{% endfor %}
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
		
		<div class="header">
			<h5>Discuter entre vous</h5>
		</div>
		
		<div class="list-group">
			<div class="list-group-item">
				<a href="{{ path('forum.topic',{'index': groupeSecondaire.topic.id}) }}">
					<i class="fa fa-comment"></i>
					Forum groupe secondaire "{{ groupeSecondaire.label }}"</a>
			</div>
		</div>
				
	</div>
</div>
{% endblock content %}