{% extends "layout.twig" %}

{% block title %}Groupes secondaires{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('gn.personnage', {'gn': participant.gn.id}) }}">{{ participant.personnage.nom }} {{ participant.personnage.surnom }}</a></li>
		<li><a href="{{ path("participant.groupeSecondaire.detail", {'participant': participant.id, 'groupeSecondaire':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</a></li>
		<li class="active">Répondre à un postulant</li>
	</ol>
	
		
	<div class="well bs-component">
		<form action="{{ path('participant.groupeSecondaire.response', {'participant': participant.id, 'groupeSecondaire': groupeSecondaire.id, 'postulant': postulant.id}) }}" method="POST" novalidate >
			<fieldset>
				<legend>Répondre à un postulant</legend>
				
				<div class="list-group">
					<div class="list-group-item">
						<div class="list-group-item-heading">
							<strong>{{ postulant.personnage.publicName }}</strong>
						</div>
						<div class="list-group-item-text">
							{{ postulant.explanation|markdown }}
						</div>
					</div>
				</div>			
				
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				<p>Le message suivant sera envoyé au postulant</p>
				
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}