{% extends "layout.twig" %}

{% block title %}Postuler à un groupe secondaire{% endblock title %}

{% block content %}

	<div class="container-fluid">
	
		<ol class="breadcrumb">
			<li>Navigation :</li>
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li><a href="{{ path('groupeSecondaire.list')  }}">Groupes secondaires</a></li>
			<li class="active">Postuler</li>
		</ol>
	
		<div class="well bs-component">
			<form action="{{ path('groupeSecondaire.postuler',{'index': groupeSecondaire.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
				<fieldset>
					<legend>Postuler à {{ groupeSecondaire.label}}</legend>
						{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
						{{ form(form) }}
				</fieldset>
			</form>
		</div>

	</div>

{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin tinymce pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinyMCE.init({
				mode: "textareas",
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview", 
		});
		
	</script>

{% endblock javascript %}