{% extends "layout.twig" %}

{% block title %}Groupes{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.admin.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'index': groupe.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Liste des sessions</li>
	</ol>
	
	<div class="well well-sm">
	
		<div class="header">
			<h5>Sessions de jeu</h5>
		</div>
		
		<a class="btn btn-primary" href="{{ path('groupeGn.add',{'groupe': groupe.id}) }}">Ajouter une nouvelle session</a>
		
		<table class="table table-condensed table-bordered table-striped">
			<thead>
		    	<tr>
		    		<th>Jeu</th>
		    		<th>Responsable</th>
		    		<th>Etat</th>
		    		<th>Code</th>
		    		<th>Jeu stratégique</th>
		    		<th>Jeu maritime</th>
		    		<th>Nombre de joueurs maximum</th>
		    		<th>Nombre de place disponible</th>
		    		<th>Participants</th>
		   		 	<th />
		    	</tr>
		   	</thead>
		   	<tbody>
			{% for groupeGn in groupe.groupeGns %}
				<tr>
					<td>{{ groupeGn.gn.label }}</td>
					<td>
						{% if groupeGn.responsable %}
							{{ groupeGn.responsable.user.etatCivil }}
						{% endif %}
					</td>
					<td>{% if groupeGn.free %}Libre{% else %}Réservé{% endif %}</td>
					<td>{{ groupeGn.code }}</td>
					<td>{% if groupeGn.jeuStrategique %}Oui{% else %}Non{% endif %}</td>
					<td>{% if groupeGn.jeuMaritime %}Oui{% else %}Non{% endif %}</td>
					<td>{{ groupe.placeTotal|default(0) }}</td>
					<td>{{ groupe.placeTotal - groupeGn.participants|length }}</td>
					<td>
						<ul>
							{% for participant in groupeGn.participants %}
								<li>{{ participant.user.etatCivil }}&nbsp;<a href="{{ path('groupeGn.participants.remove', {'groupeGn': groupeGn.id, 'participant': participant.id}) }}" data-toggle="tooltip" data-placement="top" title="Retirer sa participation"><i class="fa fa-remove"></i></a></li>
							{% endfor %}
						</ul>
						<a href="{{ path('groupeGn.participants.add', {'groupeGn': groupeGn.id}) }}" data-toggle="tooltip" data-placement="top" title="Ajouter un participant"><i class="fa fa-plus"></i> Ajouter un participant</a>
					</td>
					<td>
						<a href="{{ path('groupeGn.update',{'groupe': groupe.id, 'groupeGn': groupeGn.id}) }}"><i class="fa fa-pencil"></i> Modifier</a><br/>
						<a href="{{ path('groupeGn.responsable',{'groupe': groupe.id, 'groupeGn': groupeGn.id}) }}"><i class="fa fa-pencil"></i> Responsable</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}