{% extends "layout.twig" %}

{% block title %}Billets{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des billets</li>
	</ol>

	<div class="well well-sm">
	
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ajouter un billet" href="{{ path('billet.add') }}"><i class="fa fa-plus"></i></a>
			</div>
		</div>
	</div>	
	
		<table class="table table-condensed table-striped table-bordered">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>GN</th>
					<th>Quantité</th>
					<th />
				</tr>
			</thead>
			<tbody>
				{% for billet in billets %}
				<tr>
					<td>{{ billet.label }}</td>
					<td>{{ billet.description|markdown }}</td>
					<td>{{ billet.gn }}</td>
					<td>{{ billet.users|length }}</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('billet.update',{'billet':billet.id}) }}"><i class="fa fa-pencil"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Détail" href="{{ path('billet.detail',{'billet':billet.id}) }}"><i class="fa fa-eye"></i></a>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('billet.delete',{'billet':billet.id}) }}"><i class="fa fa-eraser"></i></a>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	
{% endblock %}