{% extends "layout.twig" %}

{% block content %}
	
	<form action="{{ path('chrono_modify',{index: chronologie.id}) }}" method="POST">
		<div>
			<label for="paysId">Pays</label>
			<select name="paysId">
			{% for item in pays %}
	            <option {{ (item.id == chronologie.pays.id) ? 'selected' : '' }} value="{{ item.id }}">{{ item.nom }}</option>
            {% endfor %}
        	</select>
			<label for="date">Date</label>
			<input type="text" name="date">{{ chronologie.date|date('Y-m-d') }}</input>
			<label for="description">Description</label>
			<input type="text" name="description">{{ chronologie.description }}</input>
		</div>
		<input type="submit" value="Modifier" />
	</form>
	
{% endblock %}