{% extends "layout.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block content %}
<div class="container-fluid">

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Choix d'une religion</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('personnage.admin.religion.add',{'personnage':personnage.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>{{ personnage.publicName }} - <small>Choix d'une religion</small></legend>
				<p class="text-warning">Attention ! une fois votre religion choisie, vous ne pourrez plus revenir sur votre choix.</p>
				<p class="list-group-item-text">
					Vous pouvez choisir autant de religions que vous voulez. Attention toutefois, les règles suivantes s'appliquent :
					<ul>
						<li>Vous ne pouvez avoir qu'une seule religion au niveau "Fervent"</li>
						<li>Si vous choisissez une religion au niveau "Fanatique", vous perdez toutes vos autres religions (un Fanatique n'a qu'une seule religion).</li>
					</ul>
				</p>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
	
				{{ form_row(form.religion) }}
				{{ form_row(form.religionLevel) }}
				{{ form_rest(form) }}
			</fieldset>
		</form>
	</div>
{% endblock content %}