{% extends "layout.twig" %}

{% block title %}Personnages{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Ajout d'un déclencheur</li>
	</ol>

	<div class="well bs-component">	
		<form action="{{ path('personnage.admin.trigger.add', {'personnage': personnage.id}) }}" method="POST" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Ajout d'un déclencheur lié a {{ personnage.publicName }}</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				<ul>
					<li><strong>ALCHIMIE APPRENTI</strong> : permet de choisir une nouvelle potion de niveau Apprenti</li>
					<li><strong>ALCHIMIE INITIE</strong> : permet de choisir une nouvelle potion de niveau Initié</li>
					<li><strong>ALCHIMIE EXPERT</strong> : permet de choisir une nouvelle potion de niveau Expert</li>
					<li><strong>ALCHIMIE MAITRE</strong> : permet de choisir une nouvelle potion de niveau Maître</li>
					<li><strong>MAGIE APPRENTI</strong> : permet de choisir un domaine de magie</li>
					<li><strong>MAGIE EXPERT</strong> : permet de choisir un domaine de magie</li>
					<li><strong>SORT APPRENTI</strong> : permet de choisir un sort de niveau Apprenti</li>
					<li><strong>SORT INITIE</strong> : permet de choisir un sort de niveau Initié</li>
					<li><strong>SORT EXPERT</strong> : permet de choisir un sort de niveau Expert</li>
					<li><strong>SORT MAITRE</strong> : permet de choisir un sort de niveau Maître</li>										
					<li><strong>LITTERATURE INITIE</strong> : permet de choisir trois langues supplémentaires sauf parmis les anciennes</li>
					<li><strong>LITTERATURE EXPERT</strong> : permet de choisir trois langues supplémentaires dont 1 ancienne</li>
					<li><strong>PRETRISE INITIE</strong> : permet de choisir trois descriptifs de religion</li>
				</ul>
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}