{% extends "layout.twig" %}

{% block title %}Personnages{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li class="active">Détail de {{ personnage.publicName }}</li>
	</ol>
		
	<div class="well well-sm">
		<h3>
			{{ personnage.nom }} <small>alias {{ personnage.surnom }}</small>
			
			{% if personnage.genre == 'Masculin' %}
				<i class="fa fa-mars" aria-hidden="true"></i>
			{% elseif personnage.genre == 'Feminin' %}
				<i class="fa fa-venus" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-transgender-alt" aria-hidden="true"></i>
			{% endif %}
			
			<small>{{ personnage.ageReel|default('x') }} ans ({{ personnage.age }})</small>
			
			{% if personnage.vivant %}<span class="text-success">Vivant</span>{% else %}<span class="text-danger">Mort</span>{% endif %}
			
			<div class="pull-right">
				{{ personnage.classeName }}
			</div>
		</h3>
		
		
			<div class="row">
				<div class="col-md-4">		
				
					<div class="panel panel-default">
						
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Informations</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.statut', {'personnage':personnage.id}) }}">Modifier le statut (vivant/mort)</a></li>
												<li><a href="{{ path('personnage.admin.update.age',{'personnage': personnage.id}) }}">Modifier l'age</a></li>
												<li><a href="{{ path('personnage.admin.update', {'personnage':personnage.id}) }}">Modifier (nom/surnom/etc ...)</a></li>
												<li><a href="{{ path('personnage.admin.transfert', {'personnage':personnage.id}) }}">Transférer à un autre joueur</a></li>
												<li><a href="{{ path('personnage.export', {'personnage':personnage.id}) }}">Imprimer</a></li>
												<li><a href="{{ path('personnage.admin.delete', {'personnage':personnage.id}) }}">Supprimer</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					
	  					<div class="panel-body">
	  						<p><strong>Joueur : </strong>{% if personnage.user %}<a href="{{path('user.view',{'id': personnage.user.id}) }}"> {{ personnage.user.etatCivil.nom }} {{ personnage.user.etatCivil.prenom }}</a>{% else %}Ce personnage n'est pas lié à un joueur</p>{% endif %}
		  					<p>Ce personnage <strong class="text-success">{% if personnage.intrigue %}participe aux intrigues{% else %}ne participe pas aux intrigues{% endif %}</strong></p>
		  					
		  					{# Liste des groupes auquel fait partit ce personnage #}
							<h6>Groupe(s)</h6>
							<div class="list-group">									
								{% if personnage.user %}
									{% for participant in personnage.user.participants %}
										{% if participant.groupeGn %}
											<a class="list-group-item" href="{{ path('groupe.detail', {'index': participant.groupeGn.groupe.id}) }}">{{ participant.personnage }} - {{participant.groupeGn.gn.label}} - #{{ participant.groupeGn.groupe.numero }} {{ participant.groupeGn.groupe.nom }}</a>
										{% else %}
											N'est pas lié à un groupe
										{% endif %}										
									{% endfor %}
								{% else %}
									<li class="list-group-item">Ce personnage ne fait pas parti d'un groupe.</li>
								{% endif %}
							</div>
							
							<h6>Groupe(s) secondaire(s)</h6>
							<ul class="list-group">
								{% for groupeSecondaire in personnage.secondaryGroups %}
										<li class="list-group-item">{{ groupeSecondaire.label }} (Chef)</li>
								{% endfor %}
								{% for membre in personnage.membres %}
										<li class="list-group-item">{{ membre.secondaryGroup.label }}</li>
								{% endfor %}
							</ul>
	
							<h6>Postulation(s)</h6>
							{% if personnage.postulants|length > 0 %}
								<ul class="list-group">
								{% for postulant in personnage.postulants %}
									<li class="list-group-item">{{ postulant.secondaryGroup.label }} en attente de validation.</li>
								{% endfor %}
								</ul>
							{% endif %}

						</div>
					</div>

					<div class="panel panel-default">
						<nav class="navbar navbar-default"  style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Informations de jeu</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.update.renomme', {'personnage': personnage.id}) }}">Modifier la Renommée</a></li>
												<li><a href="{{ path('personnage.admin.update.heroisme', {'personnage': personnage.id}) }}">Modifier l'Héroïsme</a></li>
												<li><a href="{{ path('personnage.admin.update.pugilat', {'personnage': personnage.id}) }}">Modifier le Pugilat</a></li>
												<li><a href="{{ path('personnage.admin.update.domaine', {'personnage': personnage.id}) }}">Modifier la liste des domaines de magie</a></li>
												<li><a href="{{ path('personnage.admin.religion.add', {'personnage': personnage.id}) }}">Ajouter une religion</a></li>
												<li><a href="{{ path('personnage.admin.origine.update', {'personnage': personnage.id}) }}">Modifier l'origine</a></li>
												<li><a href="{{ path('personnage.admin.update.langue', {'personnage': personnage.id}) }}">Modifier les langages</a></li>
												<li><a href="{{ path('personnage.admin.update.sort', {'personnage': personnage.id}) }}">Modifier la liste des sorts</a></li>
												<li><a href="{{ path('personnage.admin.update.potion', {'personnage': personnage.id}) }}">Modifier la liste des potions</a></li>
												<li><a href="{{ path('personnage.admin.update.priere', {'personnage': personnage.id}) }}">Modifier la liste des prieres</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					<div class="panel-body">
	  						<p>Origine : <strong class="text-success">{{ personnage.territoire|default("non définie") }}</strong></p>
							<p>Renommée : <strong class="text-success">{{ personnage.renomme|default(0) }}</strong>
								  	<a role="button" data-toggle="collapse" href="#renommeHistory" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-history" aria-hidden="true"></i>
									</a>
							</p>
							<div class="collapse" id="renommeHistory">
								<h6>Historique</h6>
								<div class="list-group">
									{% for historique in personnage.renommeHistories %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.renomme > 0 %}+{% endif %}{{ historique.renomme }}  {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>
							<p>Héroïsme : <strong class="text-success">{{ personnage.heroisme|default(0) }}</strong>
								<a role="button" data-toggle="collapse" href="#heroismeHistory" aria-expanded="false" aria-controls="collapseExample">
									<i class="fa fa-history" aria-hidden="true"></i>
								</a></p>
							<div class="collapse" id="heroismeHistory">
								<h6>Historique</h6>		
								<div class="list-group">
									{% for historique in personnage.heroismeHistories %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.heroisme > 0 %}+{% endif %}{{ historique.heroisme }}  {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>
							<p>Pugilat : <strong class="text-success">{{ personnage.pugilat|default(0) }}</strong>
								<a role="button" data-toggle="collapse" href="#pugilatHistory" aria-expanded="false" aria-controls="collapseExample">
									<i class="fa fa-history" aria-hidden="true"></i>
								</a></p>
							<div class="collapse" id="pugilatHistory">
								<h6>Historique</h6>		
								<div class="list-group">
									{% for historique in personnage.pugilatHistories %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.pugilat > 0 %}+{% endif %}{{ historique.pugilat }}  {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>														
							<h6>Domaines de magie</h6>
							<div class="list-group">
								{% for domaine in personnage.domaines %}
									<div class="list-group-item">{{ domaine.label }}</div>
								{% endfor %}
							</div>
								
							<h6>Religions</h6>
							<div class="list-group">
								{% for personnageReligion in personnage.personnagesReligions %}
									<div class="list-group-item">{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }} - <a href="{{ path('personnage.admin.religion.delete', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}">Supprimer</a></div>
								{% endfor %}
							</div>
							
							<h6>Langages connus</h6>
							{% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
							{% if languesAnomalie != "" %}
							<div class="text-warning">{{languesAnomalie}}</div>
							{% endif %}
							<div class="list-group">
								{% for personnageLangue in personnage.personnageLangues %}
									<div class="list-group-item"><strong>{{ personnageLangue.langue}}</strong> ({{ personnageLangue.source }})  - <a href="{{ path('personnage.admin.langue.delete', {'personnage': personnage.id, 'personnageLangue' : personnageLangue.id }) }}">Supprimer</a></div>
								{% endfor %}
							</div>
								
							<h6>Groupes secondaires</h6>
							<div class="list-group">
								{% for groupeSecondaire in personnage.secondaryGroups %}
									<a class="list-group-item" href="{{ path('groupeSecondaire.admin.detail', {'groupe':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</a>
								{% endfor %}
								
								
								{% for postulant in personnage.postulants %}
									<p class="list-group-item">Candidature au groupe {{ postulant.secondaryGroup.label }} en attente de validation.</p>
								{% endfor %}
							</div>


							<div class="list-group-item">
							<h6 class="list-group-item-heading">Sorts :</h6>
								{% set sortAnomalie = personnage.getSortAnomalieMessage() %}
								{% if sortAnomalie != "" %}
								<div class="text-warning">{{sortAnomalie}}</div>
								{% endif %}
																
								{% for sort in personnage.sorts %}
									<div class="list-group-item-text">{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</div>
								{% else %}
									<div class="list-group-item-text">Aucun</div>
								{% endfor %}
							</div>
							
							<div class="list-group-item">	
								<h6 class="list-group-item-heading">Potions :</h6>
								{% set potionsAnomalie = personnage.getPotionAnomalieMessage() %}
								{% if potionsAnomalie != "" %}
								<div class="text-warning">{{potionsAnomalie}}</div>
								{% endif %}
								{% for potion in personnage.potions %}
									<div class="list-group-item-text">{{ potion.label }} - Niveau {{ potion.niveau }}</div>
								{% else %}
									<div class="list-group-item-text">Aucune</div>
								{% endfor %}
							</div>
							
							<div class="list-group-item">
								<h6 class="list-group-item-heading">Prières :</h6>
								{% set sortAnomalie = personnage.getPrieresAnomalieMessage() %}
								{% if sortAnomalie != "" %}
								<div class="text-warning">{{sortAnomalie}}</div>
								{% endif %}
								
								{% for priere in personnage.prieres %}
									<p class="list-group-item-text">
										{{ priere.sphere.label }} - Niveau {{ priere.niveau }} ({{ priere.label }})
									</p>
								{% endfor %}
							</div>
								
						</div>
					</div>
					
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Technique</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.token.add', {'personnage': personnage.id, 'token': 'VIEILLESSE'}) }}">Ajouter un jeton vieillesse</a></li>
												<li><a href="{{ path('personnage.admin.trigger.add', {'personnage': personnage.id}) }}">Ajouter un déclencheur</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
					
						<div class="panel-body">
							<h6>Jetons</h6>
							<div class="list-group">
								{% for personnageToken in personnage.personnageHasTokens %}
									<div class="list-group-item">
										{{ personnageToken.token.label }}
										-- <a href="{{ path('personnage.admin.token.delete', {'personnage': personnage.id, 'personnageHasToken': personnageToken.id}) }}">Supprimer</a>
									</div>
								{% else %}
									<div class="list-group-item">La liste est vide</div>
								{% endfor %}
							</div>
									
							<h6>Déclencheurs</h6>
							<div class="list-group">
								{% for trigger in personnage.personnageTriggers %}
									<div class="list-group-item">
										{{ trigger.tag }}
										-- <a href="{{ path('personnage.admin.trigger.delete', {'personnage': personnage.id, 'trigger': trigger.id}) }}">Supprimer</a>
									</div>
								{% else %}
									<div class="list-group-item">La liste est vide</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Photo</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.trombine.update', {'personnage': personnage.id}) }}">Modifier la trombine</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
					
						<div class="panel-body">
							{% if personnage.trombineUrl %}
								<img class="media-object" src="{{ path('personnage.trombine', {'personnage' : personnage.id }) }}" />
							{% else %}
								<img class="media-object" src="{{ app.request.basepath }}/img/no_trombine.png" />
							{% endif %}
						</div>
					</div>
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Enveloppe</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href=" {{ path('personnage.documents', {'personnage': personnage.id}) }}">Modifier la liste des documents</a></li>
												<li><a href=" {{ path('personnage.items', {'personnage': personnage.id}) }}">Modifier la liste des objets</a></li>
												<li><a href="{{ path('personnage.admin.update.ingredient', {'personnage': personnage.id}) }}">Modifier la liste des ingrédients</a></li>
												<li><a href="{{ path('personnage.admin.update.ressource', {'personnage': personnage.id}) }}">Modifier la liste des ressources</a></li>
												<li><a href="{{ path('personnage.admin.update.richesse', {'personnage': personnage.id}) }}">Modifier la richesse</a></li>
												<li><a href="{{ path('personnage.technologie.update', {'personnage': personnage.id}) }}">Modifier les technologies</a></li>
												<li><a href="{{ path('personnage.materiel.update', {'personnage': personnage.id}) }}">Modifier le matériel</a></li>
												<li><a href="{{ path('personnage.enveloppe.print', {'personnage':personnage.id}) }}">Imprimer l'enveloppe</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
						<div class="panel-body">						
							<div class="list-group">
							
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Renommée : {{ personnage.renomme|default(0) }}</h6>
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Héroïsme : {{ personnage.heroisme|default(0) }}</h6>
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Richesse : {{ personnage.richesse|default(0) }} PA</h6>
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Lié aux compétences :</h6>	
									{% for competence in personnage.competences if competence.materiel %}
										<div class="list-group-item-text"><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>
											{{ competence.materielRaw }}
										</div>
									{% else %}
										<div class="list-group-item-text">Aucun matériel</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Lié aux langages :</h6>
									{% for materiel in langueMateriel %}
											<div class="list-group-item-text"><strong>{{ materiel }}</strong></div>
									{% else %}
										<div class="list-group-item-text">Aucun matériel</div>
									{% endfor %}
								</div>
								
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Documents :</h6>
									{% for document in personnage.documents %}
										<div class="list-group-item-text"><a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}</a></div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
							
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Objets :</h6>
									{% for item in personnage.items %}
										<div class="list-group-item-text"><a href="{{ path('item.detail', {'item':item.id}) }}"><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}</a></div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Ingrédients :</h6>
									{% for personnageIngredient in personnage.personnageIngredients %}
										<div class="list-group-item-text">{{personnageIngredient.nombre}} - {{ personnageIngredient.ingredient }}</div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Ressources :</h6>
									{% for personnageRessource in personnage.personnageRessources %}
										<div class="list-group-item-text">{{personnageRessource.nombre}} - {{ personnageRessource.ressource }}</div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Technologies :</h6>
									{% for technologie in personnage.technologies %}
										<div class="list-group-item-text">{{ technologie.label }}</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Matériel</h6>
									{{ personnage.materiel }}
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Compétences <small>({{ personnage.xp|default(0) }} / {{ personnage.xpTotal }} xp)</small></span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<a class="btn btn-default navbar-btn" role="button" data-toggle="collapse" href="#xpHistory" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-history" aria-hidden="true"></i>
									</a>
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.xp', {'personnage':personnage.id}) }}">Ajouter des points d'expérience</a></li>
												<li><a href="{{ path('personnage.admin.competence.add', {'personnage':personnage.id}) }}">Ajouter une compétence</a></li>
												<li><a href="{{ path('personnage.competence.remove', {'personnage':personnage.id}) }}">Retirer la dernière compétence acquise</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
						<div class="panel-body">
							
							<div class="list-group">
								{% for competence in personnage.competences %}
									<div class="list-group-item">{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }})</div>					
								{% endfor %}
							</div>
							
							<div class="collapse" id="xpHistory">
								<h6>Historique</h6>		
									
								<div class="list-group">
									{% for historique in personnage.experienceGains %}
										<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : + {{ historique.xpGain }} xp {% if historique.explanation %} pour la raison suivante : "{{ historique.explanation }}"{% endif %}.</div>
									{% endfor %}
									{% for historique in personnage.experienceUsages %}
										<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : - {{ historique.xpUse }} xp pour acquérir {{ historique.competence.label }}.</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Background</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.background.add', {'personnage': personnage.id}) }}">Ajouter un background</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					<div class="panel-body">
					
							<div class="list-group">
								<div class="list-group-item">
									{# Gestion du background du personnage #}
									{% if personnage.personnageBackgrounds|length > 0 %}
										{% for background in personnage.personnageBackgrounds %}
											<h6 class="list-group-item-heading">Background - <strong>{{ background.visibility|explainVisibility }}</strong></h6>
											<a href="{{ path('personnage.admin.background.update', {'personnage': personnage.id, 'background': background.id}) }}">Modifier le background</a>
											{{ background.text|markdown }}
										{% endfor %}
									{% else %}
										<p class="list-group-item-text">
											Ce personnage n'a pas de background individuel.
										</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
	</div>
				
{% endblock content %}