{% extends "layout.twig" %}

{% block title %}{{ personnage.nom }} détails{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li class="active">Détail de {{ personnage.nom }}</li>
	</ol>
		
	<div class="well well-sm">
		<h3>{% if personnage.isPnj() %}🎭 PNJ - {% endif %}
			{{ personnage.nom }}{% if personnage.surnom %} <small>({{ personnage.surnom }})</small>{% endif %}
			
			{% if personnage.genre == 'Masculin' %}
				<i class="fa fa-mars" aria-hidden="true"></i>
			{% elseif personnage.genre == 'Feminin' %}
				<i class="fa fa-venus" aria-hidden="true"></i>
			{% else %}
				<i class="fa fa-transgender-alt" aria-hidden="true"></i>
			{% endif %}
			
			<small>{{ personnage.ageReel|default('x') }} ans ({{ personnage.age }})</small>
			
			{% if personnage.vivant %}<span class="text-success">Vivant</span>{% else %}<span class="text-danger">💀 Mort</span>{% endif %}
			
			<div class="pull-right">
				{{ personnage.classeName }}
			</div>
		</h3>

			<div class="row">
				<div class="col-md-4">		
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Informations</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.statut', {'personnage':personnage.id}) }}">Modifier le statut (vivant/mort)</a></li>
												<li><a href="{{ path('personnage.admin.update.age',{'personnage': personnage.id}) }}">Modifier l'age</a></li>
												<li><a href="{{ path('personnage.admin.update', {'personnage':personnage.id}) }}">Modifier (nom/surnom/etc ...)</a></li>
												<li><a href="{{ path('personnage.admin.transfert', {'personnage':personnage.id}) }}">Transférer à un autre joueur</a></li>
												<li><a href="{{ path('personnage.export', {'personnage':personnage.id}) }}">Imprimer</a></li>
												<li><a href="{{ path('personnage.admin.delete', {'personnage':personnage.id}) }}">Supprimer</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					
	  					<div class="panel-body">
						  	<p><strong>Numéro : </strong>{{ personnage.id }}</p> 
	  						<p><strong>Joueur : </strong>{% if personnage.user %}<a href="{{path('user.view',{'id': personnage.user.id}) }}"> {{ personnage.user.etatCivil.nom }} {{ personnage.user.etatCivil.prenom }}</a>{% else %}Ce personnage n'est pas lié à un joueur</p>{% endif %}
		  					<p>Ce personnage {% if personnage.intrigue %}<strong class="text-success">participe aux intrigues</strong>{% else %}<strong class="text-danger">ne participe pas aux intrigues{% endif %}</strong>.</p>
							{% if personnage.isSensible %}<p>Ce personnage est <strong class="text-success">sensible</strong>.
							<a role="button" data-toggle="collapse" href="#sensibility" aria-expanded="false" aria-controls="collapseExample">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</a>
							<div class="collapse" id="sensibility">
								<div class="list-group">
									<strong>Pas de violence excessive dans les gestes ou les mots, pas de drague, de propositions d'alcool, etc.</strong>
								</div>
							</div>
							</p>{% endif %}
							<p><strong>Scénariste :</strong>
							{% if personnage.user %}
								{% set participant = personnage.user.participants|last %}
								{% if participant.personnage %}
									{% if participant.groupeGn %}
										{% if participant.groupeGn.groupe %}
											{% if not participant.groupeGn.groupe.scenariste %}
												<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>&nbsp;Attention, ce personnage n'a pas de scénariste.
											{% else %}
												{{ participant.groupeGn.groupe.scenariste.etatCivil }}&nbsp;({{ participant.groupeGn.groupe.scenariste.email }})
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
							</p>
		  					{# Liste des groupes auxquels fait partie ce personnage #}
							<h6>Historique des participations</h6>
							<div class="list-group">									
								{% if personnage.user %}
									{% for participant in personnage.user.participants %}
										{% if participant.personnage %}
											{% if participant.groupeGn %}
												{% if participant.groupeGn.groupe %}
													<a class="list-group-item" href="{{ path('groupe.detail', {'index': participant.groupeGn.groupe.id}) }}">#{{ participant.personnage.id}} {{ participant.personnage.nom }} - {{ participant.gn }} - #{{ participant.groupeGn.groupe.numero }} {{ participant.groupeGn.groupe.nom }}</a>
												{% else %}
													<a class="list-group-item">{{ participant.personnage.nom }} - {{ participant.gn }} - N'est pas lié à un groupe</a>
												{% endif %}
											{% else %}
												<a class="list-group-item">#{{ participant.personnage.id}} {{ participant.personnage.nom }} - {{ participant.gn }} - N'est pas lié à un groupe</a>
											{% endif %}
										{% else %}
											{% if participant.groupeGn %}
												<a class="list-group-item">Personnage #{{ personnage.id }} {{ personnage.nom }} non récupéré - {{ participant.gn }} - #{{ participant.groupeGn.groupe.numero }} {{ participant.groupeGn.groupe.nom }}</a>
											{% else %}
												<a class="list-group-item">Personnage #{{ personnage.id }} {{ personnage.nom }} non récupéré - {{ participant.gn }} - N'est pas lié à un groupe</a>
											{% endif %}
										{% endif %}
									{% endfor %}
								{% else %}
									<li class="list-group-item">Ce personnage ne fait pas partie d'un groupe.</li>
								{% endif %}
							</div>

							<h6>Groupes secondaires</h6>
							<ul class="list-group">
								{% for groupeSecondaire in personnage.secondaryGroups %}
									<li class="list-group-item">{% if groupeSecondaire.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ groupeSecondaire.label }} (Chef)</li>
								{% endfor %}
								{% for membre in personnage.membres %}
									<a class="list-group-item" href="{{ path('groupeSecondaire.admin.detail', {'groupe': membre.secondaryGroup.id}) }}">{% if membre.secondaryGroup.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ membre.secondaryGroup.label }}</a>
								{% endfor %}
								{% if personnage.secondaryGroups|length <= 0 and personnage.membres|length <= 0 %}
									<li class="list-group-item">Ce personnage ne fait pas partie d'un groupe secondaire.</li>
								{% endif %}
							</ul>

							{% if personnage.postulants|length > 0 %}
								<h6>Postulation(s)</h6>
								<ul class="list-group">
								{% for postulant in personnage.postulants %}
									<a class="list-group-item" href="{{ path('groupeSecondaire.admin.detail', {'groupe': postulant.secondaryGroup.id}) }}">{{ postulant.secondaryGroup.label }} en attente de validation.</a>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>

					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Informations de jeu</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.update.renomme', {'personnage': personnage.id}) }}">Modifier la Renommée</a></li>
												<li><a href="{{ path('personnage.admin.update.heroisme', {'personnage': personnage.id}) }}">Modifier l'Héroïsme</a></li>
												<li><a href="{{ path('personnage.admin.update.pugilat', {'personnage': personnage.id}) }}">Modifier le Pugilat</a></li>
												<li><a href="{{ path('personnage.admin.update.domaine', {'personnage': personnage.id}) }}">Modifier la liste des domaines de magie</a></li>
												<li><a href="{{ path('personnage.admin.religion.add', {'personnage': personnage.id}) }}">Ajouter une religion</a></li>
												<li><a href="{{ path('personnage.admin.origine.update', {'personnage': personnage.id}) }}">Modifier l'origine</a></li>
												<li><a href="{{ path('personnage.admin.update.langue', {'personnage': personnage.id}) }}">Modifier les langages</a></li>
												<li><a href="{{ path('personnage.admin.update.sort', {'personnage': personnage.id}) }}">Modifier la liste des sorts</a></li>
												<li><a href="{{ path('personnage.admin.update.potion', {'personnage': personnage.id}) }}">Modifier la liste des potions</a></li>
												<li><a href="{{ path('personnage.admin.update.priere', {'personnage': personnage.id}) }}">Modifier la liste des prieres</a></li>
												<li><a href="{{ path('personnage.technologie.update', {'personnage': personnage.id}) }}">Modifier la liste des technologies</a></li>
												<li><a href="{{ path('personnage.admin.update.connaissance', {'personnage': personnage.id}) }}">Modifier la liste des connaissances</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					<div class="panel-body">
	  						<p>Origine : <strong class="text-success">{{ personnage.territoire|default("non définie") }}</strong></p>
							<p>Renommée : <strong class="text-success">{{ personnage.renomme|default(0) }}</strong>
								  	<a role="button" data-toggle="collapse" href="#renommeHistory" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-history" aria-hidden="true"></i>
									</a>
							</p>
							<div class="collapse" id="renommeHistory">
								<h6>Historique</h6>
								<div class="list-group">
									{% for historique in personnage.renommeHistories %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.renomme > 0 %}+{% endif %}{{ historique.renomme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>
							<p>Héroïsme : <strong class="text-success">{{ personnage.heroisme|default(0) }}</strong>
								<a role="button" data-toggle="collapse" href="#heroismeHistory" aria-expanded="false" aria-controls="collapseExample">
									<i class="fa fa-history" aria-hidden="true"></i>
								</a></p>
							<div class="collapse" id="heroismeHistory">
								<h6>Historique</h6>		
								<div class="list-group">
									{% for historique in personnage.displayHeroisme %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.heroisme > 0 %}+{% endif %}{{ historique.heroisme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>
							<p>Pugilat : <strong class="text-success">{{ personnage.pugilat|default(0) }}</strong>
								<a role="button" data-toggle="collapse" href="#pugilatHistory" aria-expanded="false" aria-controls="collapseExample">
									<i class="fa fa-history" aria-hidden="true"></i>
								</a></p>
							<div class="collapse" id="pugilatHistory">
								<h6>Historique</h6>		
								<div class="list-group">
									{% for historique in personnage.displayPugilat %}
										<div class="list-group-item">{{ historique.date|date("Y-m-d h:i:s") }} : {% if historique.pugilat > 0 %}+{% endif %}{{ historique.pugilat }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}.</div>
									{% endfor %}
								</div>
							</div>														
								
							<h6>Religions :</h6>
							<div class="list-group">
								{% for personnageReligion in personnage.personnagesReligions %}
									<div class="list-group-item">{% if personnageReligion.religion.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }} - <a href="{{ path('personnage.admin.religion.delete', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}">Supprimer</a></div>
								{% else %}
									<div class="list-group-item-text">Sans - Fervent</div>
								{% endfor %}
							</div>
							
							<h6>Langues connues :</h6>
							{% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
							{% if languesAnomalie != "" %}
							<div class="text-warning">{{languesAnomalie}}</div>
							{% endif %}
							<div class="list-group">
								{% for personnageLangue in personnageLangues %}
									<div class="list-group-item">{% if personnageLangue.langue.secret %}<span style="color:red;">Secret</span> - {% endif %}<strong>{{ personnageLangue.langue}}</strong> ({{ personnageLangue.source }}) - <a href="{{ path('personnage.admin.langue.delete', {'personnage': personnage.id, 'personnageLangue' : personnageLangue.id }) }}">Supprimer</a></div>
								{% endfor %}
							</div>

							<h6>Domaines de magie :</h6>
							<div class="list-group">
								{% for domaine in personnage.domaines %}
									<div class="list-group-item">{{ domaine.label }}</div>
								{% else %}
									<div class="list-group-item">Aucun</div>
								{% endfor %}
							</div>

							<h6>Sorts :</h6>
							{% set sortAnomalie = personnage.getSortAnomalieMessage() %}
							{% if sortAnomalie != "" %}
							<div class="text-warning">{{sortAnomalie}}</div>
							{% endif %}
							<div class="list-group">
								<div class="list-group-item">
									{% for sort in personnage.sorts %}
										<div class="list-group-item-text">{% if sort.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
							</div>

							<h6>Potions :</h6>
							{% set potionsAnomalie = personnage.getPotionAnomalieMessage() %}
							{% if potionsAnomalie != "" %}
							<div class="text-warning">{{potionsAnomalie}}</div>
							{% endif %}
							<div class="list-group">
								<div class="list-group-item">
									{% for potion in personnage.potions %}
										<div class="list-group-item-text">{% if potion.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ potion.label }} - Niveau {{ potion.niveau }}</div>
									{% else %}
										<div class="list-group-item-text">Aucune</div>
									{% endfor %}
								</div>
							</div>

							<h6>Prières :</h6>
							{% set sortAnomalie = personnage.getPrieresAnomalieMessage() %}
							{% if sortAnomalie != "" %}
							<div class="text-warning">{{sortAnomalie}}</div>
							{% endif %}
							<div class="list-group">
								<div class="list-group-item">
									{% for priere in personnage.prieres %}
										<div class="list-group-item-text">{{ priere.sphere.label }} - Niveau {{ priere.niveau }} ({{ priere.label }})</div>
									{% else %}
										<div class="list-group-item-text">Aucune</div>
									{% endfor %}
								</div>
							</div>

							<h6>Technologies :</h6>
							<div class="list-group">
								<div class="list-group-item">
									{% for technologie in personnage.technologies %}
										<div class="list-group-item-text">{% if technologie.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ technologie.label }}</div>
									{% else %}
										<div class="list-group-item-text">Aucune</div>
									{% endfor %}
								</div>
							</div>

							<h6>Connaissances :</h6>
							<div class="list-group">
								<div class="list-group-item">
									{% for connaissance in personnage.connaissances %}
										<div class="list-group-item-text">{% if connaissance.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ connaissance.label }}</div>
									{% else %}
										<div class="list-group-item-text">Aucune</div>
									{% endfor %}
								</div>
							</div>							
						</div>
					</div>
					
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Technique</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<!-- <li><a href="{{ path('personnage.admin.token.add', {'personnage': personnage.id, 'token': 'VIEILLESSE'}) }}">Ajouter un jeton vieillesse</a></li>-->
												<li><a href="{{ path('personnage.admin.trigger.add', {'personnage': personnage.id}) }}">Ajouter un déclencheur de compétences</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
					
						<div class="panel-body">
							<h6>Jetons de vieillesse</h6>
							<div class="list-group">
								{% for personnageToken in personnage.personnageHasTokens %}
									<div class="list-group-item">
										{{ personnageToken.token.label }}
										-- <a href="{{ path('personnage.admin.token.delete', {'personnage': personnage.id, 'personnageHasToken': personnageToken.id}) }}">Supprimer</a>
									</div>
								{% else %}
									<div class="list-group-item">La liste est vide</div>
								{% endfor %}
							</div>
									
							<h6>Déclencheurs de compétences</h6>
							<div class="list-group">
								{% for trigger in personnage.personnageTriggers %}
									<div class="list-group-item">
										{{ trigger.tag }}
										-- <a href="{{ path('personnage.admin.trigger.delete', {'personnage': personnage.id, 'trigger': trigger.id}) }}">Supprimer</a>
									</div>
								{% else %}
									<div class="list-group-item">La liste est vide</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Photo</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.trombine.update', {'personnage': personnage.id}) }}">Modifier la trombine</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
					
						<div class="thumbnail">
							{% if personnage.trombineUrl %}
								<img class="media-object" width="200" src="{{ path('personnage.trombine', {'personnage' : personnage.id }) }}" />
							{% else %}
								<img class="media-object" width="200" src="{{ app.request.basepath }}/img/no_trombine.png" />
							{% endif %}
						</div>
					</div>
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Enveloppe</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.documents', {'personnage': personnage.id}) }}">Modifier la liste des documents</a></li>
												<li><a href="{{ path('personnage.items', {'personnage': personnage.id}) }}">Modifier la liste des objets</a></li>
												<li><a href="{{ path('personnage.admin.update.ingredient', {'personnage': personnage.id}) }}">Modifier la liste des ingrédients</a></li>
												<li><a href="{{ path('personnage.admin.update.ressource', {'personnage': personnage.id}) }}">Modifier la liste des ressources</a></li>
												<li><a href="{{ path('personnage.admin.update.richesse', {'personnage': personnage.id}) }}">Modifier la richesse</a></li>
												<li><a href="{{ path('personnage.materiel.update', {'personnage': personnage.id}) }}">Modifier le matériel</a></li>
												<li><a href="{{ path('personnage.enveloppe.print', {'personnage':personnage.id}) }}">Imprimer l'enveloppe</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
						<div class="panel-body">
							<div class="list-group">
							
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Renommée : {{ personnage.renomme|default(0) }}</h6>
								</div>
					
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Richesse : {{ personnage.richesse|default(0) }} pièces d'argent</h6>
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Lié aux compétences :</h6>
									{% for competence in personnage.competences if competence.materiel %}
										<div class="list-group-item-text"><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>
											{{ competence.materielRaw }}
										</div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>

								{% if personnage.hasCompetence('Prêtrise') %}
								<div class="list-group-item">
									{% set enoughReligion = 0 %}
									<h6 class="list-group-item-heading">Divinité principale :</h6>
									{% for religion in personnage.personnagesReligions %}
									{% if religion.religionLevel.index >= 2 %}
										{% set enoughReligion = 1 %}
										<div class="list-group-item-text"><strong>{{ religion.religion }}</strong> ({{ religion.religionLevel.label }})</div>
									{% endif %}
									{% endfor %}
									{% if enoughReligion == 0 %}
										<div class="list-group-item-text">CE PRÊTRE N'A PAS ASSEZ DE FERVEUR</div>
									{% endif %}
								</div>
								{% endif %}
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Lié aux langues :</h6>
									{% for materiel in langueMateriel %}
											<div class="list-group-item-text"><strong>{{ materiel }}</strong></div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Documents :</h6>
									{% for document in personnage.documents %}
										<div class="list-group-item-text"><a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong> - {{ document.titre }}</a></div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
							
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Objets :</h6>
									{% for item in personnage.items %}
										<div class="list-group-item-text"><a href="{{ path('item.detail', {'item':item.id}) }}"><strong>{{ item.numero }}</strong> - {{ item.label }}</a></div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Ingrédients :</h6>
									{% for personnageIngredient in personnage.personnageIngredients %}
										<div class="list-group-item-text">{{personnageIngredient.nombre}} {{ personnageIngredient.ingredient }} - {{ personnageIngredient.ingredient.color }} : {{ personnageIngredient.ingredient.dose }} (Niveau {{ personnageIngredient.ingredient.niveau }})</div>
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Ressources :</h6>
									{% for personnageRessource in personnage.personnageRessources %}
										<div class="list-group-item-text">{{personnageRessource.nombre}} {{ personnageRessource.ressource }}</div>
									{% else %}
										<div class="list-group-item-text">Aucune</div>
									{% endfor %}
								</div>
								
								<div class="list-group-item">
									<h6 class="list-group-item-heading">Matériel :</h6>
									{% if personnage.materiel %}
									{{ personnage.materiel }}
									{% else %}
										<div class="list-group-item-text">Aucun</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Compétences <small>({{ personnage.xp|default(0) }} / {{ personnage.xpTotal }} xp)</small></span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<a class="btn btn-default navbar-btn" role="button" data-toggle="collapse" href="#xpHistory" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-history" aria-hidden="true"></i>
									</a>
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.xp', {'personnage':personnage.id}) }}">Ajouter des points d'expérience</a></li>
												<li><a href="{{ path('personnage.admin.competence.add', {'personnage':personnage.id}) }}">Ajouter une compétence</a></li>
												<li><a href="{{ path('personnage.competence.remove', {'personnage':personnage.id}) }}">Retirer la dernière compétence acquise</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
						<div class="panel-body">
							
							<div class="list-group">
								{% for competence in personnage.competences %}
									<div class="list-group-item">{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }})</div>					
								{% endfor %}
							</div>
							
							<div class="collapse" id="xpHistory">
								<h6>Historique</h6>		
									
								<div class="list-group">
									{% for historique in personnage.experienceGains %}
										<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : + {{ historique.xpGain }} xp {% if historique.explanation %} pour la raison suivante : "{{ historique.explanation }}"{% endif %}.</div>
									{% endfor %}
									{% for historique in personnage.experienceUsages %}
										<div class="list-group-item">{{ historique.operationDate|date("Y-m-d h:i:s") }} : - {{ historique.xpUse }} xp pour acquérir {{ historique.competence.label }}.</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					{% if personnage.personnageLignee %}
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Lignée & Généalogie</span>
	  							</div>
								{% if personnage.personnageLignee|length == 0 %}
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.lignee.add', {'personnage': personnage.id}) }}">Ajouter une lignée</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
								{% else %}
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Action
												<span class="caret"></span>
											</a>
											{% for lignage in personnage.personnageLignee %}
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.lignee.delete', {'personnage': personnage.id, 'personnageLignee' : lignage.id }) }}">Retirer</a></li>
											</ul>
											{% endfor %}
										</li>
									</ul>
								</div>
								{% endif %}
	  						</div>
	  					</nav>
	  					<div class="panel-body">
							<div class="list-group">
								{# Gestion de la lignée du personnage #}
								{% if personnage.personnageLignee|length > 0 %}
									{% for lignage in personnage.personnageLignee %}
										{% if lignage.lignee %}<div class="list-group-item">
											Lignée :<a href="{{ path('lignee.details', {'lignee':lignage.lignee.id}) }}"> {{ lignage.lignee.nom }}</a></div>
										{% endif %}
										<li class="list-group-item">
											<strong>Parents :</strong>
											<ul>
										{% if lignage.parent1 %}
											<li>
												<a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent1.id}) }}">{{ lignage.parent1.identity }}</a> - {{ lignage.parent1.agereel }} ans
											</li>												
											{% if lignage.parent2 %}
											<li>
												<a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent2.id}) }}">{{ lignage.parent2.identity }}</a> - {{ lignage.parent2.agereel }} ans
											</li>
											{% endif %}
										{% else %}
											<li>Ni PJ, ni PNJ</li>
										{% endif %}
											</ul>
										</li>
									{% endfor %}
								{% else %}
									<p class="list-group-item-text">
										Ce personnage n'a pas de lignée.
									</p>
								{% endif %}
								{% if descendants|length > 0 %}
									<li class="list-group-item">
										<strong>Enfants :</strong>
										<ul>
									{% for descendant in descendants %}
										<li><a href="{{ path('personnage.admin.detail', {'personnage':descendant.personnage.id}) }}">{{ descendant.personnage.identity }}</a> - {{ descendant.personnage.agereel }} ans</li>
									{% endfor %}
									</ul></li>
								{% endif %}								
							</div>
						</div>
					</div>
					{% endif %}

					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Chronologie</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.chronologie.add', {'personnage': personnage.id}) }}">Ajouter un evenement</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					<div class="panel-body">
							<div class="list-group">
								{# Gestion de la chronologie du personnage #}
								{% if personnage.personnageChronologie|length > 0 %}
									{% for personnageChronologie in personnage.personnageChronologie %}
										<div class="list-group-item">{{ personnageChronologie.annee }} : {{ personnageChronologie.evenement }}</div>
									{% endfor %}
								{% else %}
									<p class="list-group-item-text">
										Ce personnage n'a pas de chronologie.
									</p>
								{% endif %}
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<nav class="navbar navbar-default" style="margin-bottom: 0;">
	  						<div class="container-fluid">
	  							<div class="navbar-header">
	  								<span class="navbar-brand">Background</span>
	  							</div>
	  							<div class="collapse navbar-collapse">
	  								<ul class="nav navbar-nav navbar-right">
		  								<li class="dropdown">
		  								 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								      			Action
								      			<span class="caret"></span>
								    		</a>
											<ul class="dropdown-menu">
												<li><a href="{{ path('personnage.admin.background.add', {'personnage': personnage.id}) }}">Ajouter un background</a></li>
											</ul>
										</li>
	  								</ul>
	  							</div>
	  						</div>
	  					</nav>
	  					<div class="panel-body">
							<div class="list-group">
								<div class="list-group-item">
									{# Gestion du background du personnage #}
									{% if personnage.personnageBackgrounds|length > 0 %}
										{% for background in personnage.personnageBackgrounds %}
											<h6 class="list-group-item-heading">Background - <strong>{{ background.visibility|explainVisibility }}</strong></h6>
											<a href="{{ path('personnage.admin.background.update', {'personnage': personnage.id, 'background': background.id}) }}">Modifier le background</a>
											{{ background.text|markdown }}
										{% endfor %}
									{% else %}
										<p class="list-group-item-text">
											Ce personnage n'a pas de background individuel.
										</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
				
{% endblock content %}