{% extends "layout_print.twig" %}

{% block content %}

<div class="print-center">
	<h2>{{ personnage.identity }}</h2>
</div>
<br />
{% if personnage.user %}
	{% set participant = personnage.user.participants|last %}
		<strong>Personnage Secondaire : </strong>
		{% if participant.personnageSecondaire %}
			{{ participant.personnageSecondaire.classe.label }}
		{% else %}
			PAS DE PERSONNAGE SECONDAIRE
		{% endif %}
		
{% endif %}
<br/>
<strong>Renommée :</strong> {{ personnage.renomme|default(0) }}<br />
<strong>Héroïsme :</strong> {{ personnage.heroisme|default(0) }}<br />
<strong>Richesse :</strong> {{ personnage.richesse|default(0) }} pièces d'argent<br />
<br />
<strong>Lié aux compétences</strong>
<ul>
{% set hasMateriel = 0 %}
{% for competence in personnage.competences %}
	{% if competence.materiel %}
		<li><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>{{ competence.materielRaw }}</li>
		{% set hasMateriel = 1  %}
	{% endif %}
{% endfor %}
{% if hasMateriel == 0 %}
	<li>Aucun matériel</li>
{% endif %}
</ul>
{% if personnage.hasCompetence('Prêtrise') %}
	{% set enoughReligion = 0 %}
	{% for religion in personnage.personnagesReligions %}
	{% if religion.religionLevel.index >= 2 %}
		{% set enoughReligion = 1 %}
		<strong>Divinité principale : </strong>{{ religion.religion }} ({{ religion.religionLevel.label }})<br />
		<br />
	{% endif %}
	{% endfor %}
	{% if enoughReligion == 0 %}
		CE PRÊTRE N'A PAS ASSEZ DE FERVEUR
	{% endif %}
{% endif %}
<strong>Lié aux langues</strong>
<ul>
	{% for materiel in langueMateriel %}
		<li><strong>{{ materiel }}</strong></li>
	{% else %}
		<li>Aucun matériel</li>
	{% endfor %}
</ul>
																
{# documents #}
{% if personnage.documents|length > 0 %}
	<strong>Documents</strong>
	<ul>
	{% for document in personnage.documents %}
		<li><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}</li>
	{% endfor %}
	</ul>
{% endif %}

{# objets #}
{% if personnage.items|length > 0 %}
	<strong>Objets</strong>
	<ul>
	{% for item in personnage.items %}
		<li><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}</li>
	{% endfor %}
	</ul>
{% endif %}

{# ingredients #}
{% if personnage.personnageIngredients|length > 0 %}
	<strong>Ingrédients</strong>
	<ul>
		{% for personnageIngredient in personnage.personnageIngredients %}
			<li>{{personnageIngredient.nombre}} {{ personnageIngredient.ingredient }} - {{ personnageIngredient.ingredient.color }} : {{ personnageIngredient.ingredient.dose }}</li>
		{% endfor %}
	</ul>
{% endif %}

{# ressources #}
{% if personnage.personnageRessources|length > 0 %}
	<strong>Ressources</strong>
	<ul>
		{% for personnageRessource in personnage.personnageRessources %}
			<li>{{personnageRessource.nombre}} {{ personnageRessource.ressource }}</li>
		{% endfor %}
	</ul>
{% endif %}

{# Technologies #}
{% if personnage.technologies|length > 0 %}
	<strong>Technologies</strong>
	<ul>
	{% for technologie in personnage.technologies %}
		<li>{{ technologie.label }}</li>
	{% endfor %}
	</ul>
{% endif %}

{# Matériel supplémentaire #}
{% if personnage.materiel|length > 0 %}
	<strong>Matériel supplémentaire</strong>
	<ul>
		<li>{{ personnage.materiel }}</li>
	</ul>
{% endif %}

{% endblock content %}