{% extends "layout_print.twig" %}

{% block content %}

<div class="print-center">
	{{ personnage.nom }} {% if personnage.surnom %}<small>alias {{ personnage.surnom }}</small>{% endif %}
</div>
<br />
{% if personnage.user %}
	{% set participant = personnage.user.participants|last %}
		<strong>Personnage Secondaire : </strong>
		{% if participant.personnageSecondaire %}
			{{ participant.personnageSecondaire.classe.label }}
		{% else %}
			PAS DE PERSONNAGE SECONDAIRE
		{% endif %}
		
{% endif %}
<br/>
<strong>Renommée :</strong> {{ personnage.renomme|default(0) }}<br />
<strong>Héroïsme :</strong> {{ personnage.heroisme|default(0) }}<br />
<strong>Richesse :</strong> {{ personnage.richesse|default(0) }} pièces d'argent<br />
<br />
<strong>Lié aux compétences</strong>
<ul>	
{% for competence in personnage.competences %}
	{% if competence.materiel %}
		<li><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>
			{{ competence.materielRaw }}
		</li>
	{% endif %}
{% else %}
	<li>Aucun matériel</li>
{% endfor %}
</ul>

<strong>Lié aux langues</strong>
<ul>
	{% for materiel in langueMateriel %}
		<li><strong>{{ materiel }}</strong></li>
	{% else %}
		<li>Aucun matériel</li>
	{% endfor %}
</ul>
																
{# documents #}
<strong>Documents</strong>
<ul>
{% for document in personnage.documents %}
	<li><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}</li>
{% endfor %}
</ul>


{# objets #}
<strong>Objets</strong>
<ul>
{% for item in personnage.items %}
	<li><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}</li>
{% endfor %}
</ul>

{# ingredients #}
<strong>Ingrédients</strong>
<ul>
	{% for personnageIngredient in personnage.personnageIngredients %}
		<li>{{personnageIngredient.nombre}} - {{ personnageIngredient.ingredient }}</li>
	{% endfor %}
</ul>

{# ressources #}
<strong>Ressources</strong>
<ul>
	{% for personnageRessource in personnage.personnageRessources %}
		<li>{{personnageRessource.nombre}} - {{ personnageRessource.ressource }}</li>
	{% endfor %}
</ul>
	
<strong>Technologie</strong>
<ul>
{% for technologie in personnage.technologies %}
	<li>{{ technologie.label }}</li>
{% endfor %}
</ul>
	
<strong>Matériel supplémentaire</strong><br />
{{ personnage.materiel }}

{% endblock content %}