<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>LarpManager - Impression des fiches de personnage</title>
    </head>
    <body>
    
    {% for groupe in groupes %}   		
    	{% for personnage in groupe.personnages %}
    		<div style="page-break-after:always;">
    			<h2>Groupe {{groupe.numero }} - {{ groupe.nom }}</h2>
    			{% if personnage.participant %} 
					<strong>Joueur</strong> : {{ personnage.participant.user.etatCivil.nom }} {{ personnage.participant.user.etatCivil.prenom }}
				{% else %}
					Ce personnage n'est pas lié à un joueur
				{% endif %}
				
    			<table>
    				<tbody>
    					<tr>
    						<td><strong>{{ personnage.nom }} {{ personnage.surnom }}</strong></td>
    						<td>{{ personnage.classeName }}</td>
    						<td>{{ personnage.age }} / {{ personnage.genre }}</td>
    						<td>Origine : {{ personnage.territoire|default("non définie") }}</td>
    					</tr>
    				</tbody>
    			</table>
    			
    			
				
				<table>
					<thead>
						<tr>
							<th>Renommé</th>
							<th>Pugilat</th>
							<th>Expérience</th>
							<th>Expérience disponible</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ personnage.renomme|default(0) }}</td>
							<td>{{ app['personnage.manager'].pugilat(personnage)|default(0) }}</td>
							<td>{{ personnage.xpTotal }}</td>
							<td>{{ personnage.xp|default(0) }}</td>
						</tr>
					</tbody>
				</table>

    					<tr>
    						<td colspan="4"><strong>Domaine de magie</strong></td>
    					<tr>
    					{% for domaine in personnage.domaines %}
							<tr><td colspan="4">{{ domaine.label }}</td></tr>
						{% endfor %}
						
						<tr>
							<td colspan="4"><strong>Sorts</strong></td>
						</tr>
						{% for sort in personnage.sorts %}
							<tr><td colspan="4">{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</td></tr>
						{% endfor %}
						
						<tr>
							<td colspan="4"><strong>Potions</strong></td>
						</tr>
						{% for potion in personnage.potions %}
							<tr><td colspan="4">{{ potion.label }} - Niveau {{ potion.niveau }}</td></tr>
						{% endfor %}
						
						<tr>
							<td colspan="4">
								<strong>Religion</strong><br />
								<ul>
								{% for personnageReligion in personnage.personnagesReligions %}
									<li>{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }}</li>
								{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>Languages</strong><br />
								<ul>
								{% for personnageLangue in personnage.personnageLangues %}
									<li><strong>{{ personnageLangue.langue}}</strong> ({{ personnageLangue.source }})</li>
								{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<strong>Compétences</strong><br />
							</td>
						</tr>

						<ul>
						{% for competence in personnage.competences %}
							<li><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }}) : </strong>
								{{ competence.descriptionRaw }}
							</li>
						{% endfor %}
						</ul>
						
    				</tbody>
    			</table>
    		</div>
    	{% endfor %}
    	</div>
	    <hr />
	    <hr />
    {% endfor %}
    </body>
</html>