{% extends "layout.twig" %}

{% block title %}Personnages{% endblock title %}

{% block content %}

	{% import "admin/filterMacros.html.twig" as macros %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des personnages</li>
	</ol>
	
	<div class="well well-sm">


			{% if paginator.totalItems == 1 %}
	        	<strong>1</strong> personnage trouvé.
	    	{% else %}
	        	<strong>{{ paginator.totalItems }}</strong> personnages trouvés.
	    	{% endif %}
	
	    	Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.

	   		<div class="btn-toolbar" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ajouter un personnage" href="{{ path('personnage.admin.add') }}"><i class="fa fa-plus"></i></a>
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Faire vieillir les personnages" href="{{ path('personnage.vieillir') }}"><i class="fa fa-users"></i></a>
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Imprimer la liste" href="{{ path('personnage.admin.print') }}"><i class="fa fa-print"></i></a>
					<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Télécharger la liste (CSV)" href="{{ path('personnage.admin.download') }}"><i class="fa fa-download"></i></a>
				</div>
				
				<form class="form-inline" action="{{ path('personnage.admin.list') }}" method="GET" {{ form_enctype(form) }}>
					{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

					<div class="form-group">
						<div class="input-group">
							{{ form_widget(form.value) }}
						</div>
						<div class="input-group">					
							{{ form_widget(form.type) }}
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default" data-toggle="tooltup" data-placement="top" title="Lancer la recherche"><i class="fa fa-search"></i></button>
								<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset" href="{{ path('personnage.admin.list') }}"><i class="fa fa-refresh"></i></a>
							</div>
						</div>
					</div>						
					
					{{ form_rest(form) }}
		   		</form>
		   		
	   			
			</div>
			{{ paginator|raw }}


	<table class="table table-striped table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th>
					<a href="{{ path('personnage.admin.list', {'order_by': 'id', 'order_dir': macros.getDirection(app,'id')|trim})~optionalParameters }}">
						# {{ macros.getCaret(app,'id') }}
					</a>
				</th>
				<th>
					<a href="{{ path('personnage.admin.list', {'order_by': 'nom', 'order_dir': macros.getDirection(app,'nom')|trim})~optionalParameters }}">
						Nom {{ macros.getCaret(app,'nom') }}
					</a>
				</th>
				<th>
					Classe
				</th>
				<th>
					<a href="{{ path('personnage.admin.list', {'order_by': 'renomme', 'order_dir': macros.getDirection(app,'renomme')|trim})~optionalParameters }}">
						Renommée {{ macros.getCaret(app,'renomme') }}
					</a>
				</th>
				<th>
					Groupe
				</th>
				<th>
					Utilisateur
				</th>
				<th>
					Points d'expérience
				</th>
				<th style="text-align:middle;" title="Anomalie">
					Ano.
				</th>
			</tr>
		</thead>
		<tbody>
			{% for personnage in personnages %}
				<tr>
					<td>{{ personnage.id }}</td>
					<td><a href="{{ path('personnage.admin.detail', {'personnage':personnage.id}) }}">{{ personnage.nom }} - {{ personnage.surnom }}</a></td>
					<td>{{ personnage.classe }}</td>
					<td>{{ personnage.renomme|default(0) }}</td>
					<td>
						{% set gn = 'LH1' %}
						{% set groupe = 'N\'est pas lié à un groupe' %}
						{% for participant in personnage.participants %}
							{% set gn = participant.gn %}
							{% if participant.groupeGn %}
								{% set groupe = participant.groupeGn.groupe.nom %}
							{% endif %}
						{% endfor %}
						{{ gn }} - {{ groupe }}
					</td>
					<td>
						{% for participant in personnage.participants %}
							<strong>{{ participant.gn.label }}</strong>&nbsp;-&nbsp;
							{{ participant.user.etatCivil.nom }} {{ participant.user.etatCivil.prenom }}<br />
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('personnage.admin.xp', {'personnage': personnage.id}) }}">Points d'expériences</a>
					</td>
					<td>
						{% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
						{% set potionAnomalie = personnage.getPotionAnomalieMessage() %}
						{% set sortAnomalie = personnage.getSortAnomalieMessage() %}
						{% set priereAnomalie = personnage.getPrieresAnomalieMessage() %}
						{% if languesAnomalie != "" or potionAnomalie != "" or sortAnomalie != "" or priereAnomalie != "" %}
							<div style="margin:auto;" class="pastille-orange" title='{{languesAnomalie}} {{potionAnomalie}} {{sortAnomalie}} {{priereAnomalie}}'>&nbsp;</div>
						{% endif %}					
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
		
	{{ paginator|raw }}
	</div>

{% endblock content %}