{% extends "layout_print.twig" %}

{% block style %}
<style>
body {
	font-size : 12px;
}
table tr td {
	font-size : 12px;
	vertical-align: top;
}
</style>
{% endblock style %}

{% block content %}
	<div class="print-center">
		<table>
			<tr>
				<td style="width:33%;">
					<strong>#{{ personnage.id }}</strong><br />
					<strong>{{ personnage.nom }} {% if personnage.surnom %}<small>alias {{ personnage.surnom }}</small>{% endif %}</strong>
					<br />
					Origine : {{ personnage.territoire|default("non définie") }}
					<br />
					{{ personnage.classeName }}, {{ personnage.genre }}, <small>{{ personnage.ageReel|default('x') }} ans ({{ personnage.age }})</small>
					<br />
					{% if personnage.user %}{{ personnage.user.etatCivil.nom }} {{ personnage.user.etatCivil.prenom }}{% else %}Ce personnage n'est pas lié à un joueur{% endif %}. {% if personnage.intrigue %}participe aux intrigues{% else %}ne participe pas aux intrigues{% endif %}	
				</td>
				<td>
					<strong>{% if groupe %}Groupe #{{ groupe.numero }} {{ groupe.nom }}{% else %}PAS DE GROUPE{% endif %}</strong><br />
					 
					{% if participant %}
						{% for participantHasRestauration in participant.participantHasRestaurations %}
							{{ participantHasRestauration.restauration.label }}<br />
						{% endfor %}
						<strong>Personnage secondaire : </strong>
						{% if participant.personnageSecondaire %}
							{{ participant.personnageSecondaire.classe.label }}
						{% else %}
							PAS DE PERSONNAGE SECONDAIRE
						{% endif %}
					{% endif %}
				</td>
				<td>
					{% if personnage.user %}
						{% if personnage.user.etatCivil %}
							Personne à contacter en cas d'urgence : {{ personnage.user.etatCivil.personneAPrevenir }}
							<br />
							Téléphone : {{ personnage.user.etatCivil.telPap }}
							<br />
							Problèmes médicaux : {{ personnage.user.etatCivil.problemeMedicaux }} 
						{% endif %}
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Renommée</th>
				<th>Héroïsme</th>
				<th>Pugilat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			 	<td>{{ personnage.renomme|default(0) }}</td>
			 	<td>{{ personnage.heroisme|default(0) }}</td>
			 	<td>{{ personnage.pugilat }}</td>
		</tbody>
	</table>	
								
	<table>
		<thead>
			<tr>
				<th>Compétences</th>
				<th>Religions</th>
				<th>Langages</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center; width: 33%;">{{ personnage.xp|default(0) }} / {{ personnage.xpTotal }} xp</td>

				<td>
					{% for personnageReligion in personnage.personnagesReligions %}
						{{ personnageReligion.religion.label }} - {{ personnageReligion.religionLevel.label }}<br />
					{% endfor %}
				</td>
				<td>
					{% for personnageLangue in personnage.personnageLangues %}
						<strong>{{ personnageLangue.langue}}</strong> ({{ personnageLangue.source }})<br />
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>		

        <div style="border: 1px solid #000;padding: 5px;">
        {% for competence in personnage.competences %}
                <strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }})</strong> :
                {{ competence.descriptionRaw }}<br />
        {% endfor %}
        </div>
	
	<table>
		<thead>
			<tr>
				<th>Domaines de magie</th>
				<th>Inventaire</th>
				<th>Groupes secondaires</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{% for domaine in personnage.domaines %}
						{{ domaine.label }}<br />
					{% endfor %}
				</td>
				<td>				
					{% for document in personnage.documents %}
						{{ document.code }}&nbsp;{{ document.titre }}<br />
					{% endfor %}

					{% for item in personnage.items %}
						{{ item.numero }}&nbsp;{{ item.label }}<br />
					{% endfor %}
		
					{% for personnageIngredient in personnage.personnageIngredients %}
						{{personnageIngredient.nombre}} - {{ personnageIngredient.ingredient }}<br />
					{% endfor %}
		
					{% for personnageRessource in personnage.personnageRessources %}
						{{personnageRessource.nombre}} - {{ personnageRessource.ressource }}<br />
					{% endfor %}
										
					{{ personnage.richesse|default(0) }} PA<br />
		
					{% for technologie in personnage.technologies %}
						{{ technologie.label }}<br />
					{% endfor %}
				</td>
				<td>
					{% for groupeSecondaire in personnage.secondaryGroups %}
						{{ groupeSecondaire.label }}<br />
					{% endfor %}
					
					{% for postulant in personnage.postulants %}
						Candidature au groupe {{ postulant.secondaryGroup.label }} en attente de validation.<br />
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	
	<table>
		<thead>
			<tr>
				<th>Sorts</th>
				<th>Potions</th>
				<th>Prières</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{% for sort in personnage.sorts %}
						{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}<br />
					{% endfor %}
				</td>
				<td>
					{% for potion in personnage.potions %}
						{{ potion.label }} - Niveau {{ potion.niveau }}<br />
					{% endfor %}
				</td>		
					
				<td>			
					{% for priere in personnage.prieres %}
						{{ priere.sphere.label }} - Niveau {{ priere.niveau }} ({{ priere.label }})<br />
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
					
	<hr />	
	<br />
	<br />
	
	<div class="print-center">
		<span style="font-size:12px;">Partie à découper et à remettre au PC Joueur par votre meurtrier en cas de mort du personnage</span>
		<h4>Personnage ID : {{ personnage.id }}
		{{ personnage.nom }} {% if personnage.surnom %}<small>alias {{ personnage.surnom }}</small>{% endif %}<br />
		MORT</h4>
	</div>
	
	
{% endblock content %}
