<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>LarpManager - Impression des fiches de personnage</title>
    </head>
    <body>

<table style="width:100%;">
	<thead>
		<tr>
			<th>Groupe</th>
			<th>id perso</th>
			<th>nom</th>
			<th>surnom</th>
			<th>Joueur nom</th>
			<th>Joueur prénom</th>
			<th>Pugilat</th>
		</tr>
	</thead>
	<tbody>
{% for groupe in groupes %}
		{% for personnage in groupe.personnages %}
			{% if personnage.hasPugilatErreur %}
				<tr>
					<td>#{{ groupe.numero }} {{ groupe.nom }}</td>
					<td>{{ personnage.id }}</td>
					<td>{{ personnage.nom }}</td>
					<td>{{ personnage.surnom }}</td>
					<td>{{ personnage.user.etatCivil.nom }}</td>
					<td>{{ personnage.user.etatCivil.prenom }}</td>
					<td>{{ app['personnage.manager'].pugilat(personnage)|default(0) }}</td>
				</tr>
			{% endif %}
		{% endfor %}
{% endfor %}

</tbody>
</table>
</body>
</html>