{% extends "layout.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block content %}
<div class="container-fluid">

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Choix des potions</li>
	</ol>
	
	<div class="well bs-component">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Niveau</th>
					<th>Secret</th>
					<th>Description</th>
					<th>Ajouter/Retirer</th>
				</tr>
			</thead>
			<tbody>
			{% for potion in potions %}
				<tr>
					<td>{{ potion.label }}</td>
					<td>{{ potion.niveau }}</td>
					<td>{% if potion.secret %}
							<span style="color:red;">Secret</span>
						{% else %}
							Non
						{% endif %}
					</td>
					<td>{{ potion.description|markdown}}</td>
					<td>{% if personnage in potion.personnages  %}
							<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Retirer cette potion"
							   href="{{ path('personnage.admin.remove.potion',{'personnage':personnage.id, 'potion':potion.id}) }}">
								<i class="fa fa-minus" style="color: red"></i></a>
						{% else %}
							<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ajouter cette potion"
							   href="{{ path('personnage.admin.add.potion',{'personnage':personnage.id, 'potion':potion.id}) }}">
								<i class="fa fa-plus" style="color: green"></i></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}