<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('region.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter une région</h4>
		</a>
	{%  endif %}
	{%  for region in regions %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ region.nom }} <small>{{ region.pays.nom }}</small>
		</h4>
		<p class="list-group-item-text">
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('region.detail', {index: region.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('region.update', {index: region.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
			
			{% if region.description %}
				<p class="text-info">{{ region.description }}</p>
			{% else %}
				<p class="text-warning">Attention, cette région n'a pas description</p>
			{%  endif %}
		</p>
		
		<p class="list-group-item-text">
			<small>Créé par {{ region.creator.username }} le {{ region.creationDate|date('Y-m-d H:i:s') }}. Dernière mise à jour le {{ region.updateDate|date('Y-m-d H:i:s') }}</small>
		</p>
		
	</li>
	{%  endfor %}
</ul>