{% extends "layout.twig" %}

{% block title %}Intrigues{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('intrigue.list') }}">Liste des intrigues</a></li>
		<li class="active">Détail de {{ intrigue.titre }}</li>
	</ol>
	
	<div class="well well-sm">
		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-default" href="{{ path('intrigue.update', {'intrigue':intrigue.id}) }}"><i class="fa fa-pencil"></i> Modifier l'intrigue</a>
				<a class="btn btn-default" href="{{ path('intrigue.relecture.add', {'intrigue':intrigue.id}) }}"><i class="fa fa-pencil"></i> Ajouter une relecture</a>
				<a class="btn btn-danger" href="{{ path('intrigue.delete', {'intrigue':intrigue.id}) }}"><i class="fa fa-close"></i> Supprimer l'intrigue</a>
				
				<h6><i class="fa fa-circle"></i>&nbsp;{{ intrigue.titre }}</h6>
				<div class="white-box">
					{{ intrigue.description|markdown }}
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Groupes concernés</h6>
				<div class="white-box">
					<ul>
					{% for intrigueHasGroupe in intrigue.intrigueHasGroupes %}
						<li><a href="{{ path('groupe.detail', {'index': intrigueHasGroupe.groupe.id}) }}">{{ intrigueHasGroupe.groupe.nom }}</a></li>
					{% else %}
						<li>Aucun</li>
					{% endfor %}
					</ul>
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Groupes secondaires concernés</h6>
				<div class="white-box">
					<ul>
					{% for intrigueHasGroupeSecondaire in intrigue.intrigueHasGroupeSecondaires %}
						<li><a href="{{ path('groupeSecondaire.admin.detail', {'groupe': intrigueHasGroupeSecondaire.secondaryGroup.id}) }}">{{ intrigueHasGroupeSecondaire.secondaryGroup.label }}</a></li>
					{% else %}
						<li>Aucun</li>
					{% endfor %}
					</ul>
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Instances concernées</h6>
				<div class="white-box">
					<ul>
					{% for intrigueHasLieu in intrigue.intrigueHasLieus %}
						<li><a href="{{ path('lieu.detail', {'lieu': intrigueHasLieu.lieu.id}) }}">{{ intrigueHasLieu.lieu.nom }}</a></li>
					{% else %}
						<li>Aucun</li>
					{% endfor %}
					</ul>
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Evénements</h6>
				<div class="white-box">
					<ul>
					{% for intrigueHasEvenement in intrigue.intrigueHasEvenements %}
						<li><strong>{{ intrigueHasEvenement.evenement.date }}</strong>&nbsp;:&nbsp;{{ intrigueHasEvenement.evenement.text }}</li>
					{% else %}
						<li>Aucun</li>
					{% endfor %}
					</ul>
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Objectifs</h6>
				<div class="white-box">
					<ul>
					{% for intrigueHasObjectif in intrigue.intrigueHasObjectifs %}
						<li>{{ intrigueHasObjectif.objectif.text }}</li>
					{% else %}
						<li>Aucun</li>
					{% endfor %}
					</ul>
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Intrigue</h6>
				<div class="white-box">
					{{ intrigue.text|markdown }}
				</div>
				
				<h6><i class="fa fa-circle"></i>&nbsp;Résolution</h6>
				<div class="white-box">
					{{ intrigue.resolution|markdown }}
				</div>
			</div>
			<div class="col-md-6">
				<h4>Auteur</h4>
				<p>Cette intrigue a été créé par <strong><a href="{{ path('user.view', {'id': intrigue.user.id}) }}">{{ intrigue.user.username }}</a></strong> le <strong>{{ intrigue.dateCreation|date('Y-m-d H:i:s') }}</strong></p>
					
				<h4>Modifications</h4>
				<ul>
					{% for modification in intrigue.intrigueHasModifications %}
						<li>Modification par <a href="{{ path('user.view', {'id': intrigue.user.id}) }}">{{ modification.user.username }}</a> le <strong>{{ modification.date|date('Y-m-d H:i:s') }}</strong></li>
					{% else %}
						<li>Cette intrigue n'a pas encore été modifiée</li>
					{% endfor %}
				</ul>
				
				<h4>Relectures</h4>
				{% for relecture in intrigue.relectures %}
					<div class="white-box">
						<strong>{{ relecture.date|date('Y-m-d H:i:s') }} :</strong> <strong><a href="{{ path('user.view', {'id': intrigue.user.id}) }}">{{ relecture.user.username }}</a></strong> a relu l'intrigue. Statut donné : <strong>{{ relecture.statut }}</strong>
						{{ relecture.remarque|markdown }}
					</div>
				{% else %}
					Aucune relectures n'a été faite.
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}