{% extends "layout.twig" %}

{% block title %}Intrigues{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des intrigues</li>
	</ol>
	
	<div class="well well-sm">
	
		<div class="header">
			<h5>Liste des intrigues</h5>
		</div>
		
		<ul class="list-group">
			<li class="list-group-item">	
				<div class="btn-toolbar" role="toolbar" aria-label="...">
					<form class="form-inline" action="{{ path('intrigue.list') }}" method="POST" {{ form_enctype(form) }}>
						{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}				
						<div class="form-group">
							<div class="input-group">
								{{ form_widget(form.search) }}
							</div>
							<div class="input-group">					
								{{ form_widget(form.type) }}
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default" data-toggle="tooltup" data-placement="top" title="Lancer la recherche"><i class="fa fa-search"></i></button>
									<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset" href="{{ path('intrigue.list') }}"><i class="fa fa-refresh"></i></a>
								</div>
							</div>
						</div>
						{{ form_rest(form) }}
			   		</form>
				</div>
			</li>
			<li class="list-group-item">
		   		<a href="{{ path('intrigue.add') }}">Ajouter une intrigue</a>
		   	</li>		 
			<li class="list-group-item">
			    {% if paginator.totalItems == 1 %}
			        <strong>1</strong> intrigue trouvée.
			    {% else %}
			        <strong>{{ paginator.totalItems }}</strong> intrigues trouvées.
			    {% endif %}
			
			    Montre <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.
			</li>
	    </ul>
	    
	    {{ paginator|raw }}
		
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<th>Titre</th>
				<th>Description</th>
				<th>Auteur</th>
				<th>Date de création</th>
				<th>Date de mise à jour</th>
				<th>Groupes concernés</th>
				<th></th>
			</thead>
			<tbody>
			{% for intrigue in intrigues %}
				<tr>
					<td>{{ intrigue.titre }}</td>
					<td>{{ intrigue.description|markdown }}</td>
					<td>{{ intrigue.user.username }}</td>
					<td>{{ intrigue.dateCreation|date('Y-m-d') }}</td>
					<td>{{ intrigue.dateUpdate|date('Y-m-d') }}</td>
					<td>
						<ul>
						{% for intrigueHasGroupe in intrigue.intrigueHasGroupes %}
							<li><a href="">{{ intrigueHasGroupe.groupe.nom }}</a></li> 
						{% else %}
							<li>Aucun</li>
						{% endfor %}
						</ul>
					</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
								<a class="btn btn-primary" href="{{ path('intrigue.detail', {'intrigue':intrigue.id}) }}"><i class="fa fa-eye"></i></a>
								<a class="btn btn-danger" href="{{ path('intrigue.update', {'intrigue':intrigue.id}) }}"><i class="fa fa-pencil"></i></a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			
		{{ paginator|raw }}
	</div>
	
{% endblock content %}