{% extends "layout.twig" %}

{% block title %}Statistique{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Statistique</li>
	</ol>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Langues en fonction de leur utilisation comme langue principale par un territoire
				</div>
				<div class="panel-body">
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Classes utilisées par les personnages.
				</div>
				<div class="panel-body">
					<canvas id="myChartClasses"></canvas>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ app.request.basepath }}/js/Chart.min.js"></script>
	
	<script>
		Chart.defaults.global.responsive = true;
	
		var data = {{ langues|raw }};
		var ctx = document.getElementById("myChart").getContext("2d");
		var myNewChart = new Chart(ctx).Pie(data, {
			animation: true,
			animationSteps: 60,
			animationEasing: "easeOutQuart",
			segmentShowStroke : true,
			segmentStrokeColor : "#fff",
			});

		var data = {{ classes|raw }};
		var ctx = document.getElementById("myChartClasses").getContext("2d");
		var myNewChart = new Chart(ctx).Pie(data, {
			animation: true,
			animationSteps: 60,
			animationEasing: "easeOutQuart",
			segmentShowStroke : true,
			segmentStrokeColor : "#fff",
			});
	</script>
{% endblock %}