{% extends "layout.twig" %}

{% block content %}

	<div class="page-header">
	<h1>
		Liste des objets
	</h1>
	</div>
	
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  		
	  		<form action="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page})) }}" method="POST" {{ form_enctype(form) }}>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
			</form>
			
			<div class="form-group">
				<div class="btn-group" role="group" aria-label="...">
					<a href={{ path('stock_objet_index') }} class="btn btn-default"><span class="icon fa fa-refresh"></span></a>
				 	<a href={{ path('stock_objet_add') }} class="btn btn-default"><span class="icon fa fa-plus"></span></a>
				</div>
				

				<div class="btn-group" role="group" aria-label="...">
				  	<ul class="pagination">
				    	<li {% if pagination.page <= 1 %} class="disabled" {%  endif %}>
				    		<a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}" aria-label="First"><span aria-hidden="true"><<</span></a>
				    	</li>
				    	
				  		<li {% if pagination.page <= 1 %} class="disabled" {%  endif %}>    		
							<a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}" aria-label="Previous"><span aria-hidden="true"><</span></a>
				        </li>
				
				        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
				        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
				            <li {% if p == pagination.page %} class="active"{% endif %}>
				            	<a href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
							</li>
				        {% endfor %}
				        
				        
				        <li {% if pagination.page<=pagination.pages_count %} class="disabled"{% endif %}>
				        	<a href="{{ path(pagination.route,pagination.route_params|merge({'page': pagination.page+1})) }}">></a>
				         </li>
				         <li {% if pagination.page<=pagination.pages_count %} class="disabled"{% endif %}>
				          	<a href="{{ path(pagination.route,pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
				         </li>    
					</ul>
				</div>
				
			</div>
						
  		</div>
  	</nav>
  	

  		
	<div class="row" >
		{% for objet in objets %}
		<div class="col-xs-12 col-sm-6 col-md-3">
  			<div class="thumbnail">	
	   			{% if objet.photo %}
	    			<img src="{{ path('stock_objet_photo',{index: objet.id}) }}" alt="{{ objet.photo.name }}" class="img-responsive" />
				{% endif %}
				<div class="caption">
					<h3>{{ objet.code }}&nbsp;<small>{{ objet.nom }}</small></h3>
			        <p>{{ objet.description }}</p>
			        
			        <div class="btn-group" role="group" aria-label="...">
			        	<a href="{{ path('stock_objet_detail', {index: objet.id}) }}" class="btn btn-primary" role="button">Voir</a>
			        	<a href="{{ path('stock_objet_update', {index: objet.id}) }}" class="btn btn-default" role="button">Modifier</a>
			        	<a href="{{ path('stock_objet_clone', {index: objet.id}) }}" class="btn btn-default" role="button">Cloner</a>
			        </div>
			        
				</div>
			</div>
		</div>
  		{% endfor %}
  	</div>
			
{% endblock content %}





