{% extends "layout.twig" %}

{% block content %}

	<div class="page-header">
		<h1>{{ titre }}</h1>
	</div>

	<div class="btn-group" role="group" aria-label="...">
		{{ include("stock/objet/fragment/pagination.twig",{'pagination': pagination}) }}
	</div>
	
	<div class="btn-group" role="group" aria-label="...">
		<a href="" aria-label="First">
		<a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}" class="btn btn-default"><span class="icon fa fa-refresh"></span></a>
		<a href="{{ path('stock_objet_add') }}" class="btn btn-default"><span class="icon fa fa-plus"></span></a>
	</div>
				
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 ">
				{{ include("stock/objet/fragment/list.twig",{'objets': objets, 'add': false}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}