<!-- Contenu d'un thunbnails -->

<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
        {% if objet.objetPhoto %}
        	<img src=" {{ app.request.basepath }}/upload/{{ objet.objetPhoto.realName }}" />
        {% endif %}
		<div class="caption">
	        <h3>{{ objet.nom }}</h3>
	        <small>{{ objet.code }}</small>
	        <p>{{ objet.description }}</p>
	        <p><a href="#" class="btn btn-primary" role="button">Modifier</a>
	        <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
    	</div>
	</div>
</div>