{% extends "layout.twig" %}

{% block title %}Prières{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.priere.list') }}">Liste des prières</a></li>
		<li class="active">Personnages ayant {{ priere.label }} - Niveau {{ priere.niveau }}</li>
	</ol>
	
	<div class="list-group">
		{% for personnage in priere.personnages %}
			<a class="list-group-item" href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">{{ personnage.identity }}</a>
		{% endfor %}
	</div>
	
{% endblock content %}