{% extends "layout.twig"  %}

{% block title %}Etat-civil{% endblock %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('user.admin.list') }}">Liste des utilisateurs</a></li>
		<li class="active">Etat-civil d'un utilisateur</li>
	</ol>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="list-group-item-heading">
				Etat civil de {{ etatCivil.prenom }} {{ etatCivil.nom }}
			</h4>
		</div>
		
		<div class="panel-body">
			<table class="table table-striped table-bordered table-condensed table-hover">
				<caption>Informations</caption>
				<thead>
					<tr>
						<th class="col-md-2"></th>
						<th class="col-md-10"></th>
					</tr>
				</thead>
				<tbocy>
					<tr>
						<th>Nom civil</th>
						<td>{{ etatCivil.nom }}</td>
					</tr>
					<tr>
						<th>Prénom civil</th>
						<td>{{ etatCivil.prenom }}</td>
					</tr>
					<tr>
						<th>Date de naissance</th>
						<td>
							{% if etatCivil.dateNaissance %}
								{{ etatCivil.dateNaissance|date('Y-m-d') }}
							{% else %}
								Non renseigné
							{% endif %}
							</td>
					</tr>
					<tr>
						<th>Prénom d'usage</th>
						<td>{{ etatCivil.prenomUsage }}</td>
					</tr>
					<tr>
						<th>Numéro de téléphone</th>
						<td>{{ etatCivil.telephone }}</td>
					</tr>
					<tr>
						<th>Problèmes médicaux</th>
						<td>{{ etatCivil.problemeMedicaux }}</td>
					</tr>
					<tr>
						<th>Personne à prévenir en cas d'urgence</th>
						<td>{{ etatCivil.personneAPrevenir }}</td>
					</tr>
					<tr>
						<th>Numéro de téléphone de la personne à prévenir</th>
						<td>{{ etatCivil.telPap }}</td>
					</tr>
					<tr>
						<th>Numéro d'adhérant à la FédéGn</th>
						<td>{{ etatCivil.fedegn }}</td>
					</tr>
				</tbocy>
			</table>
		</div>
	</div>
	
{% endblock content %}