{% extends "layout.twig" %}

{% block content %}

	<table>
	<caption>Liste des états</caption>
	<thead>
		<tr>
			<th>ID</th>
			<th>Label</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for etat in etats %}
	<tr>
	<td>{{ etat.id }}</td>
	<td><a href="{{ path('stock_etat_detail', {index : etat.id} ) }}">{{ etat.label }}</td>
	<td><a href="{{ path('stock_etat_update', {index : etat.id} ) }}">Modifier</a></td>
	<td><a href="{{ path('stock_etat_delete', {index : etat.id} ) }}">Supprimer</a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	
	<a href="{{  path('stock_etat_add') }}">Ajouter un état</a>

{% endblock %}
