{% extends "layout.twig" %}

{% block title %}Technologie{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des technologies</li>
	</ol>

	<div class="well bs-component">
		<a href="{{ path('technologie.add') }}"><i class="fa fa-plus"></i> Ajouter une technologie</a>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			<tr>
				<th>Nom</th>
				<th>Secret</th>
				<th>Expert</th>
				<th>Description</th>
				<th>Ressources requises</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for technologie in technologies %}
				<tr>
					<td>{{ technologie.label }}</td>
					<td>{% if technologie.secret %}
							<span style="color:red;">Secret</span>
						{% else %}
							Non
						{% endif %}
					</td>
					<td>{{ technologie.competenceFamily.label }}</td>
					<td style="width: 33%">{{ technologie.description | striptags}}</td>
					<td style="width: 33%">
						{% if technologie.ressources|length < 1 %}
							<span class="text-danger">{{ technologie.label }} ne requiert actuellement aucune Ressource ; Veuillez en ajouter :</span>
						{% else %}
							{% for technologieRessource in technologie.ressources %}
									{{ technologieRessource.quantite }} {{ technologieRessource.ressource.label }}
									<a class="btn" data-toggle="tooltip" data-placement="top" title="Retirer {{ technologieRessource.ressource.label }}"
										href="{{ path('technologie.ressource.remove', {'technologie':technologie.id, 'ressource':technologieRessource.ressource.id, 'ressourceNom':technologieRessource.ressource.label}) }}"
										onclick="return confirm('Vous vous apprétez à retirer {{ technologieRessource.ressource.label }} de {{ technologie.label }}. Confirmer ?')">
										<i class="fa fa-trash"></i></a>/
							{% endfor %}
						{% endif %}
						<a class="btn" data-toggle="tooltip" data-placement="top" title="Ajouter/Modifier une Ressource"
						   href="{{ path('technologie.ressource.add', {'technologie':technologie.id}) }}">
							<i class="fa fa-plus"></i>
						</a>
					</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
							<fieldset>
								<div class="btn-group" role="group" aria-label="..." >
									<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('technologie.update', {'technologie':technologie.id}) }}"><i class="fa fa-pencil"></i></a>
									<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Voir Personnages" href="{{ path('technologie.personnages', {'technologie':technologie.id}) }}"><i class="fa fa-users"></i> ({{ technologie.personnages|length }})</a>
									<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('technologie.delete', {'technologie':technologie.id}) }}"><i class="fa fa-eraser"></i></a>
								</div>
							</fieldset>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endblock %}