{% extends "layout.twig" %}

{% block title %}Technologie{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des technologies</li>
	</ol>

	<div class="well well-sm">
	
		<a href="{{ path('technologie.add') }}"><i class="fa fa-plus"></i> Ajouter une technologie</a>
		
		<ul class="list-group">
		{% for technologie in technologies %}
		
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						{{ technologie.label }}
						{{ technologie.description|markdown }}
					</div>
					<div class="col-md-4">
						<a href="{{ path('technologie.update',{'technologie':technologie.id}) }}"><i class="fa fa-pencil"></i> Modifier</a>&nbsp;|&nbsp;
						<a href="{{ path('technologie.detail',{'technologie':technologie.id}) }}"><i class="fa fa-eye"></i> Detail</a>&nbsp;|&nbsp;
						<a href="{{ path('technologie.personnages',{'technologie':technologie.id}) }}"><i class="fa fa-users"></i> Personnages</a>&nbsp;|&nbsp;
						<a href="{{ path('technologie.delete',{'technologie':technologie.id}) }}"><i class="fa fa-eraser"></i> Supprimer</a>
					</div>
				</div>
		    </li>

		{% endfor %}
	 	</ul>
	</div>
	
{% endblock %}