Vos groupes secondaires :
<div class="header">
	<h5>{{ groupe.label }}</h5>
</div>
<p>{{ groupe.description|markdown }}</p>

<h6>Liste des postulants</h6>

<ul>
{% for postulant in groupe.postulants %}
	<li>
		{{ postulant.personnage.nom }} - {{ postulant.personnage.surnom }}
		Voir sa demande. Rejeter . Accepter
	</li>
{% endfor %}
</ul>

<h6>Liste des membres</h6>

<ul>
{% for personnage in groupe.personnages %}
	<li>
		{{ personnage.nom }} - {{ personnage.surnom }}
		Retirer
	</li>
{% endfor %}
</ul>