{# detail du groupe #}

<h4>{{ groupe.nom }}</h4>

<div class="header">
	<h5>Composition</h5>
</div>

<ul class="list-group">
	{% if groupe.responsable %}
		<li class="list-group-item"><strong>Responsable : </strong>{{ groupe.responsable.username }} / {{ groupe.responsable.email }}</li>
	{% endif %}
	{% if groupe.scenariste %}
		<li class="list-group-item"><strong>Scénariste : </strong>{{ groupe.scenariste.username }} / {{ groupe.scenariste.email }}</li>
	{% endif %}
	{% for participant in  groupe.participants %}
		<li class="list-group-item">{{ participant.user.username }} / {{ participant.user.email }}</li>
	{% endfor %}
</ul>

<br />

<div class="header">
	<h5>Territoire</h5>
</div>
	
{% if groupe.territoire %}
	<h6>{{ groupe.territoire.nom }}</h6>
	{{ groupe.territoire.description|markdown }}
{% else %}
	Votre groupe n'est pas lié à un territoire.
{% endif %}
				




