<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('appelation.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter une appelation</h4>
		</a>
	{%  endif %}
	{%  for appelation in appelations %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ appelation.label }} 
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="{{ path('appelation.detail', {index: appelation.id}) }}" class="btn btn-primary" role="button">Détail</a>
			    <a href="{{ path('appelation.update', {index: appelation.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
		<p class="list-group-item-text">		
			{% if appelation.description %}
				<p class="text-default">{{ appelation.description }}</p>
			{% else %}
				<p class="text-warning">Attention, cette appelation n'a pas description</p>
			{%  endif %}
		</p>
		<p class="list-group-item-text">
			{{ appelation.appelations|join(', ') }}
		</p>
	</li>
	{%  endfor %}
</ul>