{% extends "layout.twig" %}

{% block title %}Rumeurs{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('rumeur.list') }}">Liste des rumeurs</a></li>
		<li class="active">Modification d'une rumeur</li>
	</ol>
	
	<div class="well bs-component">
		<form action="{{ path('rumeur.update', {'rumeur': rumeur.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
			<fieldset>
				<legend>Modification d'une rumeur</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
			</fieldset>
		</form>
	</div>
	
{% endblock content %}