{% extends "layout.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}

{% block content %}

<div class="well bs-component">	
	<form action="{{ path('groupe.personnage.competence',{'index':groupe.id}) }}" method="POST" {{ form_enctype(form) }}>
		<fieldset>
			<legend>{{ groupe.nom }} - <small>Création d'un personnage</small></legend>
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}

			{{ form_row(form.competences) }}
			{{ form_rest(form) }}
		</fieldset>
	</form>
</div>
{% endblock content %}

{% block javascript %}

{{ parent() }}

{%  endblock javascript %}