{% extends "layout.twig" %}

{% block title %}Règles{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">Règles</li>
	</ol>
	
	<div class="well bs-component">
								
		<div class="header"><h5>Liste des règles</h5></div>
		
		<blockquote>Les fichiers ci-dessous contiennent les règles spécifiques à certains aspect du jeu. Lisez-les avec attention.</blockquote>
		
		<div class="list-group">
			{% for regle in regles %}
				<a class="list-group-item" href="{{ path('participant.regle.detail', {'participant': participant.id, 'rule': regle.id}) }}">
					<h5 class="list-group-item-heading">{{ regle.label }}</h5>
					<p class="list-group-item-text">{{ regle.description|markdown }}</p>
				</a>
			{% endfor %}
		</div>
	</div>
	
{% endblock content %}