
	
	<li class="list-group-item" ng-repeat="territoire in territoires">
		<h6>{[{ territoire.nom }]}</h6>
		<div class="row">
			<div class="col-sm-6">
				{[{ territoire.description }]}
			</div>
			<div class="col-sm-6">
				<strong>Groupes</strong>
				<strong>Chronologie</strong>
				<ul>
					<li ng-repeat="event in territoire.chronologies">
						{[{ event.year }]}
						{[{ event.nom }]}
						{[{ event.description }]}
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>

{#}
	{%  if add != false %}
		<a href="{{ path('territoire.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un territoire</h4>
		</a>
	{%  endif %}
	{%  for territoire in territoires %}
		
	{%  set step = territoire.stepCount %}
	<li class="list-group-item" {% if step > 0 %} style="padding-left: {{ step * 50 }}px"{% endif %}>
		<h4 class="list-group-item-heading">
			{{ territoire.nom }} ({% if territoire.appelation %}{{ territoire.appelation.label }}{% else %}<span class="text-warning">Attention, ce territoire n'a d'appelation</span>{% endif %})
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="{{ path('territoire.detail', {index: territoire.id}) }}" class="btn btn-primary" role="button">Détail</a>
			    <a href="{{ path('territoire.update', {index: territoire.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
		<p class="list-group-item-text">		
			{% if territoire.description %}
				<p class="text-default">{{ territoire.description|slice(0,500) }} ...</p>
			{% else %}
				<p class="text-warning">Attention, ce territoire n'a pas description</p>
			{%  endif %}
		</p>
		{%  if territoire.territoires|length > 0 %}
			<p class="list-group-item-text">
				Contient les territoires suivants : {{ territoire.territoires|join(', ') }}
			</p>
		{% endif %}
	</li>
	{%  endfor %}
</ul> #}