{% extends "layout.twig"  %}

{% block title %}{{ user.displayName }}{% endblock %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		{% if is_granted('ROLE_ADMIN', app.user) %}<li><a href="{{ path('user.admin.list') }}">Liste des utilisateurs</a></li>{% endif %}
		<li class="active">Détail d'un utilisateur</li>
	</ol>
	
	<div class="well well-sm">
	
	<div class="media">

    	<div class="media-body">

	        <h1 class="media-heading">
	            {{ user.displayName }}
	        </h1>

	        {% if not user.isEnabled %}
	            <div style="margin-bottom: 5px;">
	                <span class="label label-danger">Pending email confirmation</span>
	                <span class="text-muted">(visible to admins only)</span>
	            </div>
	        {% endif %}


	        {% if is_granted('EDIT_USER', user) %}
	            <div class="text-muted">
	                {{ user.email }}
	            </div>
	        {% endif %}

	        <div class="text-muted">
	            Registered {{ user.creationDate|date('F j, Y') }}
	        </div>

	        <h4>Participations</h4>
	        
	        <div class="list-group">
	        {% for participant in user.participants %}
		        <div class="list-group-item">
		        	<div>
		        		Participe à {{ participant.gn.label }}
		        	</div>
		        	
		        	{% if participant.groupe %}
		        		<div>
		        			Membre du groupe <a href="{{ path('groupe.detail',{'index':participant.groupe.id})  }}">{{ participant.groupe.nom }}</a>
		        		</div>
		        	{% endif %}
		        
		        	{% if participant.personnage %}
		        		<div>
							Personnage : <a href="{{ path('personnage.admin.detail',{'personnage': participant.personnage.id}) }}">{{ participant.personnage.publicName }}</a>
						</div>	        		
		        	{% endif %}
		        </div>
	        {% endfor %}
	        </div>
	        
	        {% if is_granted('EDIT_USER', user) %}
	            <div>
	                <a href="{{ path('user.edit', {'id': user.id}) }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>Modifier</a>
	            </div>
	            <div>
	                <a href="{{ path('user.personnageDefault', {'user': user.id}) }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>Choisir mon personnage par défaut</a>
	            </div>
	        {% endif %}
    	</div>
	</div>
</div>


{% endblock %}
