{% extends "layout.twig" %}

{% block title %}Modifier l'utilisateur : {{ user.displayName }}{% endblock %}

{% block content %}

	{% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}
    
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('user.admin.list') }}">Liste des utilisateurs</a></li>
		<li class="active">Modifier l'utilisateur : {{ user.displayName }}</li>
	</ol>
	
    <div class="well well-sm">
	    <form class="form-horizontal" method="POST" action="{{ path("user.edit", {'id': user.id}) }}">
	
	        <div class="form-group">
	            <label class="col-sm-2 control-label" for="input-name">
	                Image Gravatar<br>
	                <a href="http://gravatar.com">Changer</a>
	            </label>
	            <div class="col-sm-8 form-control-static">
	                <img src="{{ image_url }}"/>
	            </div>
	        </div>
	
	        <div class="form-group">
	            <label class="col-sm-2 control-label" for="input-name">Name</label>
	            <div class="col-sm-8">
	                <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" value="{{ user.name }}">
	                <p class="help-block">Public</p>
	            </div>
	        </div>
	
	        <div class="form-group">
	            <label class="col-sm-2 control-label" for="input-email">Email</label>
	            <div class="col-sm-8">
	                <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ user.email }}">
	                <p class="help-block">Jamais partagé</p>
	            </div>
	        </div>
	
	        {% if user.hasRealUsername %}
	            <div class="form-group">
	                <label class="col-sm-2 control-label" for="input-name">Username</label>
	                <div class="col-sm-8">
	                    <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" value="{{ user.realUsername }}">
	                </div>
	            </div>
	        {% endif %}
	
	        <div class="form-group">
	            <label class="col-sm-2 control-label" for="input-password">New password</label>
	            <div class="col-sm-8">
	                <input class="form-control" name="password" type="password" id="input-password" placeholder="Nouveau mot de passe">
	                <p class="help-block">Laissez vide à moins de vouloir le modifier</p>
	            </div>
	        </div>
	
	        <div class="form-group">
	            <label class="col-sm-2 control-label" for="input-confirm-password">Confirmer le mot de passe</label>
	            <div class="col-sm-8">
	                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" placeholder="Confirmez le mot de passe">
	            </div>
	        </div>
	
			{% if is_granted('ROLE_ADMIN', app.user) %}
	            <div class="form-group">
	                <label class="col-sm-2 control-label" for="input-roles">
	                    Roles<br/>
	                    <span class="text-muted" style="font-weight: normal;">(Admin-only)</span>
	                </label>
	                <div class="col-sm-8">
	                    <select class="form-control" multiple id="input-roles" name="roles[]">
	                        {% for role in available_roles %}
	                            <option value="{{ role.label }}" {% if user.hasRole(role.label) %}selected{% endif %}>{{ role.label }}</option>
	                        {% endfor %}
	                    </select>
	                </div>
	            </div>
	        {% endif %}
	
	        <div class="form-group">
	            <div class="col-sm-8 col-sm-offset-2">
	                <button type="submit" class="btn btn-primary">Sauvegarder</button>
	                <a style="margin-left: 10px;" href="{{ path('user.view', {'id': user.id}) }}">Retourner au profil</a>
	            </div>
	        </div>
	
	    </form>
	</div>
{% endblock %}
